body {
  margin:0px;
  background-image:none;
  position:relative;
  left:-0px;
  width:529px;
  margin-left:auto;
  margin-right:auto;
  text-align:left;
}
#base {
  position:absolute;
  z-index:0;
}
#u1348_img {
  position:absolute;
  left:0px;
  top:0px;
  width:70px;
  height:70px;
}
#u1348 {
  position:absolute;
  left:64px;
  top:358px;
  width:70px;
  height:70px;
}
#u1349 {
  position:absolute;
  left:2px;
  top:27px;
  width:66px;
  visibility:hidden;
  word-wrap:break-word;
}
#u1348_ann {
  position:absolute;
  left:127px;
  top:354px;
  width:1px;
  height:1px;
}
#u1350_img {
  position:absolute;
  left:0px;
  top:0px;
  width:94px;
  height:31px;
}
#u1350 {
  position:absolute;
  left:396px;
  top:475px;
  width:94px;
  height:31px;
  font-family:'微软雅黑';
  font-weight:400;
  font-style:normal;
  font-size:14px;
  color:#FFFFFF;
}
#u1350_img.mouseOver {
}
#u1350.mouseOver {
}
#u1351 {
  position:absolute;
  left:2px;
  top:6px;
  width:90px;
  word-wrap:break-word;
}
#u1350_ann {
  position:absolute;
  left:483px;
  top:471px;
  width:1px;
  height:1px;
}
.u1353_img {
  position:absolute;
  left:0px;
  top:0px;
  width:80px;
  height:80px;
}
.u1353 {
  position:absolute;
  left:0px;
  top:0px;
  width:80px;
  height:80px;
}
.u1354 {
  position:absolute;
  left:2px;
  top:32px;
  width:76px;
  visibility:hidden;
  word-wrap:break-word;
}
.u1355_img {
  position:absolute;
  left:0px;
  top:0px;
  width:70px;
  height:70px;
}
.u1355 {
  position:absolute;
  left:5px;
  top:5px;
  width:70px;
  height:70px;
}
.u1356 {
  position:absolute;
  left:2px;
  top:27px;
  width:66px;
  visibility:hidden;
  word-wrap:break-word;
}
.u1357 {
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
.u1358_div {
  position:absolute;
  left:0px;
  top:0px;
  width:70px;
  height:22px;
  background:inherit;
  background-color:rgba(51, 51, 51, 0.427450980392157);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
.u1358 {
  position:absolute;
  left:5px;
  top:53px;
  width:70px;
  height:22px;
}
.u1359 {
  position:absolute;
  left:2px;
  top:3px;
  width:66px;
  visibility:hidden;
  word-wrap:break-word;
}
.u1360_img {
  position:absolute;
  left:0px;
  top:0px;
  width:20px;
  height:20px;
}
.u1360 {
  position:absolute;
  left:51px;
  top:54px;
  width:20px;
  height:20px;
}
.u1361 {
  position:absolute;
  left:2px;
  top:2px;
  width:16px;
  visibility:hidden;
  word-wrap:break-word;
}
#u1352-1 {
  position:absolute;
  left:0px;
  top:0px;
  width:80px;
  height:80px;
}
#u1352-2 {
  position:absolute;
  left:80px;
  top:0px;
  width:80px;
  height:80px;
}
#u1352-3 {
  position:absolute;
  left:160px;
  top:0px;
  width:80px;
  height:80px;
}
#u1352-4 {
  position:absolute;
  left:240px;
  top:0px;
  width:80px;
  height:80px;
}
#u1352 {
  position:absolute;
  left:145px;
  top:352px;
  width:320px;
  height:80px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
}
#u1362 {
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u1363 {
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u1364_div {
  position:absolute;
  left:0px;
  top:0px;
  width:443px;
  height:130px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(204, 204, 204, 1);
  border-radius:2px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u1364 {
  position:absolute;
  left:64px;
  top:130px;
  width:443px;
  height:130px;
}
#u1365 {
  position:absolute;
  left:2px;
  top:57px;
  width:439px;
  visibility:hidden;
  word-wrap:break-word;
}
#u1366 {
  position:absolute;
  left:70px;
  top:135px;
  width:432px;
  height:121px;
}
#u1366_input {
  position:absolute;
  left:0px;
  top:0px;
  width:432px;
  height:121px;
  font-family:'Arial Normal', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:13px;
  text-decoration:none;
  color:#000000;
  text-align:left;
  border-color:transparent;
  outline-style:none;
}
#u1366_ann {
  position:absolute;
  left:495px;
  top:131px;
  width:1px;
  height:1px;
}
#u1367_div {
  position:absolute;
  left:0px;
  top:0px;
  width:43px;
  height:16px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u1367 {
  position:absolute;
  left:12px;
  top:130px;
  width:43px;
  height:16px;
}
#u1368 {
  position:absolute;
  left:0px;
  top:0px;
  width:43px;
  white-space:nowrap;
}
#u1369 {
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u1370 {
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u1371_div {
  position:absolute;
  left:0px;
  top:0px;
  width:354px;
  height:33px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(204, 204, 204, 1);
  border-radius:2px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u1371 {
  position:absolute;
  left:63px;
  top:66px;
  width:354px;
  height:33px;
}
#u1372 {
  position:absolute;
  left:2px;
  top:8px;
  width:350px;
  visibility:hidden;
  word-wrap:break-word;
}
#u1373 {
  position:absolute;
  left:73px;
  top:70px;
  width:339px;
  height:25px;
}
#u1373_input {
  position:absolute;
  left:0px;
  top:0px;
  width:339px;
  height:25px;
  font-family:'Arial Normal', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:13px;
  text-decoration:none;
  color:#000000;
  text-align:left;
  border-color:transparent;
  outline-style:none;
}
#u1373_ann {
  position:absolute;
  left:405px;
  top:66px;
  width:1px;
  height:1px;
}
#u1374_div {
  position:absolute;
  left:0px;
  top:0px;
  width:43px;
  height:16px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u1374 {
  position:absolute;
  left:12px;
  top:72px;
  width:43px;
  height:16px;
}
#u1375 {
  position:absolute;
  left:0px;
  top:0px;
  width:43px;
  white-space:nowrap;
}
#u1376 {
  position:absolute;
  left:427px;
  top:75px;
  width:80px;
  height:16px;
}
#u1377 {
  position:absolute;
  left:2px;
  top:0px;
  width:62px;
  word-wrap:break-word;
}
#u1376_input {
  position:absolute;
  left:63px;
  top:-2px;
}
#u1378_div {
  position:absolute;
  left:0px;
  top:0px;
  width:43px;
  height:16px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u1378 {
  position:absolute;
  left:12px;
  top:383px;
  width:43px;
  height:16px;
}
#u1379 {
  position:absolute;
  left:0px;
  top:0px;
  width:43px;
  white-space:nowrap;
}
#u1380_div {
  position:absolute;
  left:0px;
  top:0px;
  width:43px;
  height:16px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u1380 {
  position:absolute;
  left:12px;
  top:297px;
  width:43px;
  height:16px;
}
#u1381 {
  position:absolute;
  left:0px;
  top:0px;
  width:43px;
  white-space:nowrap;
}
#u1382_div {
  position:absolute;
  left:0px;
  top:0px;
  width:118px;
  height:33px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(204, 204, 204, 1);
  border-radius:2px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u1382 {
  position:absolute;
  left:65px;
  top:289px;
  width:118px;
  height:33px;
}
#u1383 {
  position:absolute;
  left:2px;
  top:8px;
  width:114px;
  word-wrap:break-word;
}
#u1382_ann {
  position:absolute;
  left:176px;
  top:285px;
  width:1px;
  height:1px;
}
#u1384_div {
  position:absolute;
  left:0px;
  top:0px;
  width:167px;
  height:16px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u1384 {
  position:absolute;
  left:205px;
  top:299px;
  width:167px;
  height:16px;
}
#u1385 {
  position:absolute;
  left:0px;
  top:0px;
  width:167px;
  word-wrap:break-word;
}
#u1386_div {
  position:absolute;
  left:0px;
  top:0px;
  width:529px;
  height:49px;
  background:inherit;
  background-color:rgba(215, 215, 215, 0.8);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:16px;
}
#u1386 {
  position:absolute;
  left:0px;
  top:0px;
  width:529px;
  height:49px;
  font-size:16px;
}
#u1387 {
  position:absolute;
  left:2px;
  top:15px;
  width:525px;
  word-wrap:break-word;
}
#u1388 {
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u1389_img {
  position:absolute;
  left:0px;
  top:0px;
  width:32px;
  height:32px;
}
#u1389 {
  position:absolute;
  left:8px;
  top:7px;
  width:32px;
  height:32px;
}
#u1390 {
  position:absolute;
  left:2px;
  top:8px;
  width:28px;
  visibility:hidden;
  word-wrap:break-word;
}
