body {
  margin:0px;
  background-image:none;
  position:relative;
  left:-0px;
  width:531px;
  margin-left:auto;
  margin-right:auto;
  text-align:left;
}
#base {
  position:absolute;
  z-index:0;
}
#u5281_div {
  position:absolute;
  left:0px;
  top:0px;
  width:531px;
  height:420px;
  background:inherit;
  background-color:rgba(204, 204, 204, 0.498039215686275);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(204, 204, 204, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u5281 {
  position:absolute;
  left:0px;
  top:39px;
  width:531px;
  height:420px;
}
#u5282 {
  position:absolute;
  left:2px;
  top:202px;
  width:527px;
  visibility:hidden;
  word-wrap:break-word;
}
#u5283_div {
  position:absolute;
  left:0px;
  top:0px;
  width:531px;
  height:40px;
  background:inherit;
  background-color:rgba(204, 204, 204, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u5283 {
  position:absolute;
  left:0px;
  top:0px;
  width:531px;
  height:40px;
}
#u5284 {
  position:absolute;
  left:2px;
  top:12px;
  width:527px;
  word-wrap:break-word;
}
#u5285_img {
  position:absolute;
  left:0px;
  top:0px;
  width:25px;
  height:25px;
}
#u5285 {
  position:absolute;
  left:499px;
  top:8px;
  width:25px;
  height:25px;
}
#u5286 {
  position:absolute;
  left:2px;
  top:4px;
  width:21px;
  visibility:hidden;
  word-wrap:break-word;
}
#u5285_ann {
  position:absolute;
  left:517px;
  top:4px;
  width:1px;
  height:1px;
}
.u5288 {
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
.u5289_div {
  position:absolute;
  left:0px;
  top:0px;
  width:530px;
  height:123px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(204, 204, 204, 1);
  border-left:0px;
  border-top:0px;
  border-right:0px;
  border-radius:0px;
  border-top-left-radius:0px;
  border-top-right-radius:0px;
  border-bottom-right-radius:0px;
  border-bottom-left-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
.u5289 {
  position:absolute;
  left:0px;
  top:0px;
  width:530px;
  height:123px;
}
.u5290 {
  position:absolute;
  left:2px;
  top:54px;
  width:526px;
  visibility:hidden;
  word-wrap:break-word;
}
.u5291_img {
  position:absolute;
  left:0px;
  top:0px;
  width:150px;
  height:100px;
}
.u5291 {
  position:absolute;
  left:14px;
  top:11px;
  width:150px;
  height:100px;
}
.u5292 {
  position:absolute;
  left:2px;
  top:42px;
  width:146px;
  visibility:hidden;
  word-wrap:break-word;
}
.u5293_div {
  position:absolute;
  left:0px;
  top:0px;
  width:76px;
  height:17px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Arial Negreta', 'Arial Normal', 'Arial';
  font-weight:700;
  font-style:normal;
  font-size:15px;
}
.u5293 {
  position:absolute;
  left:187px;
  top:21px;
  width:76px;
  height:17px;
  font-family:'Arial Negreta', 'Arial Normal', 'Arial';
  font-weight:700;
  font-style:normal;
  font-size:15px;
}
.u5294 {
  position:absolute;
  left:0px;
  top:0px;
  width:76px;
  white-space:nowrap;
}
.u5295_div {
  position:absolute;
  left:0px;
  top:0px;
  width:184px;
  height:16px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  color:#999999;
}
.u5295 {
  position:absolute;
  left:187px;
  top:85px;
  width:184px;
  height:16px;
  color:#999999;
}
.u5296 {
  position:absolute;
  left:0px;
  top:0px;
  width:184px;
  white-space:nowrap;
}
.u5297_div {
  position:absolute;
  left:0px;
  top:0px;
  width:113px;
  height:16px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  color:#1E1E1E;
}
.u5297 {
  position:absolute;
  left:187px;
  top:53px;
  width:113px;
  height:16px;
  color:#1E1E1E;
}
.u5298 {
  position:absolute;
  left:0px;
  top:0px;
  width:113px;
  white-space:nowrap;
}
#u5287-1 {
  position:absolute;
  left:0px;
  top:0px;
  width:530px;
  height:123px;
}
#u5287-2 {
  position:absolute;
  left:0px;
  top:123px;
  width:530px;
  height:123px;
}
#u5287-3 {
  position:absolute;
  left:0px;
  top:246px;
  width:530px;
  height:123px;
}
#u5287 {
  position:absolute;
  left:0px;
  top:40px;
  width:530px;
  height:369px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
}
#u5287_ann {
  position:absolute;
  left:523px;
  top:36px;
  width:1px;
  height:1px;
}
