body {
  margin:0px;
  background-image:none;
  position:relative;
  left:-0px;
  width:529px;
  margin-left:auto;
  margin-right:auto;
  text-align:left;
}
#base {
  position:absolute;
  z-index:0;
}
#u2272_div {
  position:absolute;
  left:0px;
  top:0px;
  width:528px;
  height:517px;
  background:inherit;
  background-color:rgba(204, 204, 204, 0.498039215686275);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(204, 204, 204, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u2272 {
  position:absolute;
  left:1px;
  top:49px;
  width:528px;
  height:517px;
}
#u2273 {
  position:absolute;
  left:2px;
  top:250px;
  width:524px;
  visibility:hidden;
  word-wrap:break-word;
}
#u2274_div {
  position:absolute;
  left:0px;
  top:0px;
  width:496px;
  height:67px;
  background:inherit;
  background-color:rgba(242, 242, 242, 1);
  border:none;
  border-radius:5px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u2274 {
  position:absolute;
  left:17px;
  top:57px;
  width:496px;
  height:67px;
}
#u2275 {
  position:absolute;
  left:2px;
  top:26px;
  width:492px;
  visibility:hidden;
  word-wrap:break-word;
}
#u2276_img {
  position:absolute;
  left:0px;
  top:0px;
  width:50px;
  height:50px;
}
#u2276 {
  position:absolute;
  left:28px;
  top:65px;
  width:50px;
  height:50px;
}
#u2277 {
  position:absolute;
  left:2px;
  top:17px;
  width:46px;
  visibility:hidden;
  word-wrap:break-word;
}
#u2278_div {
  position:absolute;
  left:0px;
  top:0px;
  width:29px;
  height:16px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u2278 {
  position:absolute;
  left:88px;
  top:71px;
  width:29px;
  height:16px;
}
#u2279 {
  position:absolute;
  left:0px;
  top:0px;
  width:29px;
  white-space:nowrap;
}
#u2278_ann {
  position:absolute;
  left:110px;
  top:67px;
  width:1px;
  height:1px;
}
#u2280_div {
  position:absolute;
  left:0px;
  top:0px;
  width:121px;
  height:15px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:12px;
  color:#999999;
}
#u2280 {
  position:absolute;
  left:88px;
  top:97px;
  width:121px;
  height:15px;
  font-size:12px;
  color:#999999;
}
#u2281 {
  position:absolute;
  left:0px;
  top:0px;
  width:121px;
  white-space:nowrap;
}
#u2280_ann {
  position:absolute;
  left:202px;
  top:93px;
  width:1px;
  height:1px;
}
#u2282_div {
  position:absolute;
  left:0px;
  top:0px;
  width:89px;
  height:16px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u2282 {
  position:absolute;
  left:400px;
  top:82px;
  width:89px;
  height:16px;
}
#u2283 {
  position:absolute;
  left:0px;
  top:0px;
  width:89px;
  white-space:nowrap;
}
#u2284_div {
  position:absolute;
  left:0px;
  top:0px;
  width:136px;
  height:16px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u2284 {
  position:absolute;
  left:54px;
  top:167px;
  width:136px;
  height:16px;
}
#u2285 {
  position:absolute;
  left:0px;
  top:0px;
  width:136px;
  white-space:nowrap;
}
#u2286_div {
  position:absolute;
  left:0px;
  top:0px;
  width:115px;
  height:16px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u2286 {
  position:absolute;
  left:54px;
  top:138px;
  width:115px;
  height:16px;
}
#u2287 {
  position:absolute;
  left:0px;
  top:0px;
  width:115px;
  white-space:nowrap;
}
#u2288_div {
  position:absolute;
  left:0px;
  top:0px;
  width:123px;
  height:16px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u2288 {
  position:absolute;
  left:54px;
  top:193px;
  width:123px;
  height:16px;
}
#u2289 {
  position:absolute;
  left:0px;
  top:0px;
  width:123px;
  white-space:nowrap;
}
#u2290_img {
  position:absolute;
  left:0px;
  top:0px;
  width:20px;
  height:20px;
}
#u2290 {
  position:absolute;
  left:29px;
  top:137px;
  width:20px;
  height:20px;
}
#u2291 {
  position:absolute;
  left:2px;
  top:2px;
  width:16px;
  visibility:hidden;
  word-wrap:break-word;
}
#u2292_div {
  position:absolute;
  left:0px;
  top:0px;
  width:12px;
  height:12px;
  background:inherit;
  background-color:rgba(0, 204, 102, 1);
  border:none;
  border-radius:8px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u2292 {
  position:absolute;
  left:33px;
  top:168px;
  width:12px;
  height:12px;
}
#u2293 {
  position:absolute;
  left:2px;
  top:-2px;
  width:8px;
  visibility:hidden;
  word-wrap:break-word;
}
#u2294_div {
  position:absolute;
  left:0px;
  top:0px;
  width:12px;
  height:12px;
  background:inherit;
  background-color:rgba(255, 153, 102, 1);
  border:none;
  border-radius:8px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u2294 {
  position:absolute;
  left:33px;
  top:195px;
  width:12px;
  height:12px;
}
#u2295 {
  position:absolute;
  left:2px;
  top:-2px;
  width:8px;
  visibility:hidden;
  word-wrap:break-word;
}
#u2296_div {
  position:absolute;
  left:0px;
  top:0px;
  width:496px;
  height:67px;
  background:inherit;
  background-color:rgba(242, 242, 242, 1);
  border:none;
  border-radius:5px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  text-align:left;
}
#u2296 {
  position:absolute;
  left:17px;
  top:256px;
  width:496px;
  height:67px;
  text-align:left;
}
#u2297 {
  position:absolute;
  left:2px;
  top:2px;
  width:492px;
  word-wrap:break-word;
}
#u2296_ann {
  position:absolute;
  left:506px;
  top:252px;
  width:1px;
  height:1px;
}
#u2298_div {
  position:absolute;
  left:0px;
  top:0px;
  width:496px;
  height:180px;
  background:inherit;
  background-color:rgba(242, 242, 242, 1);
  border:none;
  border-radius:5px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  text-align:left;
}
#u2298 {
  position:absolute;
  left:17px;
  top:333px;
  width:496px;
  height:180px;
  text-align:left;
}
#u2299 {
  position:absolute;
  left:2px;
  top:2px;
  width:492px;
  word-wrap:break-word;
}
#u2298_ann {
  position:absolute;
  left:506px;
  top:329px;
  width:1px;
  height:1px;
}
#u2300_div {
  position:absolute;
  left:0px;
  top:0px;
  width:73px;
  height:15px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:12px;
  color:#999999;
}
#u2300 {
  position:absolute;
  left:176px;
  top:282px;
  width:73px;
  height:15px;
  font-size:12px;
  color:#999999;
}
#u2301 {
  position:absolute;
  left:0px;
  top:0px;
  width:73px;
  white-space:nowrap;
}
#u2302 {
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u2303_img {
  position:absolute;
  left:0px;
  top:0px;
  width:40px;
  height:40px;
}
#u2303 {
  position:absolute;
  left:33px;
  top:364px;
  width:40px;
  height:40px;
}
#u2304 {
  position:absolute;
  left:2px;
  top:12px;
  width:36px;
  visibility:hidden;
  word-wrap:break-word;
}
#u2305_div {
  position:absolute;
  left:0px;
  top:0px;
  width:40px;
  height:16px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:13px;
}
#u2305 {
  position:absolute;
  left:33px;
  top:410px;
  width:40px;
  height:16px;
  font-size:13px;
}
#u2306 {
  position:absolute;
  left:0px;
  top:0px;
  width:40px;
  white-space:nowrap;
}
#u2307 {
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u2308_img {
  position:absolute;
  left:0px;
  top:0px;
  width:40px;
  height:40px;
}
#u2308 {
  position:absolute;
  left:93px;
  top:364px;
  width:40px;
  height:40px;
}
#u2309 {
  position:absolute;
  left:2px;
  top:12px;
  width:36px;
  visibility:hidden;
  word-wrap:break-word;
}
#u2310_div {
  position:absolute;
  left:0px;
  top:0px;
  width:40px;
  height:16px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:13px;
}
#u2310 {
  position:absolute;
  left:93px;
  top:410px;
  width:40px;
  height:16px;
  font-size:13px;
}
#u2311 {
  position:absolute;
  left:0px;
  top:0px;
  width:40px;
  white-space:nowrap;
}
#u2312 {
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u2313_img {
  position:absolute;
  left:0px;
  top:0px;
  width:40px;
  height:40px;
}
#u2313 {
  position:absolute;
  left:275px;
  top:364px;
  width:40px;
  height:40px;
}
#u2314 {
  position:absolute;
  left:2px;
  top:12px;
  width:36px;
  visibility:hidden;
  word-wrap:break-word;
}
#u2315_div {
  position:absolute;
  left:0px;
  top:0px;
  width:40px;
  height:16px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:13px;
}
#u2315 {
  position:absolute;
  left:275px;
  top:410px;
  width:40px;
  height:16px;
  font-size:13px;
}
#u2316 {
  position:absolute;
  left:0px;
  top:0px;
  width:40px;
  white-space:nowrap;
}
#u2317 {
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u2318_img {
  position:absolute;
  left:0px;
  top:0px;
  width:40px;
  height:40px;
}
#u2318 {
  position:absolute;
  left:214px;
  top:364px;
  width:40px;
  height:40px;
}
#u2319 {
  position:absolute;
  left:2px;
  top:12px;
  width:36px;
  visibility:hidden;
  word-wrap:break-word;
}
#u2320_div {
  position:absolute;
  left:0px;
  top:0px;
  width:40px;
  height:16px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:13px;
}
#u2320 {
  position:absolute;
  left:214px;
  top:410px;
  width:40px;
  height:16px;
  font-size:13px;
}
#u2321 {
  position:absolute;
  left:0px;
  top:0px;
  width:40px;
  white-space:nowrap;
}
#u2322 {
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u2323_img {
  position:absolute;
  left:0px;
  top:0px;
  width:40px;
  height:40px;
}
#u2323 {
  position:absolute;
  left:154px;
  top:364px;
  width:40px;
  height:40px;
}
#u2324 {
  position:absolute;
  left:2px;
  top:12px;
  width:36px;
  visibility:hidden;
  word-wrap:break-word;
}
#u2325_div {
  position:absolute;
  left:0px;
  top:0px;
  width:40px;
  height:16px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:13px;
}
#u2325 {
  position:absolute;
  left:154px;
  top:410px;
  width:40px;
  height:16px;
  font-size:13px;
}
#u2326 {
  position:absolute;
  left:0px;
  top:0px;
  width:40px;
  white-space:nowrap;
}
#u2327 {
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u2328_img {
  position:absolute;
  left:0px;
  top:0px;
  width:40px;
  height:40px;
}
#u2328 {
  position:absolute;
  left:335px;
  top:364px;
  width:40px;
  height:40px;
}
#u2329 {
  position:absolute;
  left:2px;
  top:12px;
  width:36px;
  visibility:hidden;
  word-wrap:break-word;
}
#u2330_div {
  position:absolute;
  left:0px;
  top:0px;
  width:40px;
  height:16px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:13px;
}
#u2330 {
  position:absolute;
  left:335px;
  top:410px;
  width:40px;
  height:16px;
  font-size:13px;
}
#u2331 {
  position:absolute;
  left:0px;
  top:0px;
  width:40px;
  white-space:nowrap;
}
#u2332 {
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u2333_img {
  position:absolute;
  left:0px;
  top:0px;
  width:40px;
  height:40px;
}
#u2333 {
  position:absolute;
  left:33px;
  top:436px;
  width:40px;
  height:40px;
}
#u2334 {
  position:absolute;
  left:2px;
  top:12px;
  width:36px;
  visibility:hidden;
  word-wrap:break-word;
}
#u2335_div {
  position:absolute;
  left:0px;
  top:0px;
  width:40px;
  height:16px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:13px;
}
#u2335 {
  position:absolute;
  left:33px;
  top:482px;
  width:40px;
  height:16px;
  font-size:13px;
}
#u2336 {
  position:absolute;
  left:0px;
  top:0px;
  width:40px;
  white-space:nowrap;
}
#u2337 {
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u2338_img {
  position:absolute;
  left:0px;
  top:0px;
  width:40px;
  height:40px;
}
#u2338 {
  position:absolute;
  left:93px;
  top:436px;
  width:40px;
  height:40px;
}
#u2339 {
  position:absolute;
  left:2px;
  top:12px;
  width:36px;
  visibility:hidden;
  word-wrap:break-word;
}
#u2340_div {
  position:absolute;
  left:0px;
  top:0px;
  width:40px;
  height:16px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:13px;
}
#u2340 {
  position:absolute;
  left:93px;
  top:482px;
  width:40px;
  height:16px;
  font-size:13px;
}
#u2341 {
  position:absolute;
  left:0px;
  top:0px;
  width:40px;
  white-space:nowrap;
}
#u2342 {
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u2343_img {
  position:absolute;
  left:0px;
  top:0px;
  width:40px;
  height:40px;
}
#u2343 {
  position:absolute;
  left:275px;
  top:436px;
  width:40px;
  height:40px;
}
#u2344 {
  position:absolute;
  left:2px;
  top:12px;
  width:36px;
  visibility:hidden;
  word-wrap:break-word;
}
#u2345_div {
  position:absolute;
  left:0px;
  top:0px;
  width:40px;
  height:16px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:13px;
}
#u2345 {
  position:absolute;
  left:275px;
  top:482px;
  width:40px;
  height:16px;
  font-size:13px;
}
#u2346 {
  position:absolute;
  left:0px;
  top:0px;
  width:40px;
  white-space:nowrap;
}
#u2347 {
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u2348_img {
  position:absolute;
  left:0px;
  top:0px;
  width:40px;
  height:40px;
}
#u2348 {
  position:absolute;
  left:214px;
  top:436px;
  width:40px;
  height:40px;
}
#u2349 {
  position:absolute;
  left:2px;
  top:12px;
  width:36px;
  visibility:hidden;
  word-wrap:break-word;
}
#u2350_div {
  position:absolute;
  left:0px;
  top:0px;
  width:40px;
  height:16px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:13px;
}
#u2350 {
  position:absolute;
  left:214px;
  top:482px;
  width:40px;
  height:16px;
  font-size:13px;
}
#u2351 {
  position:absolute;
  left:0px;
  top:0px;
  width:40px;
  white-space:nowrap;
}
#u2352 {
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u2353_img {
  position:absolute;
  left:0px;
  top:0px;
  width:40px;
  height:40px;
}
#u2353 {
  position:absolute;
  left:154px;
  top:436px;
  width:40px;
  height:40px;
}
#u2354 {
  position:absolute;
  left:2px;
  top:12px;
  width:36px;
  visibility:hidden;
  word-wrap:break-word;
}
#u2355_div {
  position:absolute;
  left:0px;
  top:0px;
  width:40px;
  height:16px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:13px;
}
#u2355 {
  position:absolute;
  left:154px;
  top:482px;
  width:40px;
  height:16px;
  font-size:13px;
}
#u2356 {
  position:absolute;
  left:0px;
  top:0px;
  width:40px;
  white-space:nowrap;
}
#u2357 {
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u2358_img {
  position:absolute;
  left:0px;
  top:0px;
  width:40px;
  height:40px;
}
#u2358 {
  position:absolute;
  left:335px;
  top:436px;
  width:40px;
  height:40px;
}
#u2359 {
  position:absolute;
  left:2px;
  top:12px;
  width:36px;
  visibility:hidden;
  word-wrap:break-word;
}
#u2360_div {
  position:absolute;
  left:0px;
  top:0px;
  width:40px;
  height:16px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:13px;
}
#u2360 {
  position:absolute;
  left:335px;
  top:482px;
  width:40px;
  height:16px;
  font-size:13px;
}
#u2361 {
  position:absolute;
  left:0px;
  top:0px;
  width:40px;
  white-space:nowrap;
}
#u2362_div {
  position:absolute;
  left:0px;
  top:0px;
  width:43px;
  height:16px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  color:#199ED8;
}
#u2362 {
  position:absolute;
  left:456px;
  top:335px;
  width:43px;
  height:16px;
  color:#199ED8;
}
#u2363 {
  position:absolute;
  left:0px;
  top:0px;
  width:43px;
  white-space:nowrap;
}
#u2364_div {
  position:absolute;
  left:0px;
  top:0px;
  width:529px;
  height:49px;
  background:inherit;
  background-color:rgba(215, 215, 215, 0.8);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:16px;
}
#u2364 {
  position:absolute;
  left:0px;
  top:0px;
  width:529px;
  height:49px;
  font-size:16px;
}
#u2365 {
  position:absolute;
  left:2px;
  top:15px;
  width:525px;
  word-wrap:break-word;
}
#u2366_img {
  position:absolute;
  left:0px;
  top:0px;
  width:32px;
  height:32px;
}
#u2366 {
  position:absolute;
  left:8px;
  top:7px;
  width:32px;
  height:32px;
}
#u2367 {
  position:absolute;
  left:2px;
  top:8px;
  width:28px;
  visibility:hidden;
  word-wrap:break-word;
}
#u2368 {
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u2369_img {
  position:absolute;
  left:0px;
  top:0px;
  width:40px;
  height:40px;
}
#u2369 {
  position:absolute;
  left:396px;
  top:364px;
  width:40px;
  height:40px;
}
#u2370 {
  position:absolute;
  left:2px;
  top:12px;
  width:36px;
  visibility:hidden;
  word-wrap:break-word;
}
#u2371_div {
  position:absolute;
  left:0px;
  top:0px;
  width:40px;
  height:16px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:13px;
}
#u2371 {
  position:absolute;
  left:396px;
  top:410px;
  width:40px;
  height:16px;
  font-size:13px;
}
#u2372 {
  position:absolute;
  left:0px;
  top:0px;
  width:40px;
  white-space:nowrap;
}
#u2373 {
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u2374_img {
  position:absolute;
  left:0px;
  top:0px;
  width:40px;
  height:40px;
}
#u2374 {
  position:absolute;
  left:456px;
  top:364px;
  width:40px;
  height:40px;
}
#u2375 {
  position:absolute;
  left:2px;
  top:12px;
  width:36px;
  visibility:hidden;
  word-wrap:break-word;
}
#u2376_div {
  position:absolute;
  left:0px;
  top:0px;
  width:40px;
  height:16px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:13px;
}
#u2376 {
  position:absolute;
  left:456px;
  top:410px;
  width:40px;
  height:16px;
  font-size:13px;
}
#u2377 {
  position:absolute;
  left:0px;
  top:0px;
  width:40px;
  white-space:nowrap;
}
#u2378 {
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u2379_img {
  position:absolute;
  left:0px;
  top:0px;
  width:40px;
  height:40px;
}
#u2379 {
  position:absolute;
  left:396px;
  top:436px;
  width:40px;
  height:40px;
}
#u2380 {
  position:absolute;
  left:2px;
  top:12px;
  width:36px;
  visibility:hidden;
  word-wrap:break-word;
}
#u2381_div {
  position:absolute;
  left:0px;
  top:0px;
  width:40px;
  height:16px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:13px;
}
#u2381 {
  position:absolute;
  left:396px;
  top:482px;
  width:40px;
  height:16px;
  font-size:13px;
}
#u2382 {
  position:absolute;
  left:0px;
  top:0px;
  width:40px;
  white-space:nowrap;
}
#u2383 {
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u2384_img {
  position:absolute;
  left:0px;
  top:0px;
  width:40px;
  height:40px;
}
#u2384 {
  position:absolute;
  left:456px;
  top:436px;
  width:40px;
  height:40px;
}
#u2385 {
  position:absolute;
  left:2px;
  top:12px;
  width:36px;
  visibility:hidden;
  word-wrap:break-word;
}
#u2386_div {
  position:absolute;
  left:0px;
  top:0px;
  width:40px;
  height:16px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:13px;
}
#u2386 {
  position:absolute;
  left:456px;
  top:482px;
  width:40px;
  height:16px;
  font-size:13px;
}
#u2387 {
  position:absolute;
  left:0px;
  top:0px;
  width:40px;
  white-space:nowrap;
}
#u2388_img {
  position:absolute;
  left:0px;
  top:0px;
  width:100px;
  height:30px;
}
#u2388 {
  position:absolute;
  left:409px;
  top:523px;
  width:100px;
  height:30px;
  font-family:'微软雅黑';
  font-weight:400;
  font-style:normal;
  font-size:14px;
  color:#FFFFFF;
}
#u2388_img.mouseOver {
}
#u2388.mouseOver {
}
#u2389 {
  position:absolute;
  left:2px;
  top:5px;
  width:96px;
  word-wrap:break-word;
}
#u2390_img {
  position:absolute;
  left:0px;
  top:0px;
  width:15px;
  height:15px;
}
#u2390 {
  position:absolute;
  left:33px;
  top:223px;
  width:15px;
  height:15px;
}
#u2391 {
  position:absolute;
  left:2px;
  top:0px;
  width:11px;
  visibility:hidden;
  word-wrap:break-word;
}
#u2390_ann {
  position:absolute;
  left:41px;
  top:219px;
  width:1px;
  height:1px;
}
#u2392_div {
  position:absolute;
  left:0px;
  top:0px;
  width:96px;
  height:16px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u2392 {
  position:absolute;
  left:58px;
  top:223px;
  width:96px;
  height:16px;
}
#u2393 {
  position:absolute;
  left:0px;
  top:0px;
  width:96px;
  white-space:nowrap;
}
#u2394_div {
  position:absolute;
  left:0px;
  top:0px;
  width:77px;
  height:16px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u2394 {
  position:absolute;
  left:175px;
  top:223px;
  width:77px;
  height:16px;
}
#u2395 {
  position:absolute;
  left:0px;
  top:0px;
  width:77px;
  white-space:nowrap;
}
