body {
  margin:0px;
  background-image:none;
  position:relative;
  left:-0px;
  width:533px;
  margin-left:auto;
  margin-right:auto;
  text-align:left;
}
#base {
  position:absolute;
  z-index:0;
}
#u1145_div {
  position:absolute;
  left:0px;
  top:0px;
  width:529px;
  height:49px;
  background:inherit;
  background-color:rgba(215, 215, 215, 0.8);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:16px;
}
#u1145 {
  position:absolute;
  left:0px;
  top:0px;
  width:529px;
  height:49px;
  font-size:16px;
}
#u1146 {
  position:absolute;
  left:2px;
  top:15px;
  width:525px;
  word-wrap:break-word;
}
#u1147_img {
  position:absolute;
  left:0px;
  top:0px;
  width:32px;
  height:32px;
}
#u1147 {
  position:absolute;
  left:8px;
  top:7px;
  width:32px;
  height:32px;
}
#u1148 {
  position:absolute;
  left:2px;
  top:8px;
  width:28px;
  visibility:hidden;
  word-wrap:break-word;
}
#u1149_img {
  position:absolute;
  left:0px;
  top:0px;
  width:64px;
  height:25px;
}
#u1149 {
  position:absolute;
  left:449px;
  top:12px;
  width:64px;
  height:25px;
  font-family:'微软雅黑';
  font-weight:400;
  font-style:normal;
  font-size:14px;
  color:#199ED8;
}
#u1149_img.mouseOver {
}
#u1149.mouseOver {
}
#u1150 {
  position:absolute;
  left:2px;
  top:2px;
  width:60px;
  word-wrap:break-word;
}
#u1151_div {
  position:absolute;
  left:0px;
  top:0px;
  width:532px;
  height:28px;
  background:inherit;
  background-color:rgba(237, 237, 237, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u1151 {
  position:absolute;
  left:0px;
  top:207px;
  width:532px;
  height:28px;
}
#u1152 {
  position:absolute;
  left:2px;
  top:6px;
  width:528px;
  word-wrap:break-word;
}
.u1154_div {
  position:absolute;
  left:0px;
  top:0px;
  width:530px;
  height:91px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(204, 204, 204, 1);
  border-left:0px;
  border-top:0px;
  border-right:0px;
  border-radius:0px;
  border-top-left-radius:0px;
  border-top-right-radius:0px;
  border-bottom-right-radius:0px;
  border-bottom-left-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
.u1154 {
  position:absolute;
  left:0px;
  top:0px;
  width:530px;
  height:91px;
}
.u1155 {
  position:absolute;
  left:2px;
  top:38px;
  width:526px;
  visibility:hidden;
  word-wrap:break-word;
}
.u1156_div {
  position:absolute;
  left:0px;
  top:0px;
  width:499px;
  height:48px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:14px;
  color:#666666;
}
.u1156 {
  position:absolute;
  left:12px;
  top:11px;
  width:499px;
  height:48px;
  font-size:14px;
  color:#666666;
}
.u1157 {
  position:absolute;
  left:0px;
  top:0px;
  width:499px;
  word-wrap:break-word;
}
.u1158_div {
  position:absolute;
  left:0px;
  top:0px;
  width:132px;
  height:15px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:12px;
  color:#999999;
}
.u1158 {
  position:absolute;
  left:14px;
  top:69px;
  width:132px;
  height:15px;
  font-size:12px;
  color:#999999;
}
.u1159 {
  position:absolute;
  left:0px;
  top:0px;
  width:132px;
  white-space:nowrap;
}
#u1153-1 {
  position:absolute;
  left:0px;
  top:0px;
  width:530px;
  height:91px;
}
#u1153-2 {
  position:absolute;
  left:0px;
  top:91px;
  width:530px;
  height:91px;
}
#u1153-3 {
  position:absolute;
  left:0px;
  top:182px;
  width:530px;
  height:91px;
}
#u1153 {
  position:absolute;
  left:3px;
  top:237px;
  width:530px;
  height:273px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
}
#u1160 {
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u1161_div {
  position:absolute;
  left:0px;
  top:0px;
  width:491px;
  height:140px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(210, 210, 210, 1);
  border-radius:2px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u1161 {
  position:absolute;
  left:22px;
  top:59px;
  width:491px;
  height:140px;
}
#u1162 {
  position:absolute;
  left:2px;
  top:62px;
  width:487px;
  visibility:hidden;
  word-wrap:break-word;
}
#u1163 {
  position:absolute;
  left:30px;
  top:66px;
  width:475px;
  height:128px;
}
#u1163_input {
  position:absolute;
  left:0px;
  top:0px;
  width:475px;
  height:128px;
  font-family:'微软雅黑';
  font-weight:400;
  font-style:normal;
  font-size:14px;
  text-decoration:none;
  color:#000000;
  text-align:left;
  border-color:transparent;
  outline-style:none;
}
#u1164_div {
  position:absolute;
  left:0px;
  top:0px;
  width:37px;
  height:16px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  color:#999999;
}
#u1164 {
  position:absolute;
  left:443px;
  top:161px;
  width:37px;
  height:16px;
  color:#999999;
}
#u1165 {
  position:absolute;
  left:0px;
  top:0px;
  width:37px;
  white-space:nowrap;
}
