body {
  margin:0px;
  background-image:none;
  position:relative;
  left:-4px;
  width:523px;
  margin-left:auto;
  margin-right:auto;
  text-align:left;
}
#base {
  position:absolute;
  z-index:0;
}
#u1001_div {
  position:absolute;
  left:0px;
  top:0px;
  width:85px;
  height:40px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  box-sizing:border-box;
  border-width:2px;
  border-style:solid;
  border-color:rgba(25, 158, 216, 1);
  border-left:0px;
  border-top:0px;
  border-right:0px;
  border-radius:2px;
  border-top-left-radius:0px;
  border-top-right-radius:0px;
  border-bottom-right-radius:0px;
  border-bottom-left-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'微软雅黑';
  font-weight:400;
  font-style:normal;
  font-size:14px;
  color:#199ED8;
}
#u1001 {
  position:absolute;
  left:92px;
  top:7px;
  width:85px;
  height:40px;
  font-family:'微软雅黑';
  font-weight:400;
  font-style:normal;
  font-size:14px;
  color:#199ED8;
}
#u1001_div.selected {
  position:absolute;
  left:0px;
  top:0px;
  width:85px;
  height:40px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  box-sizing:border-box;
  border-width:2px;
  border-style:solid;
  border-color:rgba(29, 158, 215, 1);
  border-left:0px;
  border-top:0px;
  border-right:0px;
  border-radius:2px;
  border-top-left-radius:0px;
  border-top-right-radius:0px;
  border-bottom-right-radius:0px;
  border-bottom-left-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'微软雅黑';
  font-weight:400;
  font-style:normal;
  font-size:14px;
  color:#199ED8;
}
#u1001.selected {
}
#u1002 {
  position:absolute;
  left:2px;
  top:10px;
  width:81px;
  word-wrap:break-word;
}
#u1003_img {
  position:absolute;
  left:0px;
  top:0px;
  width:524px;
  height:2px;
}
#u1003 {
  position:absolute;
  left:4px;
  top:46px;
  width:523px;
  height:1px;
}
#u1004 {
  position:absolute;
  left:2px;
  top:-8px;
  width:519px;
  visibility:hidden;
  word-wrap:break-word;
}
#u1005_img {
  position:absolute;
  left:-1px;
  top:-1px;
  width:88px;
  height:43px;
}
#u1005 {
  position:absolute;
  left:177px;
  top:7px;
  width:85px;
  height:40px;
  font-family:'微软雅黑';
  font-weight:400;
  font-style:normal;
  font-size:14px;
  color:#666666;
}
#u1005_img.selected {
}
#u1005.selected {
}
#u1006 {
  position:absolute;
  left:2px;
  top:10px;
  width:81px;
  word-wrap:break-word;
}
#u1007_img {
  position:absolute;
  left:-1px;
  top:-1px;
  width:88px;
  height:43px;
}
#u1007 {
  position:absolute;
  left:262px;
  top:7px;
  width:85px;
  height:40px;
  font-family:'微软雅黑';
  font-weight:400;
  font-style:normal;
  font-size:14px;
  color:#666666;
}
#u1007_img.selected {
}
#u1007.selected {
}
#u1008 {
  position:absolute;
  left:2px;
  top:10px;
  width:81px;
  word-wrap:break-word;
}
#u1009_img {
  position:absolute;
  left:-1px;
  top:-1px;
  width:88px;
  height:43px;
}
#u1009 {
  position:absolute;
  left:347px;
  top:7px;
  width:85px;
  height:40px;
  font-family:'微软雅黑';
  font-weight:400;
  font-style:normal;
  font-size:14px;
  color:#666666;
}
#u1010 {
  position:absolute;
  left:2px;
  top:10px;
  width:81px;
  word-wrap:break-word;
}
#u1011 {
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u1012_img {
  position:absolute;
  left:0px;
  top:0px;
  width:32px;
  height:32px;
}
#u1012 {
  position:absolute;
  left:7px;
  top:14px;
  width:32px;
  height:32px;
}
#u1013 {
  position:absolute;
  left:2px;
  top:8px;
  width:28px;
  visibility:hidden;
  word-wrap:break-word;
}
#u1014_div {
  position:absolute;
  left:0px;
  top:0px;
  width:62px;
  height:16px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u1014 {
  position:absolute;
  left:17px;
  top:66px;
  width:62px;
  height:16px;
}
#u1015 {
  position:absolute;
  left:0px;
  top:0px;
  width:62px;
  white-space:nowrap;
}
#u1016 {
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u1017 {
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u1018_div {
  position:absolute;
  left:0px;
  top:0px;
  width:227px;
  height:33px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(204, 204, 204, 1);
  border-radius:2px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u1018 {
  position:absolute;
  left:18px;
  top:90px;
  width:227px;
  height:33px;
}
#u1019 {
  position:absolute;
  left:2px;
  top:8px;
  width:223px;
  word-wrap:break-word;
}
#u1020_img {
  position:absolute;
  left:0px;
  top:0px;
  width:20px;
  height:20px;
}
#u1020 {
  position:absolute;
  left:221px;
  top:97px;
  width:20px;
  height:20px;
}
#u1021 {
  position:absolute;
  left:2px;
  top:2px;
  width:16px;
  visibility:hidden;
  word-wrap:break-word;
}
#u1022_div {
  position:absolute;
  left:0px;
  top:0px;
  width:62px;
  height:16px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u1022 {
  position:absolute;
  left:280px;
  top:66px;
  width:62px;
  height:16px;
}
#u1023 {
  position:absolute;
  left:0px;
  top:0px;
  width:62px;
  white-space:nowrap;
}
#u1024 {
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u1025 {
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u1026_div {
  position:absolute;
  left:0px;
  top:0px;
  width:226px;
  height:33px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(204, 204, 204, 1);
  border-radius:2px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u1026 {
  position:absolute;
  left:283px;
  top:90px;
  width:226px;
  height:33px;
}
#u1027 {
  position:absolute;
  left:2px;
  top:8px;
  width:222px;
  word-wrap:break-word;
}
#u1028_img {
  position:absolute;
  left:0px;
  top:0px;
  width:19px;
  height:20px;
}
#u1028 {
  position:absolute;
  left:486px;
  top:97px;
  width:19px;
  height:20px;
}
#u1029 {
  position:absolute;
  left:2px;
  top:2px;
  width:15px;
  visibility:hidden;
  word-wrap:break-word;
}
#u1030_div {
  position:absolute;
  left:0px;
  top:0px;
  width:62px;
  height:16px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u1030 {
  position:absolute;
  left:20px;
  top:145px;
  width:62px;
  height:16px;
}
#u1031 {
  position:absolute;
  left:0px;
  top:0px;
  width:62px;
  white-space:nowrap;
}
#u1032 {
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u1033_div {
  position:absolute;
  left:0px;
  top:0px;
  width:227px;
  height:38px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(204, 204, 204, 1);
  border-radius:2px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u1033 {
  position:absolute;
  left:18px;
  top:172px;
  width:227px;
  height:38px;
}
#u1034 {
  position:absolute;
  left:2px;
  top:11px;
  width:223px;
  visibility:hidden;
  word-wrap:break-word;
}
#u1035 {
  position:absolute;
  left:22px;
  top:179px;
  width:219px;
  height:25px;
}
#u1035_input {
  position:absolute;
  left:0px;
  top:0px;
  width:219px;
  height:25px;
  font-family:'微软雅黑';
  font-weight:400;
  font-style:normal;
  font-size:14px;
  text-decoration:none;
  color:#000000;
  text-align:left;
  border-color:transparent;
  outline-style:none;
}
#u1036_div {
  position:absolute;
  left:0px;
  top:0px;
  width:62px;
  height:16px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u1036 {
  position:absolute;
  left:283px;
  top:145px;
  width:62px;
  height:16px;
}
#u1037 {
  position:absolute;
  left:0px;
  top:0px;
  width:62px;
  white-space:nowrap;
}
#u1038 {
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u1039_div {
  position:absolute;
  left:0px;
  top:0px;
  width:227px;
  height:38px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(204, 204, 204, 1);
  border-radius:2px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u1039 {
  position:absolute;
  left:281px;
  top:172px;
  width:227px;
  height:38px;
}
#u1040 {
  position:absolute;
  left:2px;
  top:11px;
  width:223px;
  visibility:hidden;
  word-wrap:break-word;
}
#u1041 {
  position:absolute;
  left:285px;
  top:179px;
  width:219px;
  height:25px;
}
#u1041_input {
  position:absolute;
  left:0px;
  top:0px;
  width:219px;
  height:25px;
  font-family:'微软雅黑';
  font-weight:400;
  font-style:normal;
  font-size:14px;
  text-decoration:none;
  color:#000000;
  text-align:left;
  border-color:transparent;
  outline-style:none;
}
#u1042_div {
  position:absolute;
  left:0px;
  top:0px;
  width:62px;
  height:16px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u1042 {
  position:absolute;
  left:22px;
  top:233px;
  width:62px;
  height:16px;
}
#u1043 {
  position:absolute;
  left:0px;
  top:0px;
  width:62px;
  white-space:nowrap;
}
#u1044 {
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u1045_div {
  position:absolute;
  left:0px;
  top:0px;
  width:227px;
  height:38px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(204, 204, 204, 1);
  border-radius:2px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u1045 {
  position:absolute;
  left:20px;
  top:260px;
  width:227px;
  height:38px;
}
#u1046 {
  position:absolute;
  left:2px;
  top:11px;
  width:223px;
  visibility:hidden;
  word-wrap:break-word;
}
#u1047 {
  position:absolute;
  left:24px;
  top:267px;
  width:219px;
  height:25px;
}
#u1047_input {
  position:absolute;
  left:0px;
  top:0px;
  width:219px;
  height:25px;
  font-family:'微软雅黑';
  font-weight:400;
  font-style:normal;
  font-size:14px;
  text-decoration:none;
  color:#000000;
  text-align:left;
  border-color:transparent;
  outline-style:none;
}
#u1048 {
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u1049 {
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u1050_div {
  position:absolute;
  left:0px;
  top:0px;
  width:490px;
  height:121px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(204, 204, 204, 1);
  border-radius:2px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u1050 {
  position:absolute;
  left:20px;
  top:346px;
  width:490px;
  height:121px;
}
#u1051 {
  position:absolute;
  left:2px;
  top:52px;
  width:486px;
  visibility:hidden;
  word-wrap:break-word;
}
#u1052 {
  position:absolute;
  left:27px;
  top:350px;
  width:478px;
  height:112px;
}
#u1052_input {
  position:absolute;
  left:0px;
  top:0px;
  width:478px;
  height:112px;
  font-family:'Arial Normal', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:13px;
  text-decoration:none;
  color:#000000;
  text-align:left;
  border-color:transparent;
  outline-style:none;
}
#u1053_div {
  position:absolute;
  left:0px;
  top:0px;
  width:57px;
  height:16px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u1053 {
  position:absolute;
  left:21px;
  top:319px;
  width:57px;
  height:16px;
}
#u1054 {
  position:absolute;
  left:0px;
  top:0px;
  width:57px;
  white-space:nowrap;
}
#u1055_img {
  position:absolute;
  left:0px;
  top:0px;
  width:70px;
  height:70px;
}
#u1055 {
  position:absolute;
  left:23px;
  top:522px;
  width:70px;
  height:70px;
}
#u1056 {
  position:absolute;
  left:2px;
  top:27px;
  width:66px;
  visibility:hidden;
  word-wrap:break-word;
}
#u1055_ann {
  position:absolute;
  left:86px;
  top:518px;
  width:1px;
  height:1px;
}
#u1057_div {
  position:absolute;
  left:0px;
  top:0px;
  width:43px;
  height:16px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u1057 {
  position:absolute;
  left:23px;
  top:496px;
  width:43px;
  height:16px;
}
#u1058 {
  position:absolute;
  left:0px;
  top:0px;
  width:43px;
  white-space:nowrap;
}
.u1060_img {
  position:absolute;
  left:0px;
  top:0px;
  width:80px;
  height:80px;
}
.u1060 {
  position:absolute;
  left:0px;
  top:0px;
  width:80px;
  height:80px;
}
.u1061 {
  position:absolute;
  left:2px;
  top:32px;
  width:76px;
  visibility:hidden;
  word-wrap:break-word;
}
.u1062_img {
  position:absolute;
  left:0px;
  top:0px;
  width:70px;
  height:70px;
}
.u1062 {
  position:absolute;
  left:5px;
  top:5px;
  width:70px;
  height:70px;
}
.u1063 {
  position:absolute;
  left:2px;
  top:27px;
  width:66px;
  visibility:hidden;
  word-wrap:break-word;
}
.u1064 {
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
.u1065_div {
  position:absolute;
  left:0px;
  top:0px;
  width:70px;
  height:22px;
  background:inherit;
  background-color:rgba(51, 51, 51, 0.427450980392157);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
.u1065 {
  position:absolute;
  left:5px;
  top:53px;
  width:70px;
  height:22px;
}
.u1066 {
  position:absolute;
  left:2px;
  top:3px;
  width:66px;
  visibility:hidden;
  word-wrap:break-word;
}
.u1067_img {
  position:absolute;
  left:0px;
  top:0px;
  width:20px;
  height:20px;
}
.u1067 {
  position:absolute;
  left:51px;
  top:54px;
  width:20px;
  height:20px;
}
.u1068 {
  position:absolute;
  left:2px;
  top:2px;
  width:16px;
  visibility:hidden;
  word-wrap:break-word;
}
.u1069_div {
  position:absolute;
  left:0px;
  top:0px;
  width:27px;
  height:16px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:13px;
  color:#FFFFFF;
}
.u1069 {
  position:absolute;
  left:14px;
  top:56px;
  width:27px;
  height:16px;
  font-size:13px;
  color:#FFFFFF;
}
.u1070 {
  position:absolute;
  left:0px;
  top:0px;
  width:27px;
  white-space:nowrap;
}
#u1059-1 {
  position:absolute;
  left:0px;
  top:0px;
  width:80px;
  height:80px;
}
#u1059-2 {
  position:absolute;
  left:80px;
  top:0px;
  width:80px;
  height:80px;
}
#u1059-3 {
  position:absolute;
  left:160px;
  top:0px;
  width:80px;
  height:80px;
}
#u1059 {
  position:absolute;
  left:102px;
  top:518px;
  width:240px;
  height:80px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
}
#u1059_ann {
  position:absolute;
  left:335px;
  top:514px;
  width:1px;
  height:1px;
}
#u1071_img {
  position:absolute;
  left:0px;
  top:0px;
  width:247px;
  height:315px;
}
#u1071 {
  position:absolute;
  left:1px;
  top:131px;
  width:247px;
  height:315px;
}
#u1072 {
  position:absolute;
  left:2px;
  top:150px;
  width:243px;
  visibility:hidden;
  word-wrap:break-word;
}
#u1073_img {
  position:absolute;
  left:0px;
  top:0px;
  width:247px;
  height:315px;
}
#u1073 {
  position:absolute;
  left:263px;
  top:130px;
  width:247px;
  height:315px;
}
#u1074 {
  position:absolute;
  left:2px;
  top:150px;
  width:243px;
  visibility:hidden;
  word-wrap:break-word;
}
#u1075_img {
  position:absolute;
  left:0px;
  top:0px;
  width:100px;
  height:30px;
}
#u1075 {
  position:absolute;
  left:405px;
  top:612px;
  width:100px;
  height:30px;
  font-family:'微软雅黑';
  font-weight:400;
  font-style:normal;
  font-size:14px;
  color:#FFFFFF;
}
#u1075_img.mouseOver {
}
#u1075.mouseOver {
}
#u1076 {
  position:absolute;
  left:2px;
  top:5px;
  width:96px;
  word-wrap:break-word;
}
