body {
  margin:0px;
  background-image:none;
  position:relative;
  left:-28px;
  width:445px;
  margin-left:auto;
  margin-right:auto;
  text-align:left;
}
#base {
  position:absolute;
  z-index:0;
}
#u1005_div {
  position:absolute;
  left:0px;
  top:0px;
  width:445px;
  height:330px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0.498039215686275);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(204, 204, 204, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u1005 {
  position:absolute;
  left:28px;
  top:71px;
  width:445px;
  height:330px;
}
#u1006 {
  position:absolute;
  left:2px;
  top:157px;
  width:441px;
  visibility:hidden;
  word-wrap:break-word;
}
#u1007_div {
  position:absolute;
  left:0px;
  top:0px;
  width:445px;
  height:49px;
  background:inherit;
  background-color:rgba(215, 215, 215, 0.8);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:16px;
}
#u1007 {
  position:absolute;
  left:28px;
  top:22px;
  width:445px;
  height:49px;
  font-size:16px;
}
#u1008 {
  position:absolute;
  left:2px;
  top:15px;
  width:441px;
  word-wrap:break-word;
}
#u1009_img {
  position:absolute;
  left:0px;
  top:0px;
  width:25px;
  height:25px;
}
#u1009 {
  position:absolute;
  left:436px;
  top:34px;
  width:25px;
  height:25px;
}
#u1010 {
  position:absolute;
  left:2px;
  top:4px;
  width:21px;
  visibility:hidden;
  word-wrap:break-word;
}
#u1009_ann {
  position:absolute;
  left:454px;
  top:30px;
  width:1px;
  height:1px;
}
#u1011_div {
  position:absolute;
  left:0px;
  top:0px;
  width:29px;
  height:16px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u1011 {
  position:absolute;
  left:222px;
  top:90px;
  width:29px;
  height:16px;
}
#u1012 {
  position:absolute;
  left:0px;
  top:0px;
  width:29px;
  white-space:nowrap;
}
#u1013_div {
  position:absolute;
  left:0px;
  top:0px;
  width:37px;
  height:15px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:12px;
  color:#999999;
}
#u1013 {
  position:absolute;
  left:49px;
  top:129px;
  width:37px;
  height:15px;
  font-size:12px;
  color:#999999;
}
#u1014 {
  position:absolute;
  left:0px;
  top:0px;
  width:37px;
  white-space:nowrap;
}
#u1015_div {
  position:absolute;
  left:0px;
  top:0px;
  width:99px;
  height:15px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:12px;
  color:#999999;
}
#u1015 {
  position:absolute;
  left:105px;
  top:129px;
  width:99px;
  height:15px;
  font-size:12px;
  color:#999999;
}
#u1016 {
  position:absolute;
  left:0px;
  top:0px;
  width:99px;
  white-space:nowrap;
}
#u1017_div {
  position:absolute;
  left:0px;
  top:0px;
  width:383px;
  height:112px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u1017 {
  position:absolute;
  left:49px;
  top:193px;
  width:383px;
  height:112px;
}
#u1018 {
  position:absolute;
  left:0px;
  top:0px;
  width:383px;
  word-wrap:break-word;
}
#u1019_div {
  position:absolute;
  left:0px;
  top:0px;
  width:109px;
  height:15px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:12px;
  color:#999999;
}
#u1019 {
  position:absolute;
  left:49px;
  top:159px;
  width:109px;
  height:15px;
  font-size:12px;
  color:#999999;
}
#u1020 {
  position:absolute;
  left:0px;
  top:0px;
  width:109px;
  white-space:nowrap;
}
#u1021_img {
  position:absolute;
  left:0px;
  top:0px;
  width:50px;
  height:50px;
}
#u1021 {
  position:absolute;
  left:49px;
  top:324px;
  width:50px;
  height:50px;
}
#u1022 {
  position:absolute;
  left:2px;
  top:17px;
  width:46px;
  visibility:hidden;
  word-wrap:break-word;
}
#u1023_img {
  position:absolute;
  left:0px;
  top:0px;
  width:50px;
  height:50px;
}
#u1023 {
  position:absolute;
  left:131px;
  top:324px;
  width:50px;
  height:50px;
}
#u1024 {
  position:absolute;
  left:2px;
  top:17px;
  width:46px;
  visibility:hidden;
  word-wrap:break-word;
}
#u1025_img {
  position:absolute;
  left:0px;
  top:0px;
  width:50px;
  height:50px;
}
#u1025 {
  position:absolute;
  left:212px;
  top:324px;
  width:50px;
  height:50px;
}
#u1026 {
  position:absolute;
  left:2px;
  top:17px;
  width:46px;
  visibility:hidden;
  word-wrap:break-word;
}
