body {
  margin:0px;
  background-image:none;
  position:relative;
  left:-12px;
  width:403px;
  margin-left:auto;
  margin-right:auto;
  text-align:left;
}
#base {
  position:absolute;
  z-index:0;
}
#u3505_div {
  position:absolute;
  left:0px;
  top:0px;
  width:403px;
  height:373px;
  background:inherit;
  background-color:rgba(204, 204, 204, 0.498039215686275);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(204, 204, 204, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u3505 {
  position:absolute;
  left:12px;
  top:14px;
  width:403px;
  height:373px;
}
#u3506 {
  position:absolute;
  left:2px;
  top:178px;
  width:399px;
  visibility:hidden;
  word-wrap:break-word;
}
#u3507_div {
  position:absolute;
  left:0px;
  top:0px;
  width:402px;
  height:40px;
  background:inherit;
  background-color:rgba(204, 204, 204, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u3507 {
  position:absolute;
  left:13px;
  top:15px;
  width:402px;
  height:40px;
}
#u3508 {
  position:absolute;
  left:2px;
  top:12px;
  width:398px;
  word-wrap:break-word;
}
#u3509_img {
  position:absolute;
  left:0px;
  top:0px;
  width:25px;
  height:25px;
}
#u3509 {
  position:absolute;
  left:387px;
  top:23px;
  width:25px;
  height:25px;
}
#u3510 {
  position:absolute;
  left:2px;
  top:4px;
  width:21px;
  visibility:hidden;
  word-wrap:break-word;
}
#u3509_ann {
  position:absolute;
  left:405px;
  top:19px;
  width:1px;
  height:1px;
}
.u3512 {
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
.u3513_img {
  position:absolute;
  left:0px;
  top:0px;
  width:400px;
  height:72px;
}
.u3513 {
  position:absolute;
  left:0px;
  top:0px;
  width:399px;
  height:71px;
}
.u3514 {
  position:absolute;
  left:2px;
  top:28px;
  width:395px;
  visibility:hidden;
  word-wrap:break-word;
}
.u3515_div {
  position:absolute;
  left:0px;
  top:0px;
  width:85px;
  height:16px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
.u3515 {
  position:absolute;
  left:9px;
  top:9px;
  width:85px;
  height:16px;
}
.u3516 {
  position:absolute;
  left:0px;
  top:0px;
  width:85px;
  white-space:nowrap;
}
.u3517_div {
  position:absolute;
  left:0px;
  top:0px;
  width:101px;
  height:16px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:13px;
  color:#999999;
}
.u3517 {
  position:absolute;
  left:9px;
  top:44px;
  width:101px;
  height:16px;
  font-size:13px;
  color:#999999;
}
.u3518 {
  position:absolute;
  left:0px;
  top:0px;
  width:101px;
  white-space:nowrap;
}
.u3519_img {
  position:absolute;
  left:0px;
  top:0px;
  width:20px;
  height:20px;
}
.u3519 {
  position:absolute;
  left:324px;
  top:9px;
  width:20px;
  height:20px;
}
.u3520 {
  position:absolute;
  left:2px;
  top:2px;
  width:16px;
  visibility:hidden;
  word-wrap:break-word;
}
.u3519_ann {
  position:absolute;
  left:337px;
  top:5px;
  width:1px;
  height:1px;
}
.u3521_div {
  position:absolute;
  left:0px;
  top:0px;
  width:29px;
  height:16px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
.u3521 {
  position:absolute;
  left:355px;
  top:10px;
  width:29px;
  height:16px;
}
.u3522 {
  position:absolute;
  left:0px;
  top:0px;
  width:29px;
  white-space:nowrap;
}
.u3521_ann {
  position:absolute;
  left:377px;
  top:6px;
  width:1px;
  height:1px;
}
.u3523_div {
  position:absolute;
  left:0px;
  top:0px;
  width:83px;
  height:24px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
.u3523 {
  position:absolute;
  left:307px;
  top:39px;
  width:83px;
  height:24px;
}
.u3524 {
  position:absolute;
  left:0px;
  top:0px;
  width:83px;
  white-space:nowrap;
}
#u3511-1 {
  position:absolute;
  left:0px;
  top:0px;
  width:399px;
  height:71px;
}
#u3511-2 {
  position:absolute;
  left:0px;
  top:71px;
  width:399px;
  height:71px;
}
#u3511-3 {
  position:absolute;
  left:0px;
  top:142px;
  width:399px;
  height:71px;
}
#u3511 {
  position:absolute;
  left:13px;
  top:55px;
  width:399px;
  height:213px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
}
