body {
  margin:0px;
  background-image:none;
  position:relative;
  left:-28px;
  width:369px;
  margin-left:auto;
  margin-right:auto;
  text-align:left;
}
#base {
  position:absolute;
  z-index:0;
}
#u811_div {
  position:absolute;
  left:0px;
  top:0px;
  width:369px;
  height:501px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0.498039215686275);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(204, 204, 204, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u811 {
  position:absolute;
  left:28px;
  top:71px;
  width:369px;
  height:501px;
}
#u812 {
  position:absolute;
  left:2px;
  top:242px;
  width:365px;
  visibility:hidden;
  word-wrap:break-word;
}
#u813_div {
  position:absolute;
  left:0px;
  top:0px;
  width:369px;
  height:49px;
  background:inherit;
  background-color:rgba(215, 215, 215, 0.8);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:16px;
}
#u813 {
  position:absolute;
  left:28px;
  top:22px;
  width:369px;
  height:49px;
  font-size:16px;
}
#u814 {
  position:absolute;
  left:2px;
  top:15px;
  width:365px;
  word-wrap:break-word;
}
#u815_img {
  position:absolute;
  left:0px;
  top:0px;
  width:25px;
  height:25px;
}
#u815 {
  position:absolute;
  left:365px;
  top:34px;
  width:25px;
  height:25px;
}
#u816 {
  position:absolute;
  left:2px;
  top:4px;
  width:21px;
  visibility:hidden;
  word-wrap:break-word;
}
#u815_ann {
  position:absolute;
  left:383px;
  top:30px;
  width:1px;
  height:1px;
}
#u817_div {
  position:absolute;
  left:0px;
  top:0px;
  width:306px;
  height:81px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(204, 204, 204, 1);
  border-radius:5px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u817 {
  position:absolute;
  left:53px;
  top:96px;
  width:306px;
  height:81px;
}
#u818 {
  position:absolute;
  left:2px;
  top:32px;
  width:302px;
  visibility:hidden;
  word-wrap:break-word;
}
#u819_div {
  position:absolute;
  left:0px;
  top:0px;
  width:60px;
  height:30px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  text-align:center;
}
#u819 {
  position:absolute;
  left:81px;
  top:83px;
  width:60px;
  height:30px;
  text-align:center;
}
#u820 {
  position:absolute;
  left:0px;
  top:7px;
  width:60px;
  word-wrap:break-word;
}
#u821_div {
  position:absolute;
  left:0px;
  top:0px;
  width:29px;
  height:16px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u821 {
  position:absolute;
  left:303px;
  top:123px;
  width:29px;
  height:16px;
}
#u822 {
  position:absolute;
  left:0px;
  top:0px;
  width:29px;
  white-space:nowrap;
}
#u823_div {
  position:absolute;
  left:0px;
  top:0px;
  width:27px;
  height:16px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:13px;
  color:#999999;
}
#u823 {
  position:absolute;
  left:90px;
  top:123px;
  width:27px;
  height:16px;
  font-size:13px;
  color:#999999;
}
#u824 {
  position:absolute;
  left:0px;
  top:0px;
  width:27px;
  white-space:nowrap;
}
#u825_div {
  position:absolute;
  left:0px;
  top:0px;
  width:89px;
  height:16px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u825 {
  position:absolute;
  left:243px;
  top:149px;
  width:89px;
  height:16px;
}
#u826 {
  position:absolute;
  left:0px;
  top:0px;
  width:89px;
  white-space:nowrap;
}
#u827_div {
  position:absolute;
  left:0px;
  top:0px;
  width:27px;
  height:16px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:13px;
  color:#999999;
}
#u827 {
  position:absolute;
  left:90px;
  top:149px;
  width:27px;
  height:16px;
  font-size:13px;
  color:#999999;
}
#u828 {
  position:absolute;
  left:0px;
  top:0px;
  width:27px;
  white-space:nowrap;
}
#u829_div {
  position:absolute;
  left:0px;
  top:0px;
  width:306px;
  height:92px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(204, 204, 204, 1);
  border-radius:5px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u829 {
  position:absolute;
  left:53px;
  top:221px;
  width:306px;
  height:92px;
}
#u830 {
  position:absolute;
  left:2px;
  top:38px;
  width:302px;
  visibility:hidden;
  word-wrap:break-word;
}
#u831_div {
  position:absolute;
  left:0px;
  top:0px;
  width:66px;
  height:30px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  text-align:center;
}
#u831 {
  position:absolute;
  left:79px;
  top:208px;
  width:66px;
  height:30px;
  text-align:center;
}
#u832 {
  position:absolute;
  left:0px;
  top:7px;
  width:66px;
  word-wrap:break-word;
}
#u833_div {
  position:absolute;
  left:0px;
  top:0px;
  width:115px;
  height:16px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u833 {
  position:absolute;
  left:217px;
  top:248px;
  width:115px;
  height:16px;
}
#u834 {
  position:absolute;
  left:0px;
  top:0px;
  width:115px;
  white-space:nowrap;
}
#u835_div {
  position:absolute;
  left:0px;
  top:0px;
  width:27px;
  height:16px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:13px;
  color:#999999;
}
#u835 {
  position:absolute;
  left:84px;
  top:248px;
  width:27px;
  height:16px;
  font-size:13px;
  color:#999999;
}
#u836 {
  position:absolute;
  left:0px;
  top:0px;
  width:27px;
  white-space:nowrap;
}
#u837_div {
  position:absolute;
  left:0px;
  top:0px;
  width:161px;
  height:16px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u837 {
  position:absolute;
  left:171px;
  top:275px;
  width:161px;
  height:16px;
}
#u838 {
  position:absolute;
  left:0px;
  top:0px;
  width:161px;
  white-space:nowrap;
}
#u837_ann {
  position:absolute;
  left:325px;
  top:271px;
  width:1px;
  height:1px;
}
#u839_div {
  position:absolute;
  left:0px;
  top:0px;
  width:27px;
  height:16px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:13px;
  color:#999999;
}
#u839 {
  position:absolute;
  left:84px;
  top:275px;
  width:27px;
  height:16px;
  font-size:13px;
  color:#999999;
}
#u840 {
  position:absolute;
  left:0px;
  top:0px;
  width:27px;
  white-space:nowrap;
}
#u841_div {
  position:absolute;
  left:0px;
  top:0px;
  width:306px;
  height:69px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(204, 204, 204, 1);
  border-radius:5px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u841 {
  position:absolute;
  left:53px;
  top:348px;
  width:306px;
  height:69px;
}
#u842 {
  position:absolute;
  left:2px;
  top:26px;
  width:302px;
  visibility:hidden;
  word-wrap:break-word;
}
#u841_ann {
  position:absolute;
  left:352px;
  top:344px;
  width:1px;
  height:1px;
}
#u843_div {
  position:absolute;
  left:0px;
  top:0px;
  width:40px;
  height:30px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  text-align:center;
}
#u843 {
  position:absolute;
  left:76px;
  top:334px;
  width:40px;
  height:30px;
  text-align:center;
}
#u844 {
  position:absolute;
  left:0px;
  top:7px;
  width:40px;
  word-wrap:break-word;
}
#u845_div {
  position:absolute;
  left:0px;
  top:0px;
  width:155px;
  height:16px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u845 {
  position:absolute;
  left:84px;
  top:374px;
  width:155px;
  height:16px;
}
#u846 {
  position:absolute;
  left:0px;
  top:0px;
  width:155px;
  white-space:nowrap;
}
#u847_div {
  position:absolute;
  left:0px;
  top:0px;
  width:306px;
  height:81px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(204, 204, 204, 1);
  border-radius:5px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u847 {
  position:absolute;
  left:53px;
  top:456px;
  width:306px;
  height:81px;
}
#u848 {
  position:absolute;
  left:2px;
  top:32px;
  width:302px;
  visibility:hidden;
  word-wrap:break-word;
}
#u847_ann {
  position:absolute;
  left:352px;
  top:452px;
  width:1px;
  height:1px;
}
#u849_div {
  position:absolute;
  left:0px;
  top:0px;
  width:40px;
  height:30px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  text-align:center;
}
#u849 {
  position:absolute;
  left:76px;
  top:442px;
  width:40px;
  height:30px;
  text-align:center;
}
#u850 {
  position:absolute;
  left:0px;
  top:7px;
  width:40px;
  word-wrap:break-word;
}
#u851_img {
  position:absolute;
  left:0px;
  top:0px;
  width:50px;
  height:50px;
}
#u851 {
  position:absolute;
  left:76px;
  top:475px;
  width:50px;
  height:50px;
}
#u852 {
  position:absolute;
  left:2px;
  top:17px;
  width:46px;
  visibility:hidden;
  word-wrap:break-word;
}
#u853_img {
  position:absolute;
  left:0px;
  top:0px;
  width:50px;
  height:50px;
}
#u853 {
  position:absolute;
  left:145px;
  top:475px;
  width:50px;
  height:50px;
}
#u854 {
  position:absolute;
  left:2px;
  top:17px;
  width:46px;
  visibility:hidden;
  word-wrap:break-word;
}
#u855_img {
  position:absolute;
  left:0px;
  top:0px;
  width:50px;
  height:50px;
}
#u855 {
  position:absolute;
  left:217px;
  top:475px;
  width:50px;
  height:50px;
}
#u856 {
  position:absolute;
  left:2px;
  top:17px;
  width:46px;
  visibility:hidden;
  word-wrap:break-word;
}
#u857_img {
  position:absolute;
  left:0px;
  top:0px;
  width:50px;
  height:50px;
}
#u857 {
  position:absolute;
  left:293px;
  top:475px;
  width:50px;
  height:50px;
}
#u858 {
  position:absolute;
  left:2px;
  top:17px;
  width:46px;
  visibility:hidden;
  word-wrap:break-word;
}
