body {
  margin:0px;
  background-image:none;
  position:relative;
  left:-0px;
  width:691px;
  margin-left:auto;
  margin-right:auto;
  text-align:left;
}
#base {
  position:absolute;
  z-index:0;
}
#u141_div {
  position:absolute;
  left:0px;
  top:0px;
  width:680px;
  height:473px;
  background:inherit;
  background-color:rgba(215, 215, 215, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u141 {
  position:absolute;
  left:0px;
  top:21px;
  width:680px;
  height:473px;
}
#u142 {
  position:absolute;
  left:2px;
  top:228px;
  width:676px;
  visibility:hidden;
  word-wrap:break-word;
}
#u143_img {
  position:absolute;
  left:0px;
  top:0px;
  width:456px;
  height:397px;
}
#u143 {
  position:absolute;
  left:104px;
  top:34px;
  width:456px;
  height:397px;
}
#u144 {
  position:absolute;
  left:2px;
  top:190px;
  width:452px;
  visibility:hidden;
  word-wrap:break-word;
}
#u145_img {
  position:absolute;
  left:0px;
  top:0px;
  width:60px;
  height:60px;
}
#u145 {
  position:absolute;
  left:69px;
  top:434px;
  width:60px;
  height:60px;
}
#u146 {
  position:absolute;
  left:2px;
  top:22px;
  width:56px;
  visibility:hidden;
  word-wrap:break-word;
}
#u147_img {
  position:absolute;
  left:0px;
  top:0px;
  width:60px;
  height:60px;
}
#u147 {
  position:absolute;
  left:129px;
  top:434px;
  width:60px;
  height:60px;
}
#u148 {
  position:absolute;
  left:2px;
  top:22px;
  width:56px;
  visibility:hidden;
  word-wrap:break-word;
}
#u149_img {
  position:absolute;
  left:0px;
  top:0px;
  width:60px;
  height:60px;
}
#u149 {
  position:absolute;
  left:189px;
  top:434px;
  width:60px;
  height:60px;
}
#u150 {
  position:absolute;
  left:2px;
  top:22px;
  width:56px;
  visibility:hidden;
  word-wrap:break-word;
}
#u151_img {
  position:absolute;
  left:0px;
  top:0px;
  width:60px;
  height:60px;
}
#u151 {
  position:absolute;
  left:249px;
  top:434px;
  width:60px;
  height:60px;
}
#u152 {
  position:absolute;
  left:2px;
  top:22px;
  width:56px;
  visibility:hidden;
  word-wrap:break-word;
}
#u153_img {
  position:absolute;
  left:0px;
  top:0px;
  width:60px;
  height:60px;
}
#u153 {
  position:absolute;
  left:309px;
  top:434px;
  width:60px;
  height:60px;
}
#u154 {
  position:absolute;
  left:2px;
  top:22px;
  width:56px;
  visibility:hidden;
  word-wrap:break-word;
}
#u155_img {
  position:absolute;
  left:0px;
  top:0px;
  width:60px;
  height:60px;
}
#u155 {
  position:absolute;
  left:369px;
  top:434px;
  width:60px;
  height:60px;
}
#u156 {
  position:absolute;
  left:2px;
  top:22px;
  width:56px;
  visibility:hidden;
  word-wrap:break-word;
}
#u157_img {
  position:absolute;
  left:0px;
  top:0px;
  width:60px;
  height:60px;
}
#u157 {
  position:absolute;
  left:429px;
  top:434px;
  width:60px;
  height:60px;
}
#u158 {
  position:absolute;
  left:2px;
  top:22px;
  width:56px;
  visibility:hidden;
  word-wrap:break-word;
}
#u159_img {
  position:absolute;
  left:0px;
  top:0px;
  width:60px;
  height:60px;
}
#u159 {
  position:absolute;
  left:489px;
  top:434px;
  width:60px;
  height:60px;
}
#u160 {
  position:absolute;
  left:2px;
  top:22px;
  width:56px;
  visibility:hidden;
  word-wrap:break-word;
}
#u161_img {
  position:absolute;
  left:0px;
  top:0px;
  width:60px;
  height:60px;
}
#u161 {
  position:absolute;
  left:549px;
  top:434px;
  width:60px;
  height:60px;
}
#u162 {
  position:absolute;
  left:2px;
  top:22px;
  width:56px;
  visibility:hidden;
  word-wrap:break-word;
}
#u163_img {
  position:absolute;
  left:0px;
  top:0px;
  width:40px;
  height:40px;
}
#u163 {
  position:absolute;
  left:12px;
  top:444px;
  width:40px;
  height:40px;
}
#u164 {
  position:absolute;
  left:2px;
  top:12px;
  width:36px;
  visibility:hidden;
  word-wrap:break-word;
}
#u163_ann {
  position:absolute;
  left:45px;
  top:440px;
  width:1px;
  height:1px;
}
#u165_img {
  position:absolute;
  left:0px;
  top:0px;
  width:40px;
  height:40px;
}
#u165 {
  position:absolute;
  left:626px;
  top:444px;
  width:40px;
  height:40px;
}
#u166 {
  position:absolute;
  left:2px;
  top:12px;
  width:36px;
  visibility:hidden;
  word-wrap:break-word;
}
#u165_ann {
  position:absolute;
  left:659px;
  top:440px;
  width:1px;
  height:1px;
}
#u167_img {
  position:absolute;
  left:0px;
  top:0px;
  width:40px;
  height:40px;
}
#u167 {
  position:absolute;
  left:19px;
  top:34px;
  width:40px;
  height:40px;
}
#u168 {
  position:absolute;
  left:2px;
  top:12px;
  width:36px;
  visibility:hidden;
  word-wrap:break-word;
}
#u167_ann {
  position:absolute;
  left:52px;
  top:30px;
  width:1px;
  height:1px;
}
#u169_img {
  position:absolute;
  left:0px;
  top:0px;
  width:40px;
  height:40px;
}
#u169 {
  position:absolute;
  left:633px;
  top:34px;
  width:40px;
  height:40px;
}
#u170 {
  position:absolute;
  left:2px;
  top:12px;
  width:36px;
  visibility:hidden;
  word-wrap:break-word;
}
#u169_ann {
  position:absolute;
  left:666px;
  top:30px;
  width:1px;
  height:1px;
}
#u171 {
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u172_div {
  position:absolute;
  left:0px;
  top:0px;
  width:680px;
  height:28px;
  background:inherit;
  background-color:rgba(51, 51, 51, 0.498039215686275);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u172 {
  position:absolute;
  left:0px;
  top:406px;
  width:680px;
  height:28px;
}
#u173 {
  position:absolute;
  left:2px;
  top:6px;
  width:676px;
  visibility:hidden;
  word-wrap:break-word;
}
#u174_img {
  position:absolute;
  left:0px;
  top:0px;
  width:20px;
  height:20px;
}
#u174 {
  position:absolute;
  left:435px;
  top:411px;
  width:20px;
  height:20px;
}
#u175 {
  position:absolute;
  left:2px;
  top:2px;
  width:16px;
  visibility:hidden;
  word-wrap:break-word;
}
#u176_img {
  position:absolute;
  left:0px;
  top:0px;
  width:20px;
  height:20px;
}
#u176 {
  position:absolute;
  left:468px;
  top:410px;
  width:20px;
  height:20px;
}
#u177 {
  position:absolute;
  left:2px;
  top:2px;
  width:16px;
  visibility:hidden;
  word-wrap:break-word;
}
#u178_img {
  position:absolute;
  left:0px;
  top:0px;
  width:20px;
  height:20px;
}
#u178 {
  position:absolute;
  left:502px;
  top:410px;
  width:20px;
  height:20px;
}
#u179 {
  position:absolute;
  left:2px;
  top:2px;
  width:16px;
  visibility:hidden;
  word-wrap:break-word;
}
#u180_div {
  position:absolute;
  left:0px;
  top:0px;
  width:57px;
  height:16px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  color:#FFFFFF;
}
#u180 {
  position:absolute;
  left:544px;
  top:412px;
  width:57px;
  height:16px;
  color:#FFFFFF;
}
#u181 {
  position:absolute;
  left:0px;
  top:0px;
  width:57px;
  white-space:nowrap;
}
#u182_div {
  position:absolute;
  left:0px;
  top:0px;
  width:31px;
  height:16px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  color:#FFFFFF;
}
#u182 {
  position:absolute;
  left:12px;
  top:412px;
  width:31px;
  height:16px;
  color:#FFFFFF;
}
#u183 {
  position:absolute;
  left:0px;
  top:0px;
  width:31px;
  white-space:nowrap;
}
#u184_div {
  position:absolute;
  left:0px;
  top:0px;
  width:43px;
  height:16px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  color:#FFFFFF;
}
#u184 {
  position:absolute;
  left:614px;
  top:412px;
  width:43px;
  height:16px;
  color:#FFFFFF;
}
#u185 {
  position:absolute;
  left:0px;
  top:0px;
  width:43px;
  white-space:nowrap;
}
#u186_img {
  position:absolute;
  left:0px;
  top:0px;
  width:30px;
  height:30px;
}
#u186 {
  position:absolute;
  left:661px;
  top:5px;
  width:30px;
  height:30px;
}
#u187 {
  position:absolute;
  left:2px;
  top:7px;
  width:26px;
  visibility:hidden;
  word-wrap:break-word;
}
