body {
  margin:0px;
  background-image:none;
  position:relative;
  left:-0px;
  width:691px;
  margin-left:auto;
  margin-right:auto;
  text-align:left;
}
#base {
  position:absolute;
  z-index:0;
}
#u5614_div {
  position:absolute;
  left:0px;
  top:0px;
  width:680px;
  height:473px;
  background:inherit;
  background-color:rgba(215, 215, 215, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u5614 {
  position:absolute;
  left:0px;
  top:21px;
  width:680px;
  height:473px;
}
#u5615 {
  position:absolute;
  left:2px;
  top:228px;
  width:676px;
  visibility:hidden;
  word-wrap:break-word;
}
#u5616_img {
  position:absolute;
  left:0px;
  top:0px;
  width:456px;
  height:397px;
}
#u5616 {
  position:absolute;
  left:104px;
  top:34px;
  width:456px;
  height:397px;
}
#u5617 {
  position:absolute;
  left:2px;
  top:190px;
  width:452px;
  visibility:hidden;
  word-wrap:break-word;
}
#u5618_img {
  position:absolute;
  left:0px;
  top:0px;
  width:60px;
  height:60px;
}
#u5618 {
  position:absolute;
  left:69px;
  top:434px;
  width:60px;
  height:60px;
}
#u5619 {
  position:absolute;
  left:2px;
  top:22px;
  width:56px;
  visibility:hidden;
  word-wrap:break-word;
}
#u5620_img {
  position:absolute;
  left:0px;
  top:0px;
  width:60px;
  height:60px;
}
#u5620 {
  position:absolute;
  left:129px;
  top:434px;
  width:60px;
  height:60px;
}
#u5621 {
  position:absolute;
  left:2px;
  top:22px;
  width:56px;
  visibility:hidden;
  word-wrap:break-word;
}
#u5622_img {
  position:absolute;
  left:0px;
  top:0px;
  width:60px;
  height:60px;
}
#u5622 {
  position:absolute;
  left:189px;
  top:434px;
  width:60px;
  height:60px;
}
#u5623 {
  position:absolute;
  left:2px;
  top:22px;
  width:56px;
  visibility:hidden;
  word-wrap:break-word;
}
#u5624_img {
  position:absolute;
  left:0px;
  top:0px;
  width:60px;
  height:60px;
}
#u5624 {
  position:absolute;
  left:249px;
  top:434px;
  width:60px;
  height:60px;
}
#u5625 {
  position:absolute;
  left:2px;
  top:22px;
  width:56px;
  visibility:hidden;
  word-wrap:break-word;
}
#u5626_img {
  position:absolute;
  left:0px;
  top:0px;
  width:60px;
  height:60px;
}
#u5626 {
  position:absolute;
  left:309px;
  top:434px;
  width:60px;
  height:60px;
}
#u5627 {
  position:absolute;
  left:2px;
  top:22px;
  width:56px;
  visibility:hidden;
  word-wrap:break-word;
}
#u5628_img {
  position:absolute;
  left:0px;
  top:0px;
  width:60px;
  height:60px;
}
#u5628 {
  position:absolute;
  left:369px;
  top:434px;
  width:60px;
  height:60px;
}
#u5629 {
  position:absolute;
  left:2px;
  top:22px;
  width:56px;
  visibility:hidden;
  word-wrap:break-word;
}
#u5630_img {
  position:absolute;
  left:0px;
  top:0px;
  width:60px;
  height:60px;
}
#u5630 {
  position:absolute;
  left:429px;
  top:434px;
  width:60px;
  height:60px;
}
#u5631 {
  position:absolute;
  left:2px;
  top:22px;
  width:56px;
  visibility:hidden;
  word-wrap:break-word;
}
#u5632_img {
  position:absolute;
  left:0px;
  top:0px;
  width:60px;
  height:60px;
}
#u5632 {
  position:absolute;
  left:489px;
  top:434px;
  width:60px;
  height:60px;
}
#u5633 {
  position:absolute;
  left:2px;
  top:22px;
  width:56px;
  visibility:hidden;
  word-wrap:break-word;
}
#u5634_img {
  position:absolute;
  left:0px;
  top:0px;
  width:60px;
  height:60px;
}
#u5634 {
  position:absolute;
  left:549px;
  top:434px;
  width:60px;
  height:60px;
}
#u5635 {
  position:absolute;
  left:2px;
  top:22px;
  width:56px;
  visibility:hidden;
  word-wrap:break-word;
}
#u5636_img {
  position:absolute;
  left:0px;
  top:0px;
  width:40px;
  height:40px;
}
#u5636 {
  position:absolute;
  left:12px;
  top:444px;
  width:40px;
  height:40px;
}
#u5637 {
  position:absolute;
  left:2px;
  top:12px;
  width:36px;
  visibility:hidden;
  word-wrap:break-word;
}
#u5636_ann {
  position:absolute;
  left:45px;
  top:440px;
  width:1px;
  height:1px;
}
#u5638_img {
  position:absolute;
  left:0px;
  top:0px;
  width:40px;
  height:40px;
}
#u5638 {
  position:absolute;
  left:626px;
  top:444px;
  width:40px;
  height:40px;
}
#u5639 {
  position:absolute;
  left:2px;
  top:12px;
  width:36px;
  visibility:hidden;
  word-wrap:break-word;
}
#u5638_ann {
  position:absolute;
  left:659px;
  top:440px;
  width:1px;
  height:1px;
}
#u5640_img {
  position:absolute;
  left:0px;
  top:0px;
  width:40px;
  height:40px;
}
#u5640 {
  position:absolute;
  left:19px;
  top:34px;
  width:40px;
  height:40px;
}
#u5641 {
  position:absolute;
  left:2px;
  top:12px;
  width:36px;
  visibility:hidden;
  word-wrap:break-word;
}
#u5640_ann {
  position:absolute;
  left:52px;
  top:30px;
  width:1px;
  height:1px;
}
#u5642_img {
  position:absolute;
  left:0px;
  top:0px;
  width:40px;
  height:40px;
}
#u5642 {
  position:absolute;
  left:633px;
  top:34px;
  width:40px;
  height:40px;
}
#u5643 {
  position:absolute;
  left:2px;
  top:12px;
  width:36px;
  visibility:hidden;
  word-wrap:break-word;
}
#u5642_ann {
  position:absolute;
  left:666px;
  top:30px;
  width:1px;
  height:1px;
}
#u5644 {
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u5645_div {
  position:absolute;
  left:0px;
  top:0px;
  width:680px;
  height:28px;
  background:inherit;
  background-color:rgba(51, 51, 51, 0.498039215686275);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u5645 {
  position:absolute;
  left:0px;
  top:406px;
  width:680px;
  height:28px;
}
#u5646 {
  position:absolute;
  left:2px;
  top:6px;
  width:676px;
  visibility:hidden;
  word-wrap:break-word;
}
#u5647_img {
  position:absolute;
  left:0px;
  top:0px;
  width:20px;
  height:20px;
}
#u5647 {
  position:absolute;
  left:435px;
  top:411px;
  width:20px;
  height:20px;
}
#u5648 {
  position:absolute;
  left:2px;
  top:2px;
  width:16px;
  visibility:hidden;
  word-wrap:break-word;
}
#u5649_img {
  position:absolute;
  left:0px;
  top:0px;
  width:20px;
  height:20px;
}
#u5649 {
  position:absolute;
  left:468px;
  top:410px;
  width:20px;
  height:20px;
}
#u5650 {
  position:absolute;
  left:2px;
  top:2px;
  width:16px;
  visibility:hidden;
  word-wrap:break-word;
}
#u5651_img {
  position:absolute;
  left:0px;
  top:0px;
  width:20px;
  height:20px;
}
#u5651 {
  position:absolute;
  left:502px;
  top:410px;
  width:20px;
  height:20px;
}
#u5652 {
  position:absolute;
  left:2px;
  top:2px;
  width:16px;
  visibility:hidden;
  word-wrap:break-word;
}
#u5653_div {
  position:absolute;
  left:0px;
  top:0px;
  width:57px;
  height:16px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  color:#FFFFFF;
}
#u5653 {
  position:absolute;
  left:544px;
  top:412px;
  width:57px;
  height:16px;
  color:#FFFFFF;
}
#u5654 {
  position:absolute;
  left:0px;
  top:0px;
  width:57px;
  white-space:nowrap;
}
#u5655_div {
  position:absolute;
  left:0px;
  top:0px;
  width:31px;
  height:16px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  color:#FFFFFF;
}
#u5655 {
  position:absolute;
  left:12px;
  top:412px;
  width:31px;
  height:16px;
  color:#FFFFFF;
}
#u5656 {
  position:absolute;
  left:0px;
  top:0px;
  width:31px;
  white-space:nowrap;
}
#u5657_div {
  position:absolute;
  left:0px;
  top:0px;
  width:43px;
  height:16px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  color:#FFFFFF;
}
#u5657 {
  position:absolute;
  left:614px;
  top:412px;
  width:43px;
  height:16px;
  color:#FFFFFF;
}
#u5658 {
  position:absolute;
  left:0px;
  top:0px;
  width:43px;
  white-space:nowrap;
}
#u5659_img {
  position:absolute;
  left:0px;
  top:0px;
  width:30px;
  height:30px;
}
#u5659 {
  position:absolute;
  left:661px;
  top:5px;
  width:30px;
  height:30px;
}
#u5660 {
  position:absolute;
  left:2px;
  top:7px;
  width:26px;
  visibility:hidden;
  word-wrap:break-word;
}
