body {
  margin:0px;
  background-image:none;
  position:relative;
  left:-4px;
  width:523px;
  margin-left:auto;
  margin-right:auto;
  text-align:left;
}
#base {
  position:absolute;
  z-index:0;
}
.u2381 {
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
.u2382_div {
  position:absolute;
  left:0px;
  top:0px;
  width:511px;
  height:58px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(204, 204, 204, 1);
  border-left:0px;
  border-top:0px;
  border-right:0px;
  border-radius:0px;
  border-top-left-radius:0px;
  border-top-right-radius:0px;
  border-bottom-right-radius:0px;
  border-bottom-left-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
.u2382 {
  position:absolute;
  left:0px;
  top:0px;
  width:511px;
  height:58px;
}
.u2383 {
  position:absolute;
  left:2px;
  top:21px;
  width:507px;
  visibility:hidden;
  word-wrap:break-word;
}
.u2384_div {
  position:absolute;
  left:0px;
  top:0px;
  width:127px;
  height:16px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
.u2384 {
  position:absolute;
  left:230px;
  top:8px;
  width:127px;
  height:16px;
}
.u2385 {
  position:absolute;
  left:0px;
  top:0px;
  width:127px;
  white-space:nowrap;
}
.u2386_div {
  position:absolute;
  left:0px;
  top:0px;
  width:185px;
  height:16px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
.u2386 {
  position:absolute;
  left:9px;
  top:8px;
  width:185px;
  height:16px;
}
.u2387 {
  position:absolute;
  left:0px;
  top:0px;
  width:185px;
  white-space:nowrap;
}
.u2388_div {
  position:absolute;
  left:0px;
  top:0px;
  width:113px;
  height:16px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
.u2388 {
  position:absolute;
  left:230px;
  top:34px;
  width:113px;
  height:16px;
}
.u2389 {
  position:absolute;
  left:0px;
  top:0px;
  width:113px;
  white-space:nowrap;
}
.u2390_div {
  position:absolute;
  left:0px;
  top:0px;
  width:185px;
  height:16px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
.u2390 {
  position:absolute;
  left:9px;
  top:34px;
  width:185px;
  height:16px;
}
.u2391 {
  position:absolute;
  left:0px;
  top:0px;
  width:185px;
  white-space:nowrap;
}
#u2380-1 {
  position:absolute;
  left:0px;
  top:0px;
  width:511px;
  height:58px;
}
#u2380-2 {
  position:absolute;
  left:0px;
  top:58px;
  width:511px;
  height:58px;
}
#u2380-3 {
  position:absolute;
  left:0px;
  top:116px;
  width:511px;
  height:58px;
}
#u2380-4 {
  position:absolute;
  left:0px;
  top:174px;
  width:511px;
  height:58px;
}
#u2380-5 {
  position:absolute;
  left:0px;
  top:232px;
  width:511px;
  height:58px;
}
#u2380-6 {
  position:absolute;
  left:0px;
  top:290px;
  width:511px;
  height:58px;
}
#u2380 {
  position:absolute;
  left:7px;
  top:52px;
  width:511px;
  height:348px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
}
#u2392_img {
  position:absolute;
  left:0px;
  top:0px;
  width:15px;
  height:15px;
}
#u2392 {
  position:absolute;
  left:490px;
  top:65px;
  width:15px;
  height:15px;
}
#u2393 {
  position:absolute;
  left:2px;
  top:0px;
  width:11px;
  visibility:hidden;
  word-wrap:break-word;
}
#u2394_img {
  position:absolute;
  left:0px;
  top:0px;
  width:15px;
  height:15px;
}
#u2394 {
  position:absolute;
  left:490px;
  top:179px;
  width:15px;
  height:15px;
}
#u2395 {
  position:absolute;
  left:2px;
  top:0px;
  width:11px;
  visibility:hidden;
  word-wrap:break-word;
}
#u2396_img {
  position:absolute;
  left:0px;
  top:0px;
  width:15px;
  height:15px;
}
#u2396 {
  position:absolute;
  left:490px;
  top:296px;
  width:15px;
  height:15px;
}
#u2397 {
  position:absolute;
  left:2px;
  top:0px;
  width:11px;
  visibility:hidden;
  word-wrap:break-word;
}
#u2398_div {
  position:absolute;
  left:0px;
  top:0px;
  width:29px;
  height:16px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  color:#339933;
}
#u2398 {
  position:absolute;
  left:476px;
  top:120px;
  width:29px;
  height:16px;
  color:#339933;
}
#u2399 {
  position:absolute;
  left:0px;
  top:0px;
  width:29px;
  white-space:nowrap;
}
#u2400_div {
  position:absolute;
  left:0px;
  top:0px;
  width:29px;
  height:16px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  color:#339933;
}
#u2400 {
  position:absolute;
  left:476px;
  top:236px;
  width:29px;
  height:16px;
  color:#339933;
}
#u2401 {
  position:absolute;
  left:0px;
  top:0px;
  width:29px;
  white-space:nowrap;
}
#u2402_div {
  position:absolute;
  left:0px;
  top:0px;
  width:29px;
  height:16px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  color:#FF0000;
}
#u2402 {
  position:absolute;
  left:476px;
  top:351px;
  width:29px;
  height:16px;
  color:#FF0000;
}
#u2403 {
  position:absolute;
  left:0px;
  top:0px;
  width:29px;
  white-space:nowrap;
}
#u2404_img {
  position:absolute;
  left:-1px;
  top:-1px;
  width:88px;
  height:43px;
}
#u2404 {
  position:absolute;
  left:92px;
  top:7px;
  width:85px;
  height:40px;
  font-family:'微软雅黑';
  font-weight:400;
  font-style:normal;
  font-size:14px;
}
#u2404_img.selected {
}
#u2404.selected {
}
#u2405 {
  position:absolute;
  left:2px;
  top:10px;
  width:81px;
  word-wrap:break-word;
}
#u2406_img {
  position:absolute;
  left:0px;
  top:0px;
  width:524px;
  height:2px;
}
#u2406 {
  position:absolute;
  left:4px;
  top:46px;
  width:523px;
  height:1px;
}
#u2407 {
  position:absolute;
  left:2px;
  top:-8px;
  width:519px;
  visibility:hidden;
  word-wrap:break-word;
}
#u2408_img {
  position:absolute;
  left:-1px;
  top:-1px;
  width:88px;
  height:43px;
}
#u2408 {
  position:absolute;
  left:177px;
  top:7px;
  width:85px;
  height:40px;
  font-family:'微软雅黑';
  font-weight:400;
  font-style:normal;
  font-size:14px;
  color:#666666;
}
#u2408_img.selected {
}
#u2408.selected {
}
#u2409 {
  position:absolute;
  left:2px;
  top:10px;
  width:81px;
  word-wrap:break-word;
}
#u2410_div {
  position:absolute;
  left:0px;
  top:0px;
  width:85px;
  height:40px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  box-sizing:border-box;
  border-width:2px;
  border-style:solid;
  border-color:rgba(25, 158, 216, 1);
  border-left:0px;
  border-top:0px;
  border-right:0px;
  border-radius:2px;
  border-top-left-radius:0px;
  border-top-right-radius:0px;
  border-bottom-right-radius:0px;
  border-bottom-left-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'微软雅黑';
  font-weight:400;
  font-style:normal;
  font-size:14px;
  color:#199ED8;
}
#u2410 {
  position:absolute;
  left:262px;
  top:7px;
  width:85px;
  height:40px;
  font-family:'微软雅黑';
  font-weight:400;
  font-style:normal;
  font-size:14px;
  color:#199ED8;
}
#u2410_div.selected {
  position:absolute;
  left:0px;
  top:0px;
  width:85px;
  height:40px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  box-sizing:border-box;
  border-width:2px;
  border-style:solid;
  border-color:rgba(29, 158, 215, 1);
  border-left:0px;
  border-top:0px;
  border-right:0px;
  border-radius:2px;
  border-top-left-radius:0px;
  border-top-right-radius:0px;
  border-bottom-right-radius:0px;
  border-bottom-left-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'微软雅黑';
  font-weight:400;
  font-style:normal;
  font-size:14px;
  color:#199ED8;
}
#u2410.selected {
}
#u2411 {
  position:absolute;
  left:2px;
  top:10px;
  width:81px;
  word-wrap:break-word;
}
#u2412_img {
  position:absolute;
  left:-1px;
  top:-1px;
  width:88px;
  height:43px;
}
#u2412 {
  position:absolute;
  left:347px;
  top:7px;
  width:85px;
  height:40px;
  font-family:'微软雅黑';
  font-weight:400;
  font-style:normal;
  font-size:14px;
  color:#666666;
}
#u2412_img.selected {
}
#u2412.selected {
}
#u2413 {
  position:absolute;
  left:2px;
  top:10px;
  width:81px;
  word-wrap:break-word;
}
#u2414 {
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u2415_img {
  position:absolute;
  left:0px;
  top:0px;
  width:32px;
  height:32px;
}
#u2415 {
  position:absolute;
  left:7px;
  top:14px;
  width:32px;
  height:32px;
}
#u2416 {
  position:absolute;
  left:2px;
  top:8px;
  width:28px;
  visibility:hidden;
  word-wrap:break-word;
}
