body {
  margin:0px;
  background-image:none;
  position:relative;
  left:-4px;
  width:523px;
  margin-left:auto;
  margin-right:auto;
  text-align:left;
}
#base {
  position:absolute;
  z-index:0;
}
.u6682 {
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
.u6683_div {
  position:absolute;
  left:0px;
  top:0px;
  width:511px;
  height:58px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(204, 204, 204, 1);
  border-left:0px;
  border-top:0px;
  border-right:0px;
  border-radius:0px;
  border-top-left-radius:0px;
  border-top-right-radius:0px;
  border-bottom-right-radius:0px;
  border-bottom-left-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
.u6683 {
  position:absolute;
  left:0px;
  top:0px;
  width:511px;
  height:58px;
}
.u6684 {
  position:absolute;
  left:2px;
  top:21px;
  width:507px;
  visibility:hidden;
  word-wrap:break-word;
}
.u6685_div {
  position:absolute;
  left:0px;
  top:0px;
  width:127px;
  height:16px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
.u6685 {
  position:absolute;
  left:230px;
  top:8px;
  width:127px;
  height:16px;
}
.u6686 {
  position:absolute;
  left:0px;
  top:0px;
  width:127px;
  white-space:nowrap;
}
.u6687_div {
  position:absolute;
  left:0px;
  top:0px;
  width:185px;
  height:16px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
.u6687 {
  position:absolute;
  left:9px;
  top:8px;
  width:185px;
  height:16px;
}
.u6688 {
  position:absolute;
  left:0px;
  top:0px;
  width:185px;
  white-space:nowrap;
}
.u6689_div {
  position:absolute;
  left:0px;
  top:0px;
  width:113px;
  height:16px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
.u6689 {
  position:absolute;
  left:230px;
  top:34px;
  width:113px;
  height:16px;
}
.u6690 {
  position:absolute;
  left:0px;
  top:0px;
  width:113px;
  white-space:nowrap;
}
.u6691_div {
  position:absolute;
  left:0px;
  top:0px;
  width:185px;
  height:16px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
.u6691 {
  position:absolute;
  left:9px;
  top:34px;
  width:185px;
  height:16px;
}
.u6692 {
  position:absolute;
  left:0px;
  top:0px;
  width:185px;
  white-space:nowrap;
}
#u6681-1 {
  position:absolute;
  left:0px;
  top:0px;
  width:511px;
  height:58px;
}
#u6681-2 {
  position:absolute;
  left:0px;
  top:58px;
  width:511px;
  height:58px;
}
#u6681-3 {
  position:absolute;
  left:0px;
  top:116px;
  width:511px;
  height:58px;
}
#u6681-4 {
  position:absolute;
  left:0px;
  top:174px;
  width:511px;
  height:58px;
}
#u6681-5 {
  position:absolute;
  left:0px;
  top:232px;
  width:511px;
  height:58px;
}
#u6681-6 {
  position:absolute;
  left:0px;
  top:290px;
  width:511px;
  height:58px;
}
#u6681 {
  position:absolute;
  left:7px;
  top:52px;
  width:511px;
  height:348px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
}
#u6693_img {
  position:absolute;
  left:0px;
  top:0px;
  width:15px;
  height:15px;
}
#u6693 {
  position:absolute;
  left:490px;
  top:65px;
  width:15px;
  height:15px;
}
#u6694 {
  position:absolute;
  left:2px;
  top:0px;
  width:11px;
  visibility:hidden;
  word-wrap:break-word;
}
#u6695_img {
  position:absolute;
  left:0px;
  top:0px;
  width:15px;
  height:15px;
}
#u6695 {
  position:absolute;
  left:490px;
  top:179px;
  width:15px;
  height:15px;
}
#u6696 {
  position:absolute;
  left:2px;
  top:0px;
  width:11px;
  visibility:hidden;
  word-wrap:break-word;
}
#u6697_img {
  position:absolute;
  left:0px;
  top:0px;
  width:15px;
  height:15px;
}
#u6697 {
  position:absolute;
  left:490px;
  top:296px;
  width:15px;
  height:15px;
}
#u6698 {
  position:absolute;
  left:2px;
  top:0px;
  width:11px;
  visibility:hidden;
  word-wrap:break-word;
}
#u6699_div {
  position:absolute;
  left:0px;
  top:0px;
  width:29px;
  height:16px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  color:#339933;
}
#u6699 {
  position:absolute;
  left:476px;
  top:120px;
  width:29px;
  height:16px;
  color:#339933;
}
#u6700 {
  position:absolute;
  left:0px;
  top:0px;
  width:29px;
  white-space:nowrap;
}
#u6701_div {
  position:absolute;
  left:0px;
  top:0px;
  width:29px;
  height:16px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  color:#339933;
}
#u6701 {
  position:absolute;
  left:476px;
  top:236px;
  width:29px;
  height:16px;
  color:#339933;
}
#u6702 {
  position:absolute;
  left:0px;
  top:0px;
  width:29px;
  white-space:nowrap;
}
#u6703_div {
  position:absolute;
  left:0px;
  top:0px;
  width:29px;
  height:16px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  color:#FF0000;
}
#u6703 {
  position:absolute;
  left:476px;
  top:351px;
  width:29px;
  height:16px;
  color:#FF0000;
}
#u6704 {
  position:absolute;
  left:0px;
  top:0px;
  width:29px;
  white-space:nowrap;
}
#u6705_img {
  position:absolute;
  left:-1px;
  top:-1px;
  width:88px;
  height:43px;
}
#u6705 {
  position:absolute;
  left:92px;
  top:7px;
  width:85px;
  height:40px;
  font-family:'微软雅黑';
  font-weight:400;
  font-style:normal;
  font-size:14px;
}
#u6705_img.selected {
}
#u6705.selected {
}
#u6706 {
  position:absolute;
  left:2px;
  top:10px;
  width:81px;
  word-wrap:break-word;
}
#u6707_img {
  position:absolute;
  left:0px;
  top:0px;
  width:524px;
  height:2px;
}
#u6707 {
  position:absolute;
  left:4px;
  top:46px;
  width:523px;
  height:1px;
}
#u6708 {
  position:absolute;
  left:2px;
  top:-8px;
  width:519px;
  visibility:hidden;
  word-wrap:break-word;
}
#u6709_img {
  position:absolute;
  left:-1px;
  top:-1px;
  width:88px;
  height:43px;
}
#u6709 {
  position:absolute;
  left:177px;
  top:7px;
  width:85px;
  height:40px;
  font-family:'微软雅黑';
  font-weight:400;
  font-style:normal;
  font-size:14px;
  color:#666666;
}
#u6709_img.selected {
}
#u6709.selected {
}
#u6710 {
  position:absolute;
  left:2px;
  top:10px;
  width:81px;
  word-wrap:break-word;
}
#u6711_div {
  position:absolute;
  left:0px;
  top:0px;
  width:85px;
  height:40px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  box-sizing:border-box;
  border-width:2px;
  border-style:solid;
  border-color:rgba(25, 158, 216, 1);
  border-left:0px;
  border-top:0px;
  border-right:0px;
  border-radius:2px;
  border-top-left-radius:0px;
  border-top-right-radius:0px;
  border-bottom-right-radius:0px;
  border-bottom-left-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'微软雅黑';
  font-weight:400;
  font-style:normal;
  font-size:14px;
  color:#199ED8;
}
#u6711 {
  position:absolute;
  left:262px;
  top:7px;
  width:85px;
  height:40px;
  font-family:'微软雅黑';
  font-weight:400;
  font-style:normal;
  font-size:14px;
  color:#199ED8;
}
#u6711_div.selected {
  position:absolute;
  left:0px;
  top:0px;
  width:85px;
  height:40px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  box-sizing:border-box;
  border-width:2px;
  border-style:solid;
  border-color:rgba(29, 158, 215, 1);
  border-left:0px;
  border-top:0px;
  border-right:0px;
  border-radius:2px;
  border-top-left-radius:0px;
  border-top-right-radius:0px;
  border-bottom-right-radius:0px;
  border-bottom-left-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'微软雅黑';
  font-weight:400;
  font-style:normal;
  font-size:14px;
  color:#199ED8;
}
#u6711.selected {
}
#u6712 {
  position:absolute;
  left:2px;
  top:10px;
  width:81px;
  word-wrap:break-word;
}
#u6713_img {
  position:absolute;
  left:-1px;
  top:-1px;
  width:88px;
  height:43px;
}
#u6713 {
  position:absolute;
  left:347px;
  top:7px;
  width:85px;
  height:40px;
  font-family:'微软雅黑';
  font-weight:400;
  font-style:normal;
  font-size:14px;
  color:#666666;
}
#u6713_img.selected {
}
#u6713.selected {
}
#u6714 {
  position:absolute;
  left:2px;
  top:10px;
  width:81px;
  word-wrap:break-word;
}
#u6715 {
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u6716_img {
  position:absolute;
  left:0px;
  top:0px;
  width:32px;
  height:32px;
}
#u6716 {
  position:absolute;
  left:7px;
  top:14px;
  width:32px;
  height:32px;
}
#u6717 {
  position:absolute;
  left:2px;
  top:8px;
  width:28px;
  visibility:hidden;
  word-wrap:break-word;
}
