body {
  margin:0px;
  background-image:none;
  position:relative;
  left:-0px;
  width:529px;
  margin-left:auto;
  margin-right:auto;
  text-align:left;
}
#base {
  position:absolute;
  z-index:0;
}
.u1082_div {
  position:absolute;
  left:0px;
  top:0px;
  width:520px;
  height:74px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(204, 204, 204, 1);
  border-left:0px;
  border-top:0px;
  border-right:0px;
  border-radius:0px;
  border-top-left-radius:0px;
  border-top-right-radius:0px;
  border-bottom-right-radius:0px;
  border-bottom-left-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
.u1082 {
  position:absolute;
  left:0px;
  top:0px;
  width:520px;
  height:74px;
}
.u1083 {
  position:absolute;
  left:2px;
  top:29px;
  width:516px;
  visibility:hidden;
  word-wrap:break-word;
}
.u1084_div {
  position:absolute;
  left:0px;
  top:0px;
  width:85px;
  height:16px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
.u1084 {
  position:absolute;
  left:97px;
  top:12px;
  width:85px;
  height:16px;
}
.u1085 {
  position:absolute;
  left:0px;
  top:0px;
  width:85px;
  white-space:nowrap;
}
.u1086_div {
  position:absolute;
  left:0px;
  top:0px;
  width:94px;
  height:16px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  color:#199ED8;
}
.u1086 {
  position:absolute;
  left:97px;
  top:46px;
  width:94px;
  height:16px;
  color:#199ED8;
}
.u1087 {
  position:absolute;
  left:0px;
  top:0px;
  width:94px;
  white-space:nowrap;
}
.u1088_img {
  position:absolute;
  left:0px;
  top:0px;
  width:50px;
  height:50px;
}
.u1088 {
  position:absolute;
  left:13px;
  top:12px;
  width:50px;
  height:50px;
}
.u1089 {
  position:absolute;
  left:2px;
  top:17px;
  width:46px;
  visibility:hidden;
  word-wrap:break-word;
}
.u1088_ann {
  position:absolute;
  left:56px;
  top:8px;
  width:1px;
  height:1px;
}
#u1081-1 {
  position:absolute;
  left:0px;
  top:0px;
  width:520px;
  height:74px;
}
#u1081-2 {
  position:absolute;
  left:0px;
  top:74px;
  width:520px;
  height:74px;
}
#u1081-3 {
  position:absolute;
  left:0px;
  top:148px;
  width:520px;
  height:74px;
}
#u1081 {
  position:absolute;
  left:0px;
  top:54px;
  width:520px;
  height:222px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
}
#u1090_div {
  position:absolute;
  left:0px;
  top:0px;
  width:529px;
  height:49px;
  background:inherit;
  background-color:rgba(215, 215, 215, 0.8);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:16px;
}
#u1090 {
  position:absolute;
  left:0px;
  top:0px;
  width:529px;
  height:49px;
  font-size:16px;
}
#u1091 {
  position:absolute;
  left:2px;
  top:15px;
  width:525px;
  word-wrap:break-word;
}
#u1092_img {
  position:absolute;
  left:0px;
  top:0px;
  width:32px;
  height:32px;
}
#u1092 {
  position:absolute;
  left:8px;
  top:7px;
  width:32px;
  height:32px;
}
#u1093 {
  position:absolute;
  left:2px;
  top:8px;
  width:28px;
  visibility:hidden;
  word-wrap:break-word;
}
