body {
  margin:0px;
  background-image:none;
  position:relative;
  left:-0px;
  width:530px;
  margin-left:auto;
  margin-right:auto;
  text-align:left;
}
#base {
  position:absolute;
  z-index:0;
}
.u8228_div {
  position:absolute;
  left:0px;
  top:0px;
  width:530px;
  height:123px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(204, 204, 204, 1);
  border-left:0px;
  border-top:0px;
  border-right:0px;
  border-radius:0px;
  border-top-left-radius:0px;
  border-top-right-radius:0px;
  border-bottom-right-radius:0px;
  border-bottom-left-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
.u8228 {
  position:absolute;
  left:0px;
  top:0px;
  width:530px;
  height:123px;
}
.u8229 {
  position:absolute;
  left:2px;
  top:54px;
  width:526px;
  visibility:hidden;
  word-wrap:break-word;
}
.u8230_img {
  position:absolute;
  left:0px;
  top:0px;
  width:150px;
  height:100px;
}
.u8230 {
  position:absolute;
  left:50px;
  top:11px;
  width:150px;
  height:100px;
}
.u8231 {
  position:absolute;
  left:2px;
  top:42px;
  width:146px;
  visibility:hidden;
  word-wrap:break-word;
}
.u8232_div {
  position:absolute;
  left:0px;
  top:0px;
  width:76px;
  height:17px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Arial Negreta', 'Arial Normal', 'Arial';
  font-weight:700;
  font-style:normal;
  font-size:15px;
}
.u8232 {
  position:absolute;
  left:223px;
  top:21px;
  width:76px;
  height:17px;
  font-family:'Arial Negreta', 'Arial Normal', 'Arial';
  font-weight:700;
  font-style:normal;
  font-size:15px;
}
.u8233 {
  position:absolute;
  left:0px;
  top:0px;
  width:76px;
  white-space:nowrap;
}
.u8234_div {
  position:absolute;
  left:0px;
  top:0px;
  width:29px;
  height:16px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  color:#999999;
}
.u8234 {
  position:absolute;
  left:223px;
  top:56px;
  width:29px;
  height:16px;
  color:#999999;
}
.u8235 {
  position:absolute;
  left:0px;
  top:0px;
  width:29px;
  white-space:nowrap;
}
.u8236_div {
  position:absolute;
  left:0px;
  top:0px;
  width:29px;
  height:16px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  color:#999999;
}
.u8236 {
  position:absolute;
  left:287px;
  top:56px;
  width:29px;
  height:16px;
  color:#999999;
}
.u8237 {
  position:absolute;
  left:0px;
  top:0px;
  width:29px;
  white-space:nowrap;
}
.u8238_div {
  position:absolute;
  left:0px;
  top:0px;
  width:57px;
  height:16px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
.u8238 {
  position:absolute;
  left:462px;
  top:12px;
  width:57px;
  height:16px;
}
.u8239 {
  position:absolute;
  left:0px;
  top:0px;
  width:57px;
  white-space:nowrap;
}
.u8240_div {
  position:absolute;
  left:0px;
  top:0px;
  width:29px;
  height:16px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  color:#999999;
}
.u8240 {
  position:absolute;
  left:223px;
  top:82px;
  width:29px;
  height:16px;
  color:#999999;
}
.u8241 {
  position:absolute;
  left:0px;
  top:0px;
  width:29px;
  white-space:nowrap;
}
.u8242_img {
  position:absolute;
  left:0px;
  top:0px;
  width:75px;
  height:30px;
}
.u8242 {
  position:absolute;
  left:442px;
  top:77px;
  width:75px;
  height:30px;
}
.u8243 {
  position:absolute;
  left:2px;
  top:7px;
  width:71px;
  word-wrap:break-word;
}
.u8242_ann {
  position:absolute;
  left:510px;
  top:73px;
  width:1px;
  height:1px;
}
.u8244 {
  position:absolute;
  left:17px;
  top:48px;
  width:23px;
  height:16px;
}
.u8245 {
  position:absolute;
  left:16px;
  top:0px;
  width:5px;
  visibility:hidden;
  word-wrap:break-word;
}
.u8244_input {
  position:absolute;
  left:-3px;
  top:-2px;
}
#u8227-1 {
  position:absolute;
  left:0px;
  top:0px;
  width:530px;
  height:123px;
}
#u8227-2 {
  position:absolute;
  left:0px;
  top:123px;
  width:530px;
  height:123px;
}
#u8227-3 {
  position:absolute;
  left:0px;
  top:246px;
  width:530px;
  height:123px;
}
#u8227 {
  position:absolute;
  left:0px;
  top:104px;
  width:530px;
  height:369px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
}
#u8246 {
  position:absolute;
  left:17px;
  top:71px;
  width:72px;
  height:16px;
}
#u8247 {
  position:absolute;
  left:16px;
  top:0px;
  width:54px;
  word-wrap:break-word;
}
#u8246_input {
  position:absolute;
  left:-3px;
  top:-2px;
}
#u8248_div {
  position:absolute;
  left:0px;
  top:0px;
  width:80px;
  height:30px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:5px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:12px;
}
#u8248 {
  position:absolute;
  left:437px;
  top:64px;
  width:80px;
  height:30px;
  font-size:12px;
}
#u8249 {
  position:absolute;
  left:2px;
  top:8px;
  width:76px;
  word-wrap:break-word;
}
#u8250_div {
  position:absolute;
  left:0px;
  top:0px;
  width:80px;
  height:30px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:5px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:12px;
}
#u8250 {
  position:absolute;
  left:338px;
  top:63px;
  width:80px;
  height:30px;
  font-size:12px;
}
#u8251 {
  position:absolute;
  left:2px;
  top:8px;
  width:76px;
  word-wrap:break-word;
}
#u8250_ann {
  position:absolute;
  left:411px;
  top:59px;
  width:1px;
  height:1px;
}
#u8252_div {
  position:absolute;
  left:0px;
  top:0px;
  width:529px;
  height:49px;
  background:inherit;
  background-color:rgba(215, 215, 215, 0.8);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:16px;
}
#u8252 {
  position:absolute;
  left:0px;
  top:0px;
  width:529px;
  height:49px;
  font-size:16px;
}
#u8253 {
  position:absolute;
  left:2px;
  top:15px;
  width:525px;
  word-wrap:break-word;
}
#u8254_img {
  position:absolute;
  left:0px;
  top:0px;
  width:32px;
  height:32px;
}
#u8254 {
  position:absolute;
  left:8px;
  top:7px;
  width:32px;
  height:32px;
}
#u8255 {
  position:absolute;
  left:2px;
  top:8px;
  width:28px;
  visibility:hidden;
  word-wrap:break-word;
}
#u8256_div {
  position:absolute;
  left:0px;
  top:0px;
  width:29px;
  height:16px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u8256 {
  position:absolute;
  left:478px;
  top:17px;
  width:29px;
  height:16px;
}
#u8257 {
  position:absolute;
  left:0px;
  top:0px;
  width:29px;
  white-space:nowrap;
}
#u8256_ann {
  position:absolute;
  left:500px;
  top:13px;
  width:1px;
  height:1px;
}
