body {
  margin:0px;
  background-image:none;
  position:relative;
  left:-0px;
  width:529px;
  margin-left:auto;
  margin-right:auto;
  text-align:left;
}
#base {
  position:absolute;
  z-index:0;
}
.u984 {
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
.u985_div {
  position:absolute;
  left:0px;
  top:0px;
  width:520px;
  height:74px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(204, 204, 204, 1);
  border-left:0px;
  border-top:0px;
  border-right:0px;
  border-radius:0px;
  border-top-left-radius:0px;
  border-top-right-radius:0px;
  border-bottom-right-radius:0px;
  border-bottom-left-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
.u985 {
  position:absolute;
  left:0px;
  top:0px;
  width:520px;
  height:74px;
}
.u986 {
  position:absolute;
  left:2px;
  top:29px;
  width:516px;
  visibility:hidden;
  word-wrap:break-word;
}
.u987_div {
  position:absolute;
  left:0px;
  top:0px;
  width:57px;
  height:16px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
.u987 {
  position:absolute;
  left:16px;
  top:15px;
  width:57px;
  height:16px;
}
.u988 {
  position:absolute;
  left:0px;
  top:0px;
  width:57px;
  white-space:nowrap;
}
.u989_div {
  position:absolute;
  left:0px;
  top:0px;
  width:66px;
  height:16px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:13px;
  color:#999999;
}
.u989 {
  position:absolute;
  left:16px;
  top:44px;
  width:66px;
  height:16px;
  font-size:13px;
  color:#999999;
}
.u990 {
  position:absolute;
  left:0px;
  top:0px;
  width:66px;
  white-space:nowrap;
}
.u991_div {
  position:absolute;
  left:0px;
  top:0px;
  width:37px;
  height:17px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Arial Negreta', 'Arial Normal', 'Arial';
  font-weight:700;
  font-style:normal;
  font-size:15px;
}
.u991 {
  position:absolute;
  left:452px;
  top:17px;
  width:37px;
  height:17px;
  font-family:'Arial Negreta', 'Arial Normal', 'Arial';
  font-weight:700;
  font-style:normal;
  font-size:15px;
}
.u992 {
  position:absolute;
  left:0px;
  top:0px;
  width:37px;
  white-space:nowrap;
}
.u993_div {
  position:absolute;
  left:0px;
  top:0px;
  width:75px;
  height:16px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
.u993 {
  position:absolute;
  left:421px;
  top:39px;
  width:75px;
  height:16px;
}
.u994 {
  position:absolute;
  left:0px;
  top:0px;
  width:75px;
  white-space:nowrap;
}
#u983-1 {
  position:absolute;
  left:0px;
  top:0px;
  width:520px;
  height:74px;
}
#u983-2 {
  position:absolute;
  left:0px;
  top:74px;
  width:520px;
  height:74px;
}
#u983-3 {
  position:absolute;
  left:0px;
  top:148px;
  width:520px;
  height:74px;
}
#u983 {
  position:absolute;
  left:0px;
  top:54px;
  width:520px;
  height:222px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
}
#u995_div {
  position:absolute;
  left:0px;
  top:0px;
  width:529px;
  height:49px;
  background:inherit;
  background-color:rgba(215, 215, 215, 0.8);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:16px;
}
#u995 {
  position:absolute;
  left:0px;
  top:0px;
  width:529px;
  height:49px;
  font-size:16px;
}
#u996 {
  position:absolute;
  left:2px;
  top:15px;
  width:525px;
  word-wrap:break-word;
}
#u997_img {
  position:absolute;
  left:0px;
  top:0px;
  width:32px;
  height:32px;
}
#u997 {
  position:absolute;
  left:8px;
  top:7px;
  width:32px;
  height:32px;
}
#u998 {
  position:absolute;
  left:2px;
  top:8px;
  width:28px;
  visibility:hidden;
  word-wrap:break-word;
}
