body {
  margin:0px;
  background-image:none;
  position:relative;
  left:-12px;
  width:303px;
  margin-left:auto;
  margin-right:auto;
  text-align:left;
}
#base {
  position:absolute;
  z-index:0;
}
#u7415_div {
  position:absolute;
  left:0px;
  top:0px;
  width:303px;
  height:398px;
  background:inherit;
  background-color:rgba(204, 204, 204, 0.498039215686275);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(204, 204, 204, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u7415 {
  position:absolute;
  left:12px;
  top:14px;
  width:303px;
  height:398px;
}
#u7416 {
  position:absolute;
  left:2px;
  top:191px;
  width:299px;
  visibility:hidden;
  word-wrap:break-word;
}
#u7417_div {
  position:absolute;
  left:0px;
  top:0px;
  width:302px;
  height:40px;
  background:inherit;
  background-color:rgba(204, 204, 204, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u7417 {
  position:absolute;
  left:13px;
  top:15px;
  width:302px;
  height:40px;
}
#u7418 {
  position:absolute;
  left:2px;
  top:12px;
  width:298px;
  word-wrap:break-word;
}
#u7419_div {
  position:absolute;
  left:0px;
  top:0px;
  width:286px;
  height:301px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(204, 204, 204, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u7419 {
  position:absolute;
  left:18px;
  top:58px;
  width:286px;
  height:301px;
}
#u7420 {
  position:absolute;
  left:2px;
  top:142px;
  width:282px;
  visibility:hidden;
  word-wrap:break-word;
}
.u7422_img {
  position:absolute;
  left:0px;
  top:0px;
  width:286px;
  height:40px;
}
.u7422 {
  position:absolute;
  left:0px;
  top:0px;
  width:286px;
  height:40px;
}
.u7423 {
  position:absolute;
  left:2px;
  top:12px;
  width:282px;
  visibility:hidden;
  word-wrap:break-word;
}
.u7424_img {
  position:absolute;
  left:0px;
  top:0px;
  width:25px;
  height:25px;
}
.u7424 {
  position:absolute;
  left:30px;
  top:7px;
  width:25px;
  height:25px;
}
.u7425 {
  position:absolute;
  left:2px;
  top:4px;
  width:21px;
  visibility:hidden;
  word-wrap:break-word;
}
.u7426_div {
  position:absolute;
  left:0px;
  top:0px;
  width:29px;
  height:16px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
.u7426 {
  position:absolute;
  left:65px;
  top:12px;
  width:29px;
  height:16px;
}
.u7427 {
  position:absolute;
  left:0px;
  top:0px;
  width:29px;
  white-space:nowrap;
}
.u7428 {
  position:absolute;
  left:7px;
  top:12px;
  width:22px;
  height:16px;
}
.u7429 {
  position:absolute;
  left:16px;
  top:0px;
  width:4px;
  visibility:hidden;
  word-wrap:break-word;
}
.u7428_input {
  position:absolute;
  left:-3px;
  top:-2px;
}
.u7428_ann {
  position:absolute;
  left:22px;
  top:8px;
  width:1px;
  height:1px;
}
#u7421-1 {
  position:absolute;
  left:0px;
  top:0px;
  width:286px;
  height:40px;
}
#u7421-2 {
  position:absolute;
  left:0px;
  top:40px;
  width:286px;
  height:40px;
}
#u7421-3 {
  position:absolute;
  left:0px;
  top:80px;
  width:286px;
  height:40px;
}
#u7421-4 {
  position:absolute;
  left:0px;
  top:120px;
  width:286px;
  height:40px;
}
#u7421-5 {
  position:absolute;
  left:0px;
  top:160px;
  width:286px;
  height:40px;
}
#u7421 {
  position:absolute;
  left:18px;
  top:90px;
  width:286px;
  height:200px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
}
#u7430_img {
  position:absolute;
  left:0px;
  top:0px;
  width:283px;
  height:31px;
}
#u7430 {
  position:absolute;
  left:20px;
  top:369px;
  width:283px;
  height:31px;
  font-family:'微软雅黑';
  font-weight:400;
  font-style:normal;
  font-size:14px;
  color:#FFFFFF;
}
#u7430_img.mouseOver {
}
#u7430.mouseOver {
}
#u7431 {
  position:absolute;
  left:2px;
  top:6px;
  width:279px;
  word-wrap:break-word;
}
#u7432_img {
  position:absolute;
  left:0px;
  top:0px;
  width:25px;
  height:25px;
}
#u7432 {
  position:absolute;
  left:279px;
  top:23px;
  width:25px;
  height:25px;
}
#u7433 {
  position:absolute;
  left:2px;
  top:4px;
  width:21px;
  visibility:hidden;
  word-wrap:break-word;
}
#u7432_ann {
  position:absolute;
  left:297px;
  top:19px;
  width:1px;
  height:1px;
}
#u7434 {
  position:absolute;
  left:27px;
  top:64px;
  width:266px;
  height:25px;
}
#u7434_input {
  position:absolute;
  left:0px;
  top:0px;
  width:266px;
  height:25px;
  font-family:'微软雅黑';
  font-weight:400;
  font-style:normal;
  font-size:14px;
  text-decoration:none;
  color:#000000;
  text-align:center;
  border-color:transparent;
  outline-style:none;
}
#u7434_ann {
  position:absolute;
  left:286px;
  top:60px;
  width:1px;
  height:1px;
}
#u7435_img {
  position:absolute;
  left:0px;
  top:0px;
  width:20px;
  height:20px;
}
#u7435 {
  position:absolute;
  left:95px;
  top:67px;
  width:20px;
  height:20px;
}
#u7436 {
  position:absolute;
  left:2px;
  top:2px;
  width:16px;
  visibility:hidden;
  word-wrap:break-word;
}
