body {
  margin:0px;
  background-image:none;
  position:relative;
  left:-12px;
  width:303px;
  margin-left:auto;
  margin-right:auto;
  text-align:left;
}
#base {
  position:absolute;
  z-index:0;
}
#u7395_div {
  position:absolute;
  left:0px;
  top:0px;
  width:303px;
  height:398px;
  background:inherit;
  background-color:rgba(204, 204, 204, 0.498039215686275);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(204, 204, 204, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u7395 {
  position:absolute;
  left:12px;
  top:14px;
  width:303px;
  height:398px;
}
#u7396 {
  position:absolute;
  left:2px;
  top:191px;
  width:299px;
  visibility:hidden;
  word-wrap:break-word;
}
#u7397_div {
  position:absolute;
  left:0px;
  top:0px;
  width:302px;
  height:40px;
  background:inherit;
  background-color:rgba(204, 204, 204, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u7397 {
  position:absolute;
  left:13px;
  top:15px;
  width:302px;
  height:40px;
}
#u7398 {
  position:absolute;
  left:2px;
  top:12px;
  width:298px;
  word-wrap:break-word;
}
#u7399_div {
  position:absolute;
  left:0px;
  top:0px;
  width:286px;
  height:301px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(204, 204, 204, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u7399 {
  position:absolute;
  left:18px;
  top:58px;
  width:286px;
  height:301px;
}
#u7400 {
  position:absolute;
  left:2px;
  top:142px;
  width:282px;
  visibility:hidden;
  word-wrap:break-word;
}
.u7402_img {
  position:absolute;
  left:0px;
  top:0px;
  width:286px;
  height:40px;
}
.u7402 {
  position:absolute;
  left:0px;
  top:0px;
  width:286px;
  height:40px;
}
.u7403 {
  position:absolute;
  left:2px;
  top:12px;
  width:282px;
  visibility:hidden;
  word-wrap:break-word;
}
.u7404_img {
  position:absolute;
  left:0px;
  top:0px;
  width:25px;
  height:25px;
}
.u7404 {
  position:absolute;
  left:30px;
  top:7px;
  width:25px;
  height:25px;
}
.u7405 {
  position:absolute;
  left:2px;
  top:4px;
  width:21px;
  visibility:hidden;
  word-wrap:break-word;
}
.u7406_div {
  position:absolute;
  left:0px;
  top:0px;
  width:29px;
  height:16px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
.u7406 {
  position:absolute;
  left:65px;
  top:12px;
  width:29px;
  height:16px;
}
.u7407 {
  position:absolute;
  left:0px;
  top:0px;
  width:29px;
  white-space:nowrap;
}
.u7408 {
  position:absolute;
  left:7px;
  top:12px;
  width:22px;
  height:16px;
}
.u7409 {
  position:absolute;
  left:16px;
  top:0px;
  width:4px;
  visibility:hidden;
  word-wrap:break-word;
}
.u7408_input {
  position:absolute;
  left:-3px;
  top:-2px;
}
.u7408_ann {
  position:absolute;
  left:22px;
  top:8px;
  width:1px;
  height:1px;
}
#u7401-1 {
  position:absolute;
  left:0px;
  top:0px;
  width:286px;
  height:40px;
}
#u7401-2 {
  position:absolute;
  left:0px;
  top:40px;
  width:286px;
  height:40px;
}
#u7401-3 {
  position:absolute;
  left:0px;
  top:80px;
  width:286px;
  height:40px;
}
#u7401-4 {
  position:absolute;
  left:0px;
  top:120px;
  width:286px;
  height:40px;
}
#u7401-5 {
  position:absolute;
  left:0px;
  top:160px;
  width:286px;
  height:40px;
}
#u7401 {
  position:absolute;
  left:18px;
  top:90px;
  width:286px;
  height:200px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
}
#u7410_img {
  position:absolute;
  left:0px;
  top:0px;
  width:283px;
  height:31px;
}
#u7410 {
  position:absolute;
  left:20px;
  top:369px;
  width:283px;
  height:31px;
  font-family:'微软雅黑';
  font-weight:400;
  font-style:normal;
  font-size:14px;
  color:#FFFFFF;
}
#u7410_img.mouseOver {
}
#u7410.mouseOver {
}
#u7411 {
  position:absolute;
  left:2px;
  top:6px;
  width:279px;
  word-wrap:break-word;
}
#u7412_img {
  position:absolute;
  left:0px;
  top:0px;
  width:25px;
  height:25px;
}
#u7412 {
  position:absolute;
  left:279px;
  top:23px;
  width:25px;
  height:25px;
}
#u7413 {
  position:absolute;
  left:2px;
  top:4px;
  width:21px;
  visibility:hidden;
  word-wrap:break-word;
}
#u7412_ann {
  position:absolute;
  left:297px;
  top:19px;
  width:1px;
  height:1px;
}
#u7414 {
  position:absolute;
  left:27px;
  top:64px;
  width:266px;
  height:25px;
}
#u7414_input {
  position:absolute;
  left:0px;
  top:0px;
  width:266px;
  height:25px;
  font-family:'微软雅黑';
  font-weight:400;
  font-style:normal;
  font-size:14px;
  text-decoration:none;
  color:#000000;
  text-align:center;
  border-color:transparent;
  outline-style:none;
}
#u7414_ann {
  position:absolute;
  left:286px;
  top:60px;
  width:1px;
  height:1px;
}
#u7415_img {
  position:absolute;
  left:0px;
  top:0px;
  width:20px;
  height:20px;
}
#u7415 {
  position:absolute;
  left:95px;
  top:67px;
  width:20px;
  height:20px;
}
#u7416 {
  position:absolute;
  left:2px;
  top:2px;
  width:16px;
  visibility:hidden;
  word-wrap:break-word;
}
