body {
  margin:0px;
  background-image:none;
  position:relative;
  left:-8px;
  width:517px;
  margin-left:auto;
  margin-right:auto;
  text-align:left;
}
#base {
  position:absolute;
  z-index:0;
}
#u740_div {
  position:absolute;
  left:0px;
  top:0px;
  width:80px;
  height:30px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(25, 158, 216, 1);
  border-radius:5px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  color:#199ED8;
}
#u740 {
  position:absolute;
  left:445px;
  top:7px;
  width:80px;
  height:30px;
  color:#199ED8;
}
#u741 {
  position:absolute;
  left:2px;
  top:7px;
  width:76px;
  word-wrap:break-word;
}
#u742_div {
  position:absolute;
  left:0px;
  top:0px;
  width:62px;
  height:16px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u742 {
  position:absolute;
  left:25px;
  top:67px;
  width:62px;
  height:16px;
}
#u743 {
  position:absolute;
  left:0px;
  top:0px;
  width:62px;
  white-space:nowrap;
}
#u744_div {
  position:absolute;
  left:0px;
  top:0px;
  width:62px;
  height:16px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u744 {
  position:absolute;
  left:292px;
  top:76px;
  width:62px;
  height:16px;
}
#u745 {
  position:absolute;
  left:0px;
  top:0px;
  width:62px;
  white-space:nowrap;
}
#u746 {
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u747_div {
  position:absolute;
  left:0px;
  top:0px;
  width:230px;
  height:38px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(204, 204, 204, 1);
  border-radius:2px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u747 {
  position:absolute;
  left:25px;
  top:102px;
  width:230px;
  height:38px;
}
#u748 {
  position:absolute;
  left:2px;
  top:11px;
  width:226px;
  visibility:hidden;
  word-wrap:break-word;
}
#u749_img {
  position:absolute;
  left:0px;
  top:0px;
  width:20px;
  height:20px;
}
#u749 {
  position:absolute;
  left:221px;
  top:111px;
  width:20px;
  height:20px;
}
#u750 {
  position:absolute;
  left:2px;
  top:2px;
  width:16px;
  visibility:hidden;
  word-wrap:break-word;
}
#u749_ann {
  position:absolute;
  left:234px;
  top:107px;
  width:1px;
  height:1px;
}
#u751 {
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u752_div {
  position:absolute;
  left:0px;
  top:0px;
  width:229px;
  height:38px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(204, 204, 204, 1);
  border-radius:2px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  color:#999999;
}
#u752 {
  position:absolute;
  left:289px;
  top:102px;
  width:229px;
  height:38px;
  color:#999999;
}
#u753 {
  position:absolute;
  left:2px;
  top:11px;
  width:225px;
  word-wrap:break-word;
}
#u754_img {
  position:absolute;
  left:0px;
  top:0px;
  width:20px;
  height:20px;
}
#u754 {
  position:absolute;
  left:490px;
  top:111px;
  width:20px;
  height:20px;
}
#u755 {
  position:absolute;
  left:2px;
  top:2px;
  width:16px;
  visibility:hidden;
  word-wrap:break-word;
}
#u756 {
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u757_div {
  position:absolute;
  left:0px;
  top:0px;
  width:493px;
  height:64px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(204, 204, 204, 1);
  border-radius:2px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u757 {
  position:absolute;
  left:25px;
  top:200px;
  width:493px;
  height:64px;
}
#u758 {
  position:absolute;
  left:2px;
  top:24px;
  width:489px;
  visibility:hidden;
  word-wrap:break-word;
}
#u759 {
  position:absolute;
  left:30px;
  top:211px;
  width:475px;
  height:43px;
}
#u759_input {
  position:absolute;
  left:0px;
  top:0px;
  width:475px;
  height:43px;
  font-family:'Arial Normal', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:13px;
  text-decoration:none;
  color:#000000;
  text-align:left;
  border-color:transparent;
  outline-style:none;
}
#u760_div {
  position:absolute;
  left:0px;
  top:0px;
  width:57px;
  height:16px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u760 {
  position:absolute;
  left:25px;
  top:174px;
  width:57px;
  height:16px;
}
#u761 {
  position:absolute;
  left:0px;
  top:0px;
  width:57px;
  white-space:nowrap;
}
#u760_ann {
  position:absolute;
  left:75px;
  top:170px;
  width:1px;
  height:1px;
}
#u762_img {
  position:absolute;
  left:0px;
  top:0px;
  width:70px;
  height:70px;
}
#u762 {
  position:absolute;
  left:25px;
  top:329px;
  width:70px;
  height:70px;
}
#u763 {
  position:absolute;
  left:2px;
  top:27px;
  width:66px;
  visibility:hidden;
  word-wrap:break-word;
}
#u762_ann {
  position:absolute;
  left:88px;
  top:325px;
  width:1px;
  height:1px;
}
.u765_img {
  position:absolute;
  left:0px;
  top:0px;
  width:80px;
  height:80px;
}
.u765 {
  position:absolute;
  left:0px;
  top:0px;
  width:80px;
  height:80px;
}
.u766 {
  position:absolute;
  left:2px;
  top:32px;
  width:76px;
  visibility:hidden;
  word-wrap:break-word;
}
.u767_img {
  position:absolute;
  left:0px;
  top:0px;
  width:70px;
  height:70px;
}
.u767 {
  position:absolute;
  left:5px;
  top:5px;
  width:70px;
  height:70px;
}
.u768 {
  position:absolute;
  left:2px;
  top:27px;
  width:66px;
  visibility:hidden;
  word-wrap:break-word;
}
.u769 {
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
.u770_div {
  position:absolute;
  left:0px;
  top:0px;
  width:70px;
  height:22px;
  background:inherit;
  background-color:rgba(51, 51, 51, 0.427450980392157);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
.u770 {
  position:absolute;
  left:5px;
  top:53px;
  width:70px;
  height:22px;
}
.u771 {
  position:absolute;
  left:2px;
  top:3px;
  width:66px;
  visibility:hidden;
  word-wrap:break-word;
}
.u772_img {
  position:absolute;
  left:0px;
  top:0px;
  width:20px;
  height:20px;
}
.u772 {
  position:absolute;
  left:51px;
  top:54px;
  width:20px;
  height:20px;
}
.u773 {
  position:absolute;
  left:2px;
  top:2px;
  width:16px;
  visibility:hidden;
  word-wrap:break-word;
}
#u764-1 {
  position:absolute;
  left:0px;
  top:0px;
  width:80px;
  height:80px;
}
#u764-2 {
  position:absolute;
  left:80px;
  top:0px;
  width:80px;
  height:80px;
}
#u764-3 {
  position:absolute;
  left:160px;
  top:0px;
  width:80px;
  height:80px;
}
#u764 {
  position:absolute;
  left:109px;
  top:324px;
  width:240px;
  height:80px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
}
#u774_div {
  position:absolute;
  left:0px;
  top:0px;
  width:57px;
  height:16px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u774 {
  position:absolute;
  left:25px;
  top:296px;
  width:57px;
  height:16px;
}
#u775 {
  position:absolute;
  left:0px;
  top:0px;
  width:57px;
  white-space:nowrap;
}
#u776_img {
  position:absolute;
  left:0px;
  top:0px;
  width:100px;
  height:30px;
}
#u776 {
  position:absolute;
  left:418px;
  top:510px;
  width:100px;
  height:30px;
  font-family:'微软雅黑';
  font-weight:400;
  font-style:normal;
  font-size:14px;
  color:#FFFFFF;
}
#u776_img.mouseOver {
}
#u776.mouseOver {
}
#u777 {
  position:absolute;
  left:2px;
  top:5px;
  width:96px;
  word-wrap:break-word;
}
#u778_img {
  position:absolute;
  left:-1px;
  top:-1px;
  width:88px;
  height:43px;
}
#u778 {
  position:absolute;
  left:50px;
  top:0px;
  width:85px;
  height:40px;
  font-family:'微软雅黑';
  font-weight:400;
  font-style:normal;
  font-size:14px;
  color:#666666;
}
#u778_img.selected {
}
#u778.selected {
}
#u779 {
  position:absolute;
  left:2px;
  top:10px;
  width:81px;
  word-wrap:break-word;
}
#u780_div {
  position:absolute;
  left:0px;
  top:0px;
  width:85px;
  height:40px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  box-sizing:border-box;
  border-width:2px;
  border-style:solid;
  border-color:rgba(25, 158, 216, 1);
  border-left:0px;
  border-top:0px;
  border-right:0px;
  border-radius:2px;
  border-top-left-radius:0px;
  border-top-right-radius:0px;
  border-bottom-right-radius:0px;
  border-bottom-left-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'微软雅黑';
  font-weight:400;
  font-style:normal;
  font-size:14px;
  color:#199ED8;
}
#u780 {
  position:absolute;
  left:135px;
  top:0px;
  width:85px;
  height:40px;
  font-family:'微软雅黑';
  font-weight:400;
  font-style:normal;
  font-size:14px;
  color:#199ED8;
}
#u780_div.selected {
  position:absolute;
  left:0px;
  top:0px;
  width:85px;
  height:40px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  box-sizing:border-box;
  border-width:2px;
  border-style:solid;
  border-color:rgba(29, 158, 215, 1);
  border-left:0px;
  border-top:0px;
  border-right:0px;
  border-radius:2px;
  border-top-left-radius:0px;
  border-top-right-radius:0px;
  border-bottom-right-radius:0px;
  border-bottom-left-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'微软雅黑';
  font-weight:400;
  font-style:normal;
  font-size:14px;
  color:#199ED8;
}
#u780.selected {
}
#u781 {
  position:absolute;
  left:2px;
  top:10px;
  width:81px;
  word-wrap:break-word;
}
#u782_img {
  position:absolute;
  left:-1px;
  top:-1px;
  width:88px;
  height:43px;
}
#u782 {
  position:absolute;
  left:220px;
  top:0px;
  width:85px;
  height:40px;
  font-family:'微软雅黑';
  font-weight:400;
  font-style:normal;
  font-size:14px;
  color:#666666;
}
#u783 {
  position:absolute;
  left:2px;
  top:10px;
  width:81px;
  word-wrap:break-word;
}
#u784_img {
  position:absolute;
  left:0px;
  top:0px;
  width:32px;
  height:32px;
}
#u784 {
  position:absolute;
  left:8px;
  top:7px;
  width:32px;
  height:32px;
}
#u785 {
  position:absolute;
  left:2px;
  top:8px;
  width:28px;
  visibility:hidden;
  word-wrap:break-word;
}
