body {
  margin:0px;
  background-image:none;
  position:relative;
  left:-12px;
  width:403px;
  margin-left:auto;
  margin-right:auto;
  text-align:left;
}
#base {
  position:absolute;
  z-index:0;
}
#u7826_div {
  position:absolute;
  left:0px;
  top:0px;
  width:403px;
  height:481px;
  background:inherit;
  background-color:rgba(204, 204, 204, 0.498039215686275);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(204, 204, 204, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u7826 {
  position:absolute;
  left:12px;
  top:14px;
  width:403px;
  height:481px;
}
#u7827 {
  position:absolute;
  left:2px;
  top:232px;
  width:399px;
  visibility:hidden;
  word-wrap:break-word;
}
#u7828_div {
  position:absolute;
  left:0px;
  top:0px;
  width:390px;
  height:67px;
  background:inherit;
  background-color:rgba(242, 242, 242, 1);
  border:none;
  border-radius:5px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u7828 {
  position:absolute;
  left:19px;
  top:63px;
  width:390px;
  height:67px;
}
#u7829 {
  position:absolute;
  left:2px;
  top:26px;
  width:386px;
  visibility:hidden;
  word-wrap:break-word;
}
#u7830_div {
  position:absolute;
  left:0px;
  top:0px;
  width:402px;
  height:40px;
  background:inherit;
  background-color:rgba(204, 204, 204, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u7830 {
  position:absolute;
  left:13px;
  top:15px;
  width:402px;
  height:40px;
}
#u7831 {
  position:absolute;
  left:2px;
  top:12px;
  width:398px;
  word-wrap:break-word;
}
#u7832_img {
  position:absolute;
  left:0px;
  top:0px;
  width:25px;
  height:25px;
}
#u7832 {
  position:absolute;
  left:387px;
  top:23px;
  width:25px;
  height:25px;
}
#u7833 {
  position:absolute;
  left:2px;
  top:4px;
  width:21px;
  visibility:hidden;
  word-wrap:break-word;
}
#u7832_ann {
  position:absolute;
  left:405px;
  top:19px;
  width:1px;
  height:1px;
}
#u7834_img {
  position:absolute;
  left:0px;
  top:0px;
  width:50px;
  height:50px;
}
#u7834 {
  position:absolute;
  left:30px;
  top:71px;
  width:50px;
  height:50px;
}
#u7835 {
  position:absolute;
  left:2px;
  top:17px;
  width:46px;
  visibility:hidden;
  word-wrap:break-word;
}
#u7836_div {
  position:absolute;
  left:0px;
  top:0px;
  width:29px;
  height:16px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u7836 {
  position:absolute;
  left:90px;
  top:77px;
  width:29px;
  height:16px;
}
#u7837 {
  position:absolute;
  left:0px;
  top:0px;
  width:29px;
  white-space:nowrap;
}
#u7836_ann {
  position:absolute;
  left:112px;
  top:73px;
  width:1px;
  height:1px;
}
#u7838_div {
  position:absolute;
  left:0px;
  top:0px;
  width:121px;
  height:15px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:12px;
  color:#999999;
}
#u7838 {
  position:absolute;
  left:90px;
  top:103px;
  width:121px;
  height:15px;
  font-size:12px;
  color:#999999;
}
#u7839 {
  position:absolute;
  left:0px;
  top:0px;
  width:121px;
  white-space:nowrap;
}
#u7838_ann {
  position:absolute;
  left:204px;
  top:99px;
  width:1px;
  height:1px;
}
#u7840_div {
  position:absolute;
  left:0px;
  top:0px;
  width:89px;
  height:16px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u7840 {
  position:absolute;
  left:303px;
  top:88px;
  width:89px;
  height:16px;
}
#u7841 {
  position:absolute;
  left:0px;
  top:0px;
  width:89px;
  white-space:nowrap;
}
#u7842_div {
  position:absolute;
  left:0px;
  top:0px;
  width:136px;
  height:16px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u7842 {
  position:absolute;
  left:56px;
  top:173px;
  width:136px;
  height:16px;
}
#u7843 {
  position:absolute;
  left:0px;
  top:0px;
  width:136px;
  white-space:nowrap;
}
#u7844_div {
  position:absolute;
  left:0px;
  top:0px;
  width:115px;
  height:16px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u7844 {
  position:absolute;
  left:56px;
  top:144px;
  width:115px;
  height:16px;
}
#u7845 {
  position:absolute;
  left:0px;
  top:0px;
  width:115px;
  white-space:nowrap;
}
#u7846_div {
  position:absolute;
  left:0px;
  top:0px;
  width:123px;
  height:16px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u7846 {
  position:absolute;
  left:56px;
  top:199px;
  width:123px;
  height:16px;
}
#u7847 {
  position:absolute;
  left:0px;
  top:0px;
  width:123px;
  white-space:nowrap;
}
#u7848_img {
  position:absolute;
  left:0px;
  top:0px;
  width:20px;
  height:20px;
}
#u7848 {
  position:absolute;
  left:31px;
  top:143px;
  width:20px;
  height:20px;
}
#u7849 {
  position:absolute;
  left:2px;
  top:2px;
  width:16px;
  visibility:hidden;
  word-wrap:break-word;
}
#u7850_div {
  position:absolute;
  left:0px;
  top:0px;
  width:12px;
  height:12px;
  background:inherit;
  background-color:rgba(0, 204, 102, 1);
  border:none;
  border-radius:8px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u7850 {
  position:absolute;
  left:35px;
  top:174px;
  width:12px;
  height:12px;
}
#u7851 {
  position:absolute;
  left:2px;
  top:-2px;
  width:8px;
  visibility:hidden;
  word-wrap:break-word;
}
#u7852_div {
  position:absolute;
  left:0px;
  top:0px;
  width:12px;
  height:12px;
  background:inherit;
  background-color:rgba(255, 153, 102, 1);
  border:none;
  border-radius:8px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u7852 {
  position:absolute;
  left:35px;
  top:201px;
  width:12px;
  height:12px;
}
#u7853 {
  position:absolute;
  left:2px;
  top:-2px;
  width:8px;
  visibility:hidden;
  word-wrap:break-word;
}
#u7854_div {
  position:absolute;
  left:0px;
  top:0px;
  width:390px;
  height:67px;
  background:inherit;
  background-color:rgba(242, 242, 242, 1);
  border:none;
  border-radius:5px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  text-align:left;
}
#u7854 {
  position:absolute;
  left:19px;
  top:228px;
  width:390px;
  height:67px;
  text-align:left;
}
#u7855 {
  position:absolute;
  left:2px;
  top:2px;
  width:386px;
  word-wrap:break-word;
}
#u7854_ann {
  position:absolute;
  left:402px;
  top:224px;
  width:1px;
  height:1px;
}
#u7856_div {
  position:absolute;
  left:0px;
  top:0px;
  width:390px;
  height:180px;
  background:inherit;
  background-color:rgba(242, 242, 242, 1);
  border:none;
  border-radius:5px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  text-align:left;
}
#u7856 {
  position:absolute;
  left:19px;
  top:305px;
  width:390px;
  height:180px;
  text-align:left;
}
#u7857 {
  position:absolute;
  left:2px;
  top:2px;
  width:386px;
  word-wrap:break-word;
}
#u7856_ann {
  position:absolute;
  left:402px;
  top:301px;
  width:1px;
  height:1px;
}
#u7858_div {
  position:absolute;
  left:0px;
  top:0px;
  width:73px;
  height:15px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:12px;
  color:#999999;
}
#u7858 {
  position:absolute;
  left:178px;
  top:254px;
  width:73px;
  height:15px;
  font-size:12px;
  color:#999999;
}
#u7859 {
  position:absolute;
  left:0px;
  top:0px;
  width:73px;
  white-space:nowrap;
}
#u7860 {
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u7861_img {
  position:absolute;
  left:0px;
  top:0px;
  width:40px;
  height:40px;
}
#u7861 {
  position:absolute;
  left:35px;
  top:336px;
  width:40px;
  height:40px;
}
#u7862 {
  position:absolute;
  left:2px;
  top:12px;
  width:36px;
  visibility:hidden;
  word-wrap:break-word;
}
#u7863_div {
  position:absolute;
  left:0px;
  top:0px;
  width:40px;
  height:16px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:13px;
}
#u7863 {
  position:absolute;
  left:35px;
  top:382px;
  width:40px;
  height:16px;
  font-size:13px;
}
#u7864 {
  position:absolute;
  left:0px;
  top:0px;
  width:40px;
  white-space:nowrap;
}
#u7865 {
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u7866_img {
  position:absolute;
  left:0px;
  top:0px;
  width:40px;
  height:40px;
}
#u7866 {
  position:absolute;
  left:98px;
  top:336px;
  width:40px;
  height:40px;
}
#u7867 {
  position:absolute;
  left:2px;
  top:12px;
  width:36px;
  visibility:hidden;
  word-wrap:break-word;
}
#u7868_div {
  position:absolute;
  left:0px;
  top:0px;
  width:40px;
  height:16px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:13px;
}
#u7868 {
  position:absolute;
  left:98px;
  top:382px;
  width:40px;
  height:16px;
  font-size:13px;
}
#u7869 {
  position:absolute;
  left:0px;
  top:0px;
  width:40px;
  white-space:nowrap;
}
#u7870 {
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u7871_img {
  position:absolute;
  left:0px;
  top:0px;
  width:40px;
  height:40px;
}
#u7871 {
  position:absolute;
  left:289px;
  top:336px;
  width:40px;
  height:40px;
}
#u7872 {
  position:absolute;
  left:2px;
  top:12px;
  width:36px;
  visibility:hidden;
  word-wrap:break-word;
}
#u7873_div {
  position:absolute;
  left:0px;
  top:0px;
  width:40px;
  height:16px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:13px;
}
#u7873 {
  position:absolute;
  left:289px;
  top:382px;
  width:40px;
  height:16px;
  font-size:13px;
}
#u7874 {
  position:absolute;
  left:0px;
  top:0px;
  width:40px;
  white-space:nowrap;
}
#u7875 {
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u7876_img {
  position:absolute;
  left:0px;
  top:0px;
  width:40px;
  height:40px;
}
#u7876 {
  position:absolute;
  left:225px;
  top:336px;
  width:40px;
  height:40px;
}
#u7877 {
  position:absolute;
  left:2px;
  top:12px;
  width:36px;
  visibility:hidden;
  word-wrap:break-word;
}
#u7878_div {
  position:absolute;
  left:0px;
  top:0px;
  width:40px;
  height:16px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:13px;
}
#u7878 {
  position:absolute;
  left:225px;
  top:382px;
  width:40px;
  height:16px;
  font-size:13px;
}
#u7879 {
  position:absolute;
  left:0px;
  top:0px;
  width:40px;
  white-space:nowrap;
}
#u7880 {
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u7881_img {
  position:absolute;
  left:0px;
  top:0px;
  width:40px;
  height:40px;
}
#u7881 {
  position:absolute;
  left:162px;
  top:336px;
  width:40px;
  height:40px;
}
#u7882 {
  position:absolute;
  left:2px;
  top:12px;
  width:36px;
  visibility:hidden;
  word-wrap:break-word;
}
#u7883_div {
  position:absolute;
  left:0px;
  top:0px;
  width:40px;
  height:16px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:13px;
}
#u7883 {
  position:absolute;
  left:162px;
  top:382px;
  width:40px;
  height:16px;
  font-size:13px;
}
#u7884 {
  position:absolute;
  left:0px;
  top:0px;
  width:40px;
  white-space:nowrap;
}
#u7885 {
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u7886_img {
  position:absolute;
  left:0px;
  top:0px;
  width:40px;
  height:40px;
}
#u7886 {
  position:absolute;
  left:352px;
  top:336px;
  width:40px;
  height:40px;
}
#u7887 {
  position:absolute;
  left:2px;
  top:12px;
  width:36px;
  visibility:hidden;
  word-wrap:break-word;
}
#u7888_div {
  position:absolute;
  left:0px;
  top:0px;
  width:40px;
  height:16px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:13px;
}
#u7888 {
  position:absolute;
  left:352px;
  top:382px;
  width:40px;
  height:16px;
  font-size:13px;
}
#u7889 {
  position:absolute;
  left:0px;
  top:0px;
  width:40px;
  white-space:nowrap;
}
#u7890 {
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u7891_img {
  position:absolute;
  left:0px;
  top:0px;
  width:40px;
  height:40px;
}
#u7891 {
  position:absolute;
  left:35px;
  top:408px;
  width:40px;
  height:40px;
}
#u7892 {
  position:absolute;
  left:2px;
  top:12px;
  width:36px;
  visibility:hidden;
  word-wrap:break-word;
}
#u7893_div {
  position:absolute;
  left:0px;
  top:0px;
  width:40px;
  height:16px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:13px;
}
#u7893 {
  position:absolute;
  left:35px;
  top:454px;
  width:40px;
  height:16px;
  font-size:13px;
}
#u7894 {
  position:absolute;
  left:0px;
  top:0px;
  width:40px;
  white-space:nowrap;
}
#u7895 {
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u7896_img {
  position:absolute;
  left:0px;
  top:0px;
  width:40px;
  height:40px;
}
#u7896 {
  position:absolute;
  left:98px;
  top:408px;
  width:40px;
  height:40px;
}
#u7897 {
  position:absolute;
  left:2px;
  top:12px;
  width:36px;
  visibility:hidden;
  word-wrap:break-word;
}
#u7898_div {
  position:absolute;
  left:0px;
  top:0px;
  width:40px;
  height:16px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:13px;
}
#u7898 {
  position:absolute;
  left:98px;
  top:454px;
  width:40px;
  height:16px;
  font-size:13px;
}
#u7899 {
  position:absolute;
  left:0px;
  top:0px;
  width:40px;
  white-space:nowrap;
}
#u7900 {
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u7901_img {
  position:absolute;
  left:0px;
  top:0px;
  width:40px;
  height:40px;
}
#u7901 {
  position:absolute;
  left:289px;
  top:408px;
  width:40px;
  height:40px;
}
#u7902 {
  position:absolute;
  left:2px;
  top:12px;
  width:36px;
  visibility:hidden;
  word-wrap:break-word;
}
#u7903_div {
  position:absolute;
  left:0px;
  top:0px;
  width:40px;
  height:16px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:13px;
}
#u7903 {
  position:absolute;
  left:289px;
  top:454px;
  width:40px;
  height:16px;
  font-size:13px;
}
#u7904 {
  position:absolute;
  left:0px;
  top:0px;
  width:40px;
  white-space:nowrap;
}
#u7905 {
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u7906_img {
  position:absolute;
  left:0px;
  top:0px;
  width:40px;
  height:40px;
}
#u7906 {
  position:absolute;
  left:225px;
  top:408px;
  width:40px;
  height:40px;
}
#u7907 {
  position:absolute;
  left:2px;
  top:12px;
  width:36px;
  visibility:hidden;
  word-wrap:break-word;
}
#u7908_div {
  position:absolute;
  left:0px;
  top:0px;
  width:40px;
  height:16px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:13px;
}
#u7908 {
  position:absolute;
  left:225px;
  top:454px;
  width:40px;
  height:16px;
  font-size:13px;
}
#u7909 {
  position:absolute;
  left:0px;
  top:0px;
  width:40px;
  white-space:nowrap;
}
#u7910 {
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u7911_img {
  position:absolute;
  left:0px;
  top:0px;
  width:40px;
  height:40px;
}
#u7911 {
  position:absolute;
  left:162px;
  top:408px;
  width:40px;
  height:40px;
}
#u7912 {
  position:absolute;
  left:2px;
  top:12px;
  width:36px;
  visibility:hidden;
  word-wrap:break-word;
}
#u7913_div {
  position:absolute;
  left:0px;
  top:0px;
  width:40px;
  height:16px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:13px;
}
#u7913 {
  position:absolute;
  left:162px;
  top:454px;
  width:40px;
  height:16px;
  font-size:13px;
}
#u7914 {
  position:absolute;
  left:0px;
  top:0px;
  width:40px;
  white-space:nowrap;
}
#u7915 {
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u7916_img {
  position:absolute;
  left:0px;
  top:0px;
  width:40px;
  height:40px;
}
#u7916 {
  position:absolute;
  left:352px;
  top:408px;
  width:40px;
  height:40px;
}
#u7917 {
  position:absolute;
  left:2px;
  top:12px;
  width:36px;
  visibility:hidden;
  word-wrap:break-word;
}
#u7918_div {
  position:absolute;
  left:0px;
  top:0px;
  width:40px;
  height:16px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:13px;
}
#u7918 {
  position:absolute;
  left:352px;
  top:454px;
  width:40px;
  height:16px;
  font-size:13px;
}
#u7919 {
  position:absolute;
  left:0px;
  top:0px;
  width:40px;
  white-space:nowrap;
}
#u7920_div {
  position:absolute;
  left:0px;
  top:0px;
  width:43px;
  height:16px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  color:#199ED8;
}
#u7920 {
  position:absolute;
  left:352px;
  top:307px;
  width:43px;
  height:16px;
  color:#199ED8;
}
#u7921 {
  position:absolute;
  left:0px;
  top:0px;
  width:43px;
  white-space:nowrap;
}
