body {
  margin:0px;
  background-image:none;
  position:relative;
  left:-0px;
  width:530px;
  margin-left:auto;
  margin-right:auto;
  text-align:left;
}
#base {
  position:absolute;
  z-index:0;
}
#u6970_div {
  position:absolute;
  left:0px;
  top:0px;
  width:529px;
  height:49px;
  background:inherit;
  background-color:rgba(215, 215, 215, 0.8);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:16px;
}
#u6970 {
  position:absolute;
  left:0px;
  top:0px;
  width:529px;
  height:49px;
  font-size:16px;
}
#u6971 {
  position:absolute;
  left:2px;
  top:15px;
  width:525px;
  word-wrap:break-word;
}
#u6972 {
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u6973_img {
  position:absolute;
  left:0px;
  top:0px;
  width:32px;
  height:32px;
}
#u6973 {
  position:absolute;
  left:8px;
  top:7px;
  width:32px;
  height:32px;
}
#u6974 {
  position:absolute;
  left:2px;
  top:8px;
  width:28px;
  visibility:hidden;
  word-wrap:break-word;
}
#u6975_div {
  position:absolute;
  left:0px;
  top:0px;
  width:33px;
  height:19px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:16px;
  color:#999999;
}
#u6975 {
  position:absolute;
  left:41px;
  top:13px;
  width:33px;
  height:19px;
  font-size:16px;
  color:#999999;
}
#u6976 {
  position:absolute;
  left:0px;
  top:0px;
  width:33px;
  white-space:nowrap;
}
#u6977_div {
  position:absolute;
  left:0px;
  top:0px;
  width:529px;
  height:14px;
  background:inherit;
  background-color:rgba(215, 215, 215, 0.407843137254902);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u6977 {
  position:absolute;
  left:0px;
  top:135px;
  width:529px;
  height:14px;
}
#u6978 {
  position:absolute;
  left:2px;
  top:-1px;
  width:525px;
  visibility:hidden;
  word-wrap:break-word;
}
#u6979 {
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u6980_div {
  position:absolute;
  left:0px;
  top:0px;
  width:49px;
  height:15px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:12px;
  color:#999999;
}
#u6980 {
  position:absolute;
  left:33px;
  top:166px;
  width:49px;
  height:15px;
  font-size:12px;
  color:#999999;
}
#u6981 {
  position:absolute;
  left:0px;
  top:0px;
  width:49px;
  white-space:nowrap;
}
#u6982_div {
  position:absolute;
  left:0px;
  top:0px;
  width:115px;
  height:16px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u6982 {
  position:absolute;
  left:100px;
  top:165px;
  width:115px;
  height:16px;
}
#u6983 {
  position:absolute;
  left:0px;
  top:0px;
  width:115px;
  white-space:nowrap;
}
#u6984 {
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u6985_div {
  position:absolute;
  left:0px;
  top:0px;
  width:49px;
  height:15px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:12px;
  color:#999999;
}
#u6985 {
  position:absolute;
  left:33px;
  top:192px;
  width:49px;
  height:15px;
  font-size:12px;
  color:#999999;
}
#u6986 {
  position:absolute;
  left:0px;
  top:0px;
  width:49px;
  white-space:nowrap;
}
#u6987_div {
  position:absolute;
  left:0px;
  top:0px;
  width:115px;
  height:16px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u6987 {
  position:absolute;
  left:100px;
  top:191px;
  width:115px;
  height:16px;
}
#u6988 {
  position:absolute;
  left:0px;
  top:0px;
  width:115px;
  white-space:nowrap;
}
#u6989 {
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u6990_div {
  position:absolute;
  left:0px;
  top:0px;
  width:49px;
  height:15px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:12px;
  color:#999999;
}
#u6990 {
  position:absolute;
  left:292px;
  top:177px;
  width:49px;
  height:15px;
  font-size:12px;
  color:#999999;
}
#u6991 {
  position:absolute;
  left:0px;
  top:0px;
  width:49px;
  white-space:nowrap;
}
#u6992_div {
  position:absolute;
  left:0px;
  top:0px;
  width:59px;
  height:16px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u6992 {
  position:absolute;
  left:359px;
  top:176px;
  width:59px;
  height:16px;
}
#u6993 {
  position:absolute;
  left:0px;
  top:0px;
  width:59px;
  white-space:nowrap;
}
#u6994_img {
  position:absolute;
  left:0px;
  top:0px;
  width:64px;
  height:42px;
}
#u6994 {
  position:absolute;
  left:225px;
  top:165px;
  width:64px;
  height:42px;
}
#u6995 {
  position:absolute;
  left:2px;
  top:13px;
  width:60px;
  visibility:hidden;
  word-wrap:break-word;
}
#u6996 {
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u6997_div {
  position:absolute;
  left:0px;
  top:0px;
  width:49px;
  height:15px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:12px;
  color:#999999;
}
#u6997 {
  position:absolute;
  left:33px;
  top:248px;
  width:49px;
  height:15px;
  font-size:12px;
  color:#999999;
}
#u6998 {
  position:absolute;
  left:0px;
  top:0px;
  width:49px;
  white-space:nowrap;
}
#u6999_div {
  position:absolute;
  left:0px;
  top:0px;
  width:419px;
  height:32px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u6999 {
  position:absolute;
  left:100px;
  top:247px;
  width:419px;
  height:32px;
}
#u7000 {
  position:absolute;
  left:0px;
  top:0px;
  width:419px;
  white-space:nowrap;
}
#u6999_ann {
  position:absolute;
  left:512px;
  top:243px;
  width:1px;
  height:1px;
}
#u7001_div {
  position:absolute;
  left:0px;
  top:0px;
  width:529px;
  height:14px;
  background:inherit;
  background-color:rgba(215, 215, 215, 0.407843137254902);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u7001 {
  position:absolute;
  left:0px;
  top:217px;
  width:529px;
  height:14px;
}
#u7002 {
  position:absolute;
  left:2px;
  top:-1px;
  width:525px;
  visibility:hidden;
  word-wrap:break-word;
}
#u7003 {
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u7004_div {
  position:absolute;
  left:0px;
  top:0px;
  width:49px;
  height:15px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:12px;
  color:#999999;
}
#u7004 {
  position:absolute;
  left:33px;
  top:293px;
  width:49px;
  height:15px;
  font-size:12px;
  color:#999999;
}
#u7005 {
  position:absolute;
  left:0px;
  top:0px;
  width:49px;
  white-space:nowrap;
}
#u7006_div {
  position:absolute;
  left:0px;
  top:0px;
  width:407px;
  height:32px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u7006 {
  position:absolute;
  left:100px;
  top:292px;
  width:407px;
  height:32px;
}
#u7007 {
  position:absolute;
  left:0px;
  top:0px;
  width:407px;
  white-space:nowrap;
}
#u7008 {
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u7009_div {
  position:absolute;
  left:0px;
  top:0px;
  width:49px;
  height:15px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:12px;
  color:#999999;
}
#u7009 {
  position:absolute;
  left:33px;
  top:343px;
  width:49px;
  height:15px;
  font-size:12px;
  color:#999999;
}
#u7010 {
  position:absolute;
  left:0px;
  top:0px;
  width:49px;
  white-space:nowrap;
}
#u7011_div {
  position:absolute;
  left:0px;
  top:0px;
  width:57px;
  height:16px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u7011 {
  position:absolute;
  left:100px;
  top:342px;
  width:57px;
  height:16px;
}
#u7012 {
  position:absolute;
  left:0px;
  top:0px;
  width:57px;
  white-space:nowrap;
}
#u7013 {
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u7014_div {
  position:absolute;
  left:0px;
  top:0px;
  width:49px;
  height:15px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:12px;
  color:#999999;
}
#u7014 {
  position:absolute;
  left:33px;
  top:370px;
  width:49px;
  height:15px;
  font-size:12px;
  color:#999999;
}
#u7015 {
  position:absolute;
  left:0px;
  top:0px;
  width:49px;
  white-space:nowrap;
}
#u7016_div {
  position:absolute;
  left:0px;
  top:0px;
  width:23px;
  height:16px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u7016 {
  position:absolute;
  left:100px;
  top:369px;
  width:23px;
  height:16px;
}
#u7017 {
  position:absolute;
  left:0px;
  top:0px;
  width:23px;
  white-space:nowrap;
}
#u7018_img {
  position:absolute;
  left:0px;
  top:0px;
  width:60px;
  height:60px;
}
#u7018 {
  position:absolute;
  left:34px;
  top:63px;
  width:60px;
  height:60px;
}
#u7019 {
  position:absolute;
  left:2px;
  top:22px;
  width:56px;
  visibility:hidden;
  word-wrap:break-word;
}
#u7020_div {
  position:absolute;
  left:0px;
  top:0px;
  width:33px;
  height:19px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Arial Negreta', 'Arial Normal', 'Arial';
  font-weight:700;
  font-style:normal;
  font-size:16px;
}
#u7020 {
  position:absolute;
  left:111px;
  top:66px;
  width:33px;
  height:19px;
  font-family:'Arial Negreta', 'Arial Normal', 'Arial';
  font-weight:700;
  font-style:normal;
  font-size:16px;
}
#u7021 {
  position:absolute;
  left:0px;
  top:0px;
  width:33px;
  white-space:nowrap;
}
#u7022_div {
  position:absolute;
  left:0px;
  top:0px;
  width:29px;
  height:16px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u7022 {
  position:absolute;
  left:163px;
  top:69px;
  width:29px;
  height:16px;
}
#u7023 {
  position:absolute;
  left:0px;
  top:0px;
  width:29px;
  white-space:nowrap;
}
#u7024_img {
  position:absolute;
  left:0px;
  top:0px;
  width:50px;
  height:50px;
}
#u7024 {
  position:absolute;
  left:434px;
  top:69px;
  width:50px;
  height:50px;
}
#u7025 {
  position:absolute;
  left:2px;
  top:17px;
  width:46px;
  visibility:hidden;
  word-wrap:break-word;
}
#u7024_ann {
  position:absolute;
  left:477px;
  top:65px;
  width:1px;
  height:1px;
}
#u7026_div {
  position:absolute;
  left:0px;
  top:0px;
  width:159px;
  height:16px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u7026 {
  position:absolute;
  left:111px;
  top:103px;
  width:159px;
  height:16px;
}
#u7027 {
  position:absolute;
  left:0px;
  top:0px;
  width:159px;
  white-space:nowrap;
}
#u7028_div {
  position:absolute;
  left:0px;
  top:0px;
  width:529px;
  height:257px;
  background:inherit;
  background-color:rgba(215, 215, 215, 0.407843137254902);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u7028 {
  position:absolute;
  left:1px;
  top:390px;
  width:529px;
  height:257px;
}
#u7029 {
  position:absolute;
  left:2px;
  top:120px;
  width:525px;
  visibility:hidden;
  word-wrap:break-word;
}
#u7030 {
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u7031_div {
  position:absolute;
  left:0px;
  top:0px;
  width:124px;
  height:41px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(204, 204, 204, 1);
  border-radius:5px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u7031 {
  position:absolute;
  left:232px;
  top:598px;
  width:124px;
  height:41px;
}
#u7032 {
  position:absolute;
  left:2px;
  top:12px;
  width:120px;
  word-wrap:break-word;
}
#u7033_img {
  position:absolute;
  left:0px;
  top:0px;
  width:20px;
  height:20px;
}
#u7033 {
  position:absolute;
  left:247px;
  top:607px;
  width:20px;
  height:20px;
}
#u7034 {
  position:absolute;
  left:2px;
  top:2px;
  width:16px;
  visibility:hidden;
  word-wrap:break-word;
}
#u7035 {
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u7036_div {
  position:absolute;
  left:0px;
  top:0px;
  width:124px;
  height:41px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(204, 204, 204, 1);
  border-radius:5px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u7036 {
  position:absolute;
  left:386px;
  top:598px;
  width:124px;
  height:41px;
}
#u7037 {
  position:absolute;
  left:2px;
  top:12px;
  width:120px;
  word-wrap:break-word;
}
#u7038_img {
  position:absolute;
  left:0px;
  top:0px;
  width:20px;
  height:20px;
}
#u7038 {
  position:absolute;
  left:401px;
  top:607px;
  width:20px;
  height:20px;
}
#u7039 {
  position:absolute;
  left:2px;
  top:2px;
  width:16px;
  visibility:hidden;
  word-wrap:break-word;
}
#u7040 {
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u7041_div {
  position:absolute;
  left:0px;
  top:0px;
  width:352px;
  height:64px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  border:none;
  border-radius:8px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u7041 {
  position:absolute;
  left:78px;
  top:414px;
  width:352px;
  height:64px;
}
#u7042 {
  position:absolute;
  left:2px;
  top:24px;
  width:348px;
  visibility:hidden;
  word-wrap:break-word;
}
#u7043_img {
  position:absolute;
  left:0px;
  top:0px;
  width:50px;
  height:50px;
}
#u7043 {
  position:absolute;
  left:93px;
  top:421px;
  width:50px;
  height:50px;
}
#u7044 {
  position:absolute;
  left:2px;
  top:17px;
  width:46px;
  visibility:hidden;
  word-wrap:break-word;
}
#u7045_div {
  position:absolute;
  left:0px;
  top:0px;
  width:29px;
  height:16px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u7045 {
  position:absolute;
  left:156px;
  top:425px;
  width:29px;
  height:16px;
}
#u7046 {
  position:absolute;
  left:0px;
  top:0px;
  width:29px;
  white-space:nowrap;
}
#u7047_div {
  position:absolute;
  left:0px;
  top:0px;
  width:99px;
  height:15px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:12px;
  color:#999999;
}
#u7047 {
  position:absolute;
  left:156px;
  top:453px;
  width:99px;
  height:15px;
  font-size:12px;
  color:#999999;
}
#u7048 {
  position:absolute;
  left:0px;
  top:0px;
  width:99px;
  white-space:nowrap;
}
#u7049_div {
  position:absolute;
  left:0px;
  top:0px;
  width:57px;
  height:16px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u7049 {
  position:absolute;
  left:359px;
  top:427px;
  width:57px;
  height:16px;
}
#u7050 {
  position:absolute;
  left:0px;
  top:0px;
  width:57px;
  white-space:nowrap;
}
#u7051_img {
  position:absolute;
  left:0px;
  top:0px;
  width:25px;
  height:25px;
}
#u7051 {
  position:absolute;
  left:27px;
  top:432px;
  width:25px;
  height:25px;
}
#u7052 {
  position:absolute;
  left:2px;
  top:4px;
  width:21px;
  visibility:hidden;
  word-wrap:break-word;
}
#u7053 {
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u7054_div {
  position:absolute;
  left:0px;
  top:0px;
  width:352px;
  height:64px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  border:none;
  border-radius:8px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u7054 {
  position:absolute;
  left:78px;
  top:498px;
  width:352px;
  height:64px;
}
#u7055 {
  position:absolute;
  left:2px;
  top:24px;
  width:348px;
  visibility:hidden;
  word-wrap:break-word;
}
#u7056_img {
  position:absolute;
  left:0px;
  top:0px;
  width:50px;
  height:50px;
}
#u7056 {
  position:absolute;
  left:93px;
  top:505px;
  width:50px;
  height:50px;
}
#u7057 {
  position:absolute;
  left:2px;
  top:17px;
  width:46px;
  visibility:hidden;
  word-wrap:break-word;
}
#u7058_div {
  position:absolute;
  left:0px;
  top:0px;
  width:29px;
  height:16px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u7058 {
  position:absolute;
  left:156px;
  top:509px;
  width:29px;
  height:16px;
}
#u7059 {
  position:absolute;
  left:0px;
  top:0px;
  width:29px;
  white-space:nowrap;
}
#u7060_div {
  position:absolute;
  left:0px;
  top:0px;
  width:99px;
  height:15px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:12px;
  color:#999999;
}
#u7060 {
  position:absolute;
  left:156px;
  top:537px;
  width:99px;
  height:15px;
  font-size:12px;
  color:#999999;
}
#u7061 {
  position:absolute;
  left:0px;
  top:0px;
  width:99px;
  white-space:nowrap;
}
#u7062_div {
  position:absolute;
  left:0px;
  top:0px;
  width:43px;
  height:16px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u7062 {
  position:absolute;
  left:374px;
  top:511px;
  width:43px;
  height:16px;
}
#u7063 {
  position:absolute;
  left:0px;
  top:0px;
  width:43px;
  white-space:nowrap;
}
#u7064_img {
  position:absolute;
  left:0px;
  top:0px;
  width:25px;
  height:25px;
}
#u7064 {
  position:absolute;
  left:27px;
  top:516px;
  width:25px;
  height:25px;
}
#u7065 {
  position:absolute;
  left:2px;
  top:4px;
  width:21px;
  visibility:hidden;
  word-wrap:break-word;
}
