body {
  margin:0px;
  background-image:none;
  position:relative;
  left:-0px;
  width:525px;
  margin-left:auto;
  margin-right:auto;
  text-align:left;
}
#base {
  position:absolute;
  z-index:0;
}
.u3931 {
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
.u3932_div {
  position:absolute;
  left:0px;
  top:0px;
  width:530px;
  height:123px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(204, 204, 204, 1);
  border-left:0px;
  border-top:0px;
  border-right:0px;
  border-radius:0px;
  border-top-left-radius:0px;
  border-top-right-radius:0px;
  border-bottom-right-radius:0px;
  border-bottom-left-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
.u3932 {
  position:absolute;
  left:0px;
  top:0px;
  width:530px;
  height:123px;
}
.u3933 {
  position:absolute;
  left:2px;
  top:54px;
  width:526px;
  visibility:hidden;
  word-wrap:break-word;
}
.u3934_img {
  position:absolute;
  left:0px;
  top:0px;
  width:150px;
  height:100px;
}
.u3934 {
  position:absolute;
  left:14px;
  top:11px;
  width:150px;
  height:100px;
}
.u3935 {
  position:absolute;
  left:2px;
  top:42px;
  width:146px;
  visibility:hidden;
  word-wrap:break-word;
}
.u3936_div {
  position:absolute;
  left:0px;
  top:0px;
  width:76px;
  height:17px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Arial Negreta', 'Arial Normal', 'Arial';
  font-weight:700;
  font-style:normal;
  font-size:15px;
}
.u3936 {
  position:absolute;
  left:187px;
  top:21px;
  width:76px;
  height:17px;
  font-family:'Arial Negreta', 'Arial Normal', 'Arial';
  font-weight:700;
  font-style:normal;
  font-size:15px;
}
.u3937 {
  position:absolute;
  left:0px;
  top:0px;
  width:76px;
  white-space:nowrap;
}
.u3938_div {
  position:absolute;
  left:0px;
  top:0px;
  width:29px;
  height:16px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  color:#999999;
}
.u3938 {
  position:absolute;
  left:187px;
  top:56px;
  width:29px;
  height:16px;
  color:#999999;
}
.u3939 {
  position:absolute;
  left:0px;
  top:0px;
  width:29px;
  white-space:nowrap;
}
.u3940_div {
  position:absolute;
  left:0px;
  top:0px;
  width:29px;
  height:16px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  color:#999999;
}
.u3940 {
  position:absolute;
  left:251px;
  top:56px;
  width:29px;
  height:16px;
  color:#999999;
}
.u3941 {
  position:absolute;
  left:0px;
  top:0px;
  width:29px;
  white-space:nowrap;
}
.u3942_div {
  position:absolute;
  left:0px;
  top:0px;
  width:57px;
  height:16px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
.u3942 {
  position:absolute;
  left:451px;
  top:12px;
  width:57px;
  height:16px;
}
.u3943 {
  position:absolute;
  left:0px;
  top:0px;
  width:57px;
  white-space:nowrap;
}
.u3944_div {
  position:absolute;
  left:0px;
  top:0px;
  width:29px;
  height:16px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  color:#999999;
}
.u3944 {
  position:absolute;
  left:187px;
  top:82px;
  width:29px;
  height:16px;
  color:#999999;
}
.u3945 {
  position:absolute;
  left:0px;
  top:0px;
  width:29px;
  white-space:nowrap;
}
.u3946_div {
  position:absolute;
  left:0px;
  top:0px;
  width:71px;
  height:30px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:5px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
.u3946 {
  position:absolute;
  left:437px;
  top:75px;
  width:71px;
  height:30px;
}
.u3947 {
  position:absolute;
  left:2px;
  top:7px;
  width:67px;
  word-wrap:break-word;
}
.u3946_ann {
  position:absolute;
  left:501px;
  top:71px;
  width:1px;
  height:1px;
}
#u3930-1 {
  position:absolute;
  left:0px;
  top:0px;
  width:530px;
  height:123px;
}
#u3930-2 {
  position:absolute;
  left:0px;
  top:123px;
  width:530px;
  height:123px;
}
#u3930-3 {
  position:absolute;
  left:0px;
  top:246px;
  width:530px;
  height:123px;
}
#u3930 {
  position:absolute;
  left:-4px;
  top:49px;
  width:530px;
  height:369px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
}
#u3948_div {
  position:absolute;
  left:0px;
  top:0px;
  width:529px;
  height:49px;
  background:inherit;
  background-color:rgba(215, 215, 215, 0.8);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:16px;
}
#u3948 {
  position:absolute;
  left:0px;
  top:0px;
  width:529px;
  height:49px;
  font-size:16px;
}
#u3949 {
  position:absolute;
  left:2px;
  top:15px;
  width:525px;
  word-wrap:break-word;
}
#u3950_img {
  position:absolute;
  left:0px;
  top:0px;
  width:32px;
  height:32px;
}
#u3950 {
  position:absolute;
  left:8px;
  top:7px;
  width:32px;
  height:32px;
}
#u3951 {
  position:absolute;
  left:2px;
  top:8px;
  width:28px;
  visibility:hidden;
  word-wrap:break-word;
}
#u3952_div {
  position:absolute;
  left:0px;
  top:0px;
  width:29px;
  height:16px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u3952 {
  position:absolute;
  left:410px;
  top:17px;
  width:29px;
  height:16px;
}
#u3953 {
  position:absolute;
  left:0px;
  top:0px;
  width:29px;
  white-space:nowrap;
}
#u3952_ann {
  position:absolute;
  left:432px;
  top:13px;
  width:1px;
  height:1px;
}
#u3954_div {
  position:absolute;
  left:0px;
  top:0px;
  width:57px;
  height:16px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u3954 {
  position:absolute;
  left:455px;
  top:17px;
  width:57px;
  height:16px;
}
#u3955 {
  position:absolute;
  left:0px;
  top:0px;
  width:57px;
  white-space:nowrap;
}
