body {
  margin:0px;
  background-image:none;
  position:relative;
  left:-12px;
  width:548px;
  margin-left:auto;
  margin-right:auto;
  text-align:left;
}
#base {
  position:absolute;
  z-index:0;
}
#u6606_div {
  position:absolute;
  left:0px;
  top:0px;
  width:548px;
  height:482px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(204, 204, 204, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u6606 {
  position:absolute;
  left:12px;
  top:54px;
  width:548px;
  height:482px;
}
#u6607 {
  position:absolute;
  left:2px;
  top:233px;
  width:544px;
  visibility:hidden;
  word-wrap:break-word;
}
#u6608_div {
  position:absolute;
  left:0px;
  top:0px;
  width:548px;
  height:40px;
  background:inherit;
  background-color:rgba(204, 204, 204, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u6608 {
  position:absolute;
  left:12px;
  top:14px;
  width:548px;
  height:40px;
}
#u6609 {
  position:absolute;
  left:2px;
  top:12px;
  width:544px;
  word-wrap:break-word;
}
#u6610_img {
  position:absolute;
  left:0px;
  top:0px;
  width:25px;
  height:25px;
}
#u6610 {
  position:absolute;
  left:526px;
  top:22px;
  width:25px;
  height:25px;
}
#u6611 {
  position:absolute;
  left:2px;
  top:4px;
  width:21px;
  visibility:hidden;
  word-wrap:break-word;
}
#u6610_ann {
  position:absolute;
  left:544px;
  top:18px;
  width:1px;
  height:1px;
}
#u6612_div {
  position:absolute;
  left:0px;
  top:0px;
  width:65px;
  height:16px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u6612 {
  position:absolute;
  left:41px;
  top:70px;
  width:65px;
  height:16px;
}
#u6613 {
  position:absolute;
  left:0px;
  top:0px;
  width:65px;
  white-space:nowrap;
}
.u6615_img {
  position:absolute;
  left:0px;
  top:0px;
  width:80px;
  height:80px;
}
.u6615 {
  position:absolute;
  left:0px;
  top:0px;
  width:80px;
  height:80px;
}
.u6616 {
  position:absolute;
  left:2px;
  top:32px;
  width:76px;
  visibility:hidden;
  word-wrap:break-word;
}
.u6617_div {
  position:absolute;
  left:0px;
  top:0px;
  width:29px;
  height:16px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
.u6617 {
  position:absolute;
  left:26px;
  top:88px;
  width:29px;
  height:16px;
}
.u6618 {
  position:absolute;
  left:0px;
  top:0px;
  width:29px;
  white-space:nowrap;
}
#u6614-1 {
  position:absolute;
  left:0px;
  top:0px;
  width:80px;
  height:104px;
}
#u6614-2 {
  position:absolute;
  left:100px;
  top:0px;
  width:80px;
  height:104px;
}
#u6614-3 {
  position:absolute;
  left:200px;
  top:0px;
  width:80px;
  height:104px;
}
#u6614-4 {
  position:absolute;
  left:300px;
  top:0px;
  width:80px;
  height:104px;
}
#u6614-5 {
  position:absolute;
  left:400px;
  top:0px;
  width:80px;
  height:104px;
}
#u6614-6 {
  position:absolute;
  left:0px;
  top:124px;
  width:80px;
  height:104px;
}
#u6614-7 {
  position:absolute;
  left:100px;
  top:124px;
  width:80px;
  height:104px;
}
#u6614-8 {
  position:absolute;
  left:200px;
  top:124px;
  width:80px;
  height:104px;
}
#u6614-9 {
  position:absolute;
  left:300px;
  top:124px;
  width:80px;
  height:104px;
}
#u6614-10 {
  position:absolute;
  left:400px;
  top:124px;
  width:80px;
  height:104px;
}
#u6614-11 {
  position:absolute;
  left:0px;
  top:248px;
  width:80px;
  height:104px;
}
#u6614-12 {
  position:absolute;
  left:100px;
  top:248px;
  width:80px;
  height:104px;
}
#u6614-13 {
  position:absolute;
  left:200px;
  top:248px;
  width:80px;
  height:104px;
}
#u6614 {
  position:absolute;
  left:41px;
  top:105px;
  width:480px;
  height:352px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
}
#u6619_div {
  position:absolute;
  left:0px;
  top:0px;
  width:45px;
  height:16px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u6619 {
  position:absolute;
  left:475px;
  top:70px;
  width:45px;
  height:16px;
}
#u6620 {
  position:absolute;
  left:0px;
  top:0px;
  width:45px;
  white-space:nowrap;
}
