body {
  margin:0px;
  background-image:none;
  position:relative;
  left:-0px;
  width:662px;
  margin-left:auto;
  margin-right:auto;
  text-align:left;
}
#base {
  position:absolute;
  z-index:0;
}
#u3690_div {
  position:absolute;
  left:0px;
  top:0px;
  width:662px;
  height:417px;
  background:inherit;
  background-color:rgba(204, 204, 204, 0.498039215686275);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(204, 204, 204, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u3690 {
  position:absolute;
  left:0px;
  top:39px;
  width:662px;
  height:417px;
}
#u3691 {
  position:absolute;
  left:2px;
  top:200px;
  width:658px;
  visibility:hidden;
  word-wrap:break-word;
}
#u3692_div {
  position:absolute;
  left:0px;
  top:0px;
  width:662px;
  height:40px;
  background:inherit;
  background-color:rgba(204, 204, 204, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u3692 {
  position:absolute;
  left:0px;
  top:0px;
  width:662px;
  height:40px;
}
#u3693 {
  position:absolute;
  left:2px;
  top:12px;
  width:658px;
  word-wrap:break-word;
}
#u3694_img {
  position:absolute;
  left:0px;
  top:0px;
  width:25px;
  height:25px;
}
#u3694 {
  position:absolute;
  left:634px;
  top:3px;
  width:25px;
  height:25px;
}
#u3695 {
  position:absolute;
  left:2px;
  top:4px;
  width:21px;
  visibility:hidden;
  word-wrap:break-word;
}
#u3694_ann {
  position:absolute;
  left:652px;
  top:-1px;
  width:1px;
  height:1px;
}
#u3696_div {
  position:absolute;
  left:0px;
  top:0px;
  width:93px;
  height:16px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u3696 {
  position:absolute;
  left:18px;
  top:57px;
  width:93px;
  height:16px;
}
#u3697 {
  position:absolute;
  left:0px;
  top:0px;
  width:93px;
  white-space:nowrap;
}
#u3698_div {
  position:absolute;
  left:0px;
  top:0px;
  width:627px;
  height:112px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  border:none;
  border-radius:5px;
  -moz-box-shadow:0px 0px 5px rgba(0, 0, 0, 0.349019607843137);
  -webkit-box-shadow:0px 0px 5px rgba(0, 0, 0, 0.349019607843137);
  box-shadow:0px 0px 5px rgba(0, 0, 0, 0.349019607843137);
}
#u3698 {
  position:absolute;
  left:18px;
  top:90px;
  width:627px;
  height:112px;
}
#u3699 {
  position:absolute;
  left:2px;
  top:48px;
  width:623px;
  visibility:hidden;
  word-wrap:break-word;
}
#u3700_div {
  position:absolute;
  left:0px;
  top:0px;
  width:93px;
  height:16px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u3700 {
  position:absolute;
  left:18px;
  top:231px;
  width:93px;
  height:16px;
}
#u3701 {
  position:absolute;
  left:0px;
  top:0px;
  width:93px;
  white-space:nowrap;
}
#u3702_div {
  position:absolute;
  left:0px;
  top:0px;
  width:627px;
  height:180px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  border:none;
  border-radius:5px;
  -moz-box-shadow:0px 0px 5px rgba(0, 0, 0, 0.349019607843137);
  -webkit-box-shadow:0px 0px 5px rgba(0, 0, 0, 0.349019607843137);
  box-shadow:0px 0px 5px rgba(0, 0, 0, 0.349019607843137);
}
#u3702 {
  position:absolute;
  left:18px;
  top:264px;
  width:627px;
  height:180px;
}
#u3703 {
  position:absolute;
  left:2px;
  top:82px;
  width:623px;
  visibility:hidden;
  word-wrap:break-word;
}
#u3704 {
  position:absolute;
  left:23px;
  top:270px;
  width:616px;
  height:163px;
  overflow:hidden;
}
#u3704_state0 {
  position:absolute;
  left:0px;
  top:0px;
  width:616px;
  height:163px;
  overflow:auto;
  -webkit-overflow-scrolling:touch;
  -ms-overflow-x:hidden;
  overflow-x:hidden;
  background-image:none;
}
#u3704_state0_content {
  position:absolute;
  left:0px;
  top:0px;
  width:1px;
  height:1px;
}
.u3706_img {
  position:absolute;
  left:0px;
  top:0px;
  width:86px;
  height:90px;
}
.u3706 {
  position:absolute;
  left:0px;
  top:0px;
  width:86px;
  height:90px;
}
.u3707 {
  position:absolute;
  left:2px;
  top:37px;
  width:82px;
  visibility:hidden;
  word-wrap:break-word;
}
.u3708_img {
  position:absolute;
  left:0px;
  top:0px;
  width:50px;
  height:50px;
}
.u3708 {
  position:absolute;
  left:17px;
  top:8px;
  width:50px;
  height:50px;
}
.u3709 {
  position:absolute;
  left:2px;
  top:17px;
  width:46px;
  visibility:hidden;
  word-wrap:break-word;
}
.u3710_div {
  position:absolute;
  left:0px;
  top:0px;
  width:29px;
  height:16px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
.u3710 {
  position:absolute;
  left:28px;
  top:66px;
  width:29px;
  height:16px;
}
.u3711 {
  position:absolute;
  left:0px;
  top:0px;
  width:29px;
  white-space:nowrap;
}
#u3705-1 {
  position:absolute;
  left:0px;
  top:0px;
  width:86px;
  height:90px;
}
#u3705-2 {
  position:absolute;
  left:86px;
  top:0px;
  width:86px;
  height:90px;
}
#u3705-3 {
  position:absolute;
  left:172px;
  top:0px;
  width:86px;
  height:90px;
}
#u3705-4 {
  position:absolute;
  left:258px;
  top:0px;
  width:86px;
  height:90px;
}
#u3705-5 {
  position:absolute;
  left:344px;
  top:0px;
  width:86px;
  height:90px;
}
#u3705-6 {
  position:absolute;
  left:430px;
  top:0px;
  width:86px;
  height:90px;
}
#u3705-7 {
  position:absolute;
  left:516px;
  top:0px;
  width:86px;
  height:90px;
}
#u3705-8 {
  position:absolute;
  left:0px;
  top:90px;
  width:86px;
  height:90px;
}
#u3705-9 {
  position:absolute;
  left:86px;
  top:90px;
  width:86px;
  height:90px;
}
#u3705 {
  position:absolute;
  left:0px;
  top:1px;
  width:602px;
  height:180px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
}
.u3713_img {
  position:absolute;
  left:0px;
  top:0px;
  width:90px;
  height:90px;
}
.u3713 {
  position:absolute;
  left:0px;
  top:0px;
  width:90px;
  height:90px;
}
.u3714 {
  position:absolute;
  left:2px;
  top:37px;
  width:86px;
  visibility:hidden;
  word-wrap:break-word;
}
.u3715_img {
  position:absolute;
  left:0px;
  top:0px;
  width:50px;
  height:50px;
}
.u3715 {
  position:absolute;
  left:20px;
  top:8px;
  width:50px;
  height:50px;
}
.u3716 {
  position:absolute;
  left:2px;
  top:17px;
  width:46px;
  visibility:hidden;
  word-wrap:break-word;
}
.u3717_div {
  position:absolute;
  left:0px;
  top:0px;
  width:29px;
  height:16px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
.u3717 {
  position:absolute;
  left:31px;
  top:66px;
  width:29px;
  height:16px;
}
.u3718 {
  position:absolute;
  left:0px;
  top:0px;
  width:29px;
  white-space:nowrap;
}
#u3712-1 {
  position:absolute;
  left:0px;
  top:0px;
  width:90px;
  height:90px;
}
#u3712-2 {
  position:absolute;
  left:90px;
  top:0px;
  width:90px;
  height:90px;
}
#u3712-3 {
  position:absolute;
  left:180px;
  top:0px;
  width:90px;
  height:90px;
}
#u3712 {
  position:absolute;
  left:21px;
  top:101px;
  width:270px;
  height:90px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
}
