body {
  margin:0px;
  background-image:none;
  position:relative;
  left:-0px;
  width:662px;
  margin-left:auto;
  margin-right:auto;
  text-align:left;
}
#base {
  position:absolute;
  z-index:0;
}
#u4871_div {
  position:absolute;
  left:0px;
  top:0px;
  width:662px;
  height:417px;
  background:inherit;
  background-color:rgba(204, 204, 204, 0.498039215686275);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(204, 204, 204, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u4871 {
  position:absolute;
  left:0px;
  top:39px;
  width:662px;
  height:417px;
}
#u4872 {
  position:absolute;
  left:2px;
  top:200px;
  width:658px;
  visibility:hidden;
  word-wrap:break-word;
}
#u4873_div {
  position:absolute;
  left:0px;
  top:0px;
  width:662px;
  height:40px;
  background:inherit;
  background-color:rgba(204, 204, 204, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u4873 {
  position:absolute;
  left:0px;
  top:0px;
  width:662px;
  height:40px;
}
#u4874 {
  position:absolute;
  left:2px;
  top:12px;
  width:658px;
  word-wrap:break-word;
}
#u4875_img {
  position:absolute;
  left:0px;
  top:0px;
  width:25px;
  height:25px;
}
#u4875 {
  position:absolute;
  left:634px;
  top:3px;
  width:25px;
  height:25px;
}
#u4876 {
  position:absolute;
  left:2px;
  top:4px;
  width:21px;
  visibility:hidden;
  word-wrap:break-word;
}
#u4875_ann {
  position:absolute;
  left:652px;
  top:-1px;
  width:1px;
  height:1px;
}
#u4877_div {
  position:absolute;
  left:0px;
  top:0px;
  width:93px;
  height:16px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u4877 {
  position:absolute;
  left:18px;
  top:57px;
  width:93px;
  height:16px;
}
#u4878 {
  position:absolute;
  left:0px;
  top:0px;
  width:93px;
  white-space:nowrap;
}
#u4879_div {
  position:absolute;
  left:0px;
  top:0px;
  width:627px;
  height:112px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  border:none;
  border-radius:5px;
  -moz-box-shadow:0px 0px 5px rgba(0, 0, 0, 0.349019607843137);
  -webkit-box-shadow:0px 0px 5px rgba(0, 0, 0, 0.349019607843137);
  box-shadow:0px 0px 5px rgba(0, 0, 0, 0.349019607843137);
}
#u4879 {
  position:absolute;
  left:18px;
  top:90px;
  width:627px;
  height:112px;
}
#u4880 {
  position:absolute;
  left:2px;
  top:48px;
  width:623px;
  visibility:hidden;
  word-wrap:break-word;
}
#u4881_div {
  position:absolute;
  left:0px;
  top:0px;
  width:93px;
  height:16px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u4881 {
  position:absolute;
  left:18px;
  top:231px;
  width:93px;
  height:16px;
}
#u4882 {
  position:absolute;
  left:0px;
  top:0px;
  width:93px;
  white-space:nowrap;
}
#u4883_div {
  position:absolute;
  left:0px;
  top:0px;
  width:627px;
  height:180px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  border:none;
  border-radius:5px;
  -moz-box-shadow:0px 0px 5px rgba(0, 0, 0, 0.349019607843137);
  -webkit-box-shadow:0px 0px 5px rgba(0, 0, 0, 0.349019607843137);
  box-shadow:0px 0px 5px rgba(0, 0, 0, 0.349019607843137);
}
#u4883 {
  position:absolute;
  left:18px;
  top:264px;
  width:627px;
  height:180px;
}
#u4884 {
  position:absolute;
  left:2px;
  top:82px;
  width:623px;
  visibility:hidden;
  word-wrap:break-word;
}
#u4885 {
  position:absolute;
  left:23px;
  top:270px;
  width:616px;
  height:163px;
  overflow:hidden;
}
#u4885_state0 {
  position:absolute;
  left:0px;
  top:0px;
  width:616px;
  height:163px;
  overflow:auto;
  -webkit-overflow-scrolling:touch;
  -ms-overflow-x:hidden;
  overflow-x:hidden;
  background-image:none;
}
#u4885_state0_content {
  position:absolute;
  left:0px;
  top:0px;
  width:1px;
  height:1px;
}
.u4887_img {
  position:absolute;
  left:0px;
  top:0px;
  width:86px;
  height:90px;
}
.u4887 {
  position:absolute;
  left:0px;
  top:0px;
  width:86px;
  height:90px;
}
.u4888 {
  position:absolute;
  left:2px;
  top:37px;
  width:82px;
  visibility:hidden;
  word-wrap:break-word;
}
.u4889_img {
  position:absolute;
  left:0px;
  top:0px;
  width:50px;
  height:50px;
}
.u4889 {
  position:absolute;
  left:17px;
  top:8px;
  width:50px;
  height:50px;
}
.u4890 {
  position:absolute;
  left:2px;
  top:17px;
  width:46px;
  visibility:hidden;
  word-wrap:break-word;
}
.u4891_div {
  position:absolute;
  left:0px;
  top:0px;
  width:29px;
  height:16px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
.u4891 {
  position:absolute;
  left:28px;
  top:66px;
  width:29px;
  height:16px;
}
.u4892 {
  position:absolute;
  left:0px;
  top:0px;
  width:29px;
  white-space:nowrap;
}
#u4886-1 {
  position:absolute;
  left:0px;
  top:0px;
  width:86px;
  height:90px;
}
#u4886-2 {
  position:absolute;
  left:86px;
  top:0px;
  width:86px;
  height:90px;
}
#u4886-3 {
  position:absolute;
  left:172px;
  top:0px;
  width:86px;
  height:90px;
}
#u4886-4 {
  position:absolute;
  left:258px;
  top:0px;
  width:86px;
  height:90px;
}
#u4886-5 {
  position:absolute;
  left:344px;
  top:0px;
  width:86px;
  height:90px;
}
#u4886-6 {
  position:absolute;
  left:430px;
  top:0px;
  width:86px;
  height:90px;
}
#u4886-7 {
  position:absolute;
  left:516px;
  top:0px;
  width:86px;
  height:90px;
}
#u4886-8 {
  position:absolute;
  left:0px;
  top:90px;
  width:86px;
  height:90px;
}
#u4886-9 {
  position:absolute;
  left:86px;
  top:90px;
  width:86px;
  height:90px;
}
#u4886 {
  position:absolute;
  left:0px;
  top:1px;
  width:602px;
  height:180px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
}
.u4894_img {
  position:absolute;
  left:0px;
  top:0px;
  width:90px;
  height:90px;
}
.u4894 {
  position:absolute;
  left:0px;
  top:0px;
  width:90px;
  height:90px;
}
.u4895 {
  position:absolute;
  left:2px;
  top:37px;
  width:86px;
  visibility:hidden;
  word-wrap:break-word;
}
.u4896_img {
  position:absolute;
  left:0px;
  top:0px;
  width:50px;
  height:50px;
}
.u4896 {
  position:absolute;
  left:20px;
  top:8px;
  width:50px;
  height:50px;
}
.u4897 {
  position:absolute;
  left:2px;
  top:17px;
  width:46px;
  visibility:hidden;
  word-wrap:break-word;
}
.u4898_div {
  position:absolute;
  left:0px;
  top:0px;
  width:29px;
  height:16px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
.u4898 {
  position:absolute;
  left:31px;
  top:66px;
  width:29px;
  height:16px;
}
.u4899 {
  position:absolute;
  left:0px;
  top:0px;
  width:29px;
  white-space:nowrap;
}
#u4893-1 {
  position:absolute;
  left:0px;
  top:0px;
  width:90px;
  height:90px;
}
#u4893-2 {
  position:absolute;
  left:90px;
  top:0px;
  width:90px;
  height:90px;
}
#u4893-3 {
  position:absolute;
  left:180px;
  top:0px;
  width:90px;
  height:90px;
}
#u4893 {
  position:absolute;
  left:21px;
  top:101px;
  width:270px;
  height:90px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
}
