body {
  margin:0px;
  background-image:none;
  position:relative;
  left:-12px;
  width:931px;
  margin-left:auto;
  margin-right:auto;
  text-align:left;
}
#base {
  position:absolute;
  z-index:0;
}
#u0_div {
  position:absolute;
  left:0px;
  top:0px;
  width:931px;
  height:571px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(204, 204, 204, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u0 {
  position:absolute;
  left:12px;
  top:59px;
  width:931px;
  height:571px;
}
#u1 {
  position:absolute;
  left:2px;
  top:278px;
  width:927px;
  visibility:hidden;
  word-wrap:break-word;
}
#u2_div {
  position:absolute;
  left:0px;
  top:0px;
  width:931px;
  height:35px;
  background:inherit;
  background-color:rgba(215, 215, 215, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u2 {
  position:absolute;
  left:12px;
  top:24px;
  width:931px;
  height:35px;
}
#u3 {
  position:absolute;
  left:2px;
  top:10px;
  width:927px;
  visibility:hidden;
  word-wrap:break-word;
}
#u4_div {
  position:absolute;
  left:0px;
  top:0px;
  width:104px;
  height:571px;
  background:inherit;
  background-color:rgba(29, 158, 215, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u4 {
  position:absolute;
  left:12px;
  top:59px;
  width:104px;
  height:571px;
}
#u5 {
  position:absolute;
  left:2px;
  top:278px;
  width:100px;
  visibility:hidden;
  word-wrap:break-word;
}
#u6 {
  position:absolute;
  left:116px;
  top:59px;
  width:297px;
  height:571px;
  overflow:hidden;
}
#u6_state0 {
  position:absolute;
  left:0px;
  top:0px;
  width:297px;
  height:571px;
  -ms-overflow-x:hidden;
  overflow-x:hidden;
  -ms-overflow-y:hidden;
  overflow-y:hidden;
  background-image:none;
}
#u6_state0_content {
  position:absolute;
  left:0px;
  top:0px;
  width:1px;
  height:1px;
}
#u7_div {
  position:absolute;
  left:0px;
  top:0px;
  width:535px;
  height:570px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(204, 204, 204, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u7 {
  position:absolute;
  left:292px;
  top:0px;
  width:535px;
  height:570px;
}
#u8 {
  position:absolute;
  left:2px;
  top:277px;
  width:531px;
  visibility:hidden;
  word-wrap:break-word;
}
#u9 {
  position:absolute;
  left:0px;
  top:0px;
  width:292px;
  height:570px;
  overflow:hidden;
}
#u9_state0 {
  position:absolute;
  left:0px;
  top:0px;
  width:292px;
  height:570px;
  overflow:auto;
  -webkit-overflow-scrolling:touch;
  -ms-overflow-x:hidden;
  overflow-x:hidden;
  background-image:none;
}
#u9_state0_content {
  position:absolute;
  left:0px;
  top:0px;
  width:1px;
  height:1px;
}
#u10_div {
  position:absolute;
  left:0px;
  top:0px;
  width:293px;
  height:570px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(204, 204, 204, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u10 {
  position:absolute;
  left:0px;
  top:0px;
  width:293px;
  height:570px;
}
#u11 {
  position:absolute;
  left:2px;
  top:277px;
  width:289px;
  visibility:hidden;
  word-wrap:break-word;
}
#u12_div {
  position:absolute;
  left:0px;
  top:0px;
  width:292px;
  height:570px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(204, 204, 204, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u12 {
  position:absolute;
  left:0px;
  top:0px;
  width:292px;
  height:570px;
}
#u13 {
  position:absolute;
  left:2px;
  top:277px;
  width:288px;
  visibility:hidden;
  word-wrap:break-word;
}
.u15 {
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
.u16_img {
  position:absolute;
  left:0px;
  top:0px;
  width:292px;
  height:60px;
}
.u16 {
  position:absolute;
  left:0px;
  top:0px;
  width:292px;
  height:60px;
}
.u16_img.selected {
}
.u16.selected {
}
.u17 {
  position:absolute;
  left:2px;
  top:22px;
  width:288px;
  visibility:hidden;
  word-wrap:break-word;
}
.u18_img {
  position:absolute;
  left:0px;
  top:0px;
  width:50px;
  height:50px;
}
.u18 {
  position:absolute;
  left:8px;
  top:6px;
  width:50px;
  height:50px;
}
.u19 {
  position:absolute;
  left:2px;
  top:17px;
  width:46px;
  visibility:hidden;
  word-wrap:break-word;
}
.u20_div {
  position:absolute;
  left:0px;
  top:0px;
  width:29px;
  height:16px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
.u20 {
  position:absolute;
  left:68px;
  top:9px;
  width:29px;
  height:16px;
}
.u20_div.selected {
  position:absolute;
  left:0px;
  top:0px;
  width:29px;
  height:16px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
.u20.selected {
}
.u21 {
  position:absolute;
  left:0px;
  top:0px;
  width:29px;
  white-space:nowrap;
}
.u22_div {
  position:absolute;
  left:0px;
  top:0px;
  width:195px;
  height:31px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  color:#999999;
}
.u22 {
  position:absolute;
  left:68px;
  top:27px;
  width:195px;
  height:31px;
  color:#999999;
}
.u22_div.selected {
  position:absolute;
  left:0px;
  top:0px;
  width:195px;
  height:31px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  color:#999999;
}
.u22.selected {
}
.u23 {
  position:absolute;
  left:0px;
  top:8px;
  width:195px;
  word-wrap:break-word;
}
#u14-1 {
  position:absolute;
  left:0px;
  top:0px;
  width:292px;
  height:60px;
}
#u14-2 {
  position:absolute;
  left:0px;
  top:60px;
  width:292px;
  height:60px;
}
#u14-3 {
  position:absolute;
  left:0px;
  top:120px;
  width:292px;
  height:60px;
}
#u14-4 {
  position:absolute;
  left:0px;
  top:180px;
  width:292px;
  height:60px;
}
#u14-5 {
  position:absolute;
  left:0px;
  top:240px;
  width:292px;
  height:60px;
}
#u14-6 {
  position:absolute;
  left:0px;
  top:300px;
  width:292px;
  height:60px;
}
#u14-7 {
  position:absolute;
  left:0px;
  top:360px;
  width:292px;
  height:60px;
}
#u14-8 {
  position:absolute;
  left:0px;
  top:420px;
  width:292px;
  height:60px;
}
#u14 {
  position:absolute;
  left:0px;
  top:0px;
  width:292px;
  height:480px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
}
#u24_img {
  position:absolute;
  left:0px;
  top:0px;
  width:41px;
  height:41px;
}
#u24 {
  position:absolute;
  left:43px;
  top:188px;
  width:40px;
  height:40px;
}
#u25 {
  position:absolute;
  left:2px;
  top:12px;
  width:36px;
  word-wrap:break-word;
}
#u24_ann {
  position:absolute;
  left:76px;
  top:184px;
  width:1px;
  height:1px;
}
#u26_img {
  position:absolute;
  left:0px;
  top:0px;
  width:61px;
  height:61px;
}
#u26 {
  position:absolute;
  left:34px;
  top:81px;
  width:60px;
  height:60px;
}
#u27 {
  position:absolute;
  left:2px;
  top:22px;
  width:56px;
  word-wrap:break-word;
}
#u28_img {
  position:absolute;
  left:0px;
  top:0px;
  width:41px;
  height:41px;
}
#u28 {
  position:absolute;
  left:43px;
  top:297px;
  width:40px;
  height:40px;
}
#u29 {
  position:absolute;
  left:2px;
  top:12px;
  width:36px;
  word-wrap:break-word;
}
#u28_ann {
  position:absolute;
  left:76px;
  top:293px;
  width:1px;
  height:1px;
}
#u30_img {
  position:absolute;
  left:0px;
  top:0px;
  width:41px;
  height:41px;
}
#u30 {
  position:absolute;
  left:43px;
  top:242px;
  width:40px;
  height:40px;
}
#u31 {
  position:absolute;
  left:2px;
  top:4px;
  width:36px;
  word-wrap:break-word;
}
#u30_ann {
  position:absolute;
  left:76px;
  top:238px;
  width:1px;
  height:1px;
}
#u32_div {
  position:absolute;
  left:0px;
  top:0px;
  width:136px;
  height:16px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:13px;
  color:#666666;
}
#u32 {
  position:absolute;
  left:26px;
  top:34px;
  width:136px;
  height:16px;
  font-size:13px;
  color:#666666;
}
#u33 {
  position:absolute;
  left:0px;
  top:0px;
  width:136px;
  word-wrap:break-word;
}
#u34_img {
  position:absolute;
  left:0px;
  top:0px;
  width:25px;
  height:25px;
}
#u34 {
  position:absolute;
  left:915px;
  top:28px;
  width:25px;
  height:25px;
}
#u35 {
  position:absolute;
  left:2px;
  top:4px;
  width:21px;
  visibility:hidden;
  word-wrap:break-word;
}
#u34_ann {
  position:absolute;
  left:933px;
  top:24px;
  width:1px;
  height:1px;
}
#u36_img {
  position:absolute;
  left:0px;
  top:0px;
  width:31px;
  height:31px;
}
#u36 {
  position:absolute;
  left:49px;
  top:584px;
  width:30px;
  height:30px;
}
#u37 {
  position:absolute;
  left:2px;
  top:7px;
  width:26px;
  word-wrap:break-word;
}
#u38_img {
  position:absolute;
  left:0px;
  top:0px;
  width:25px;
  height:25px;
}
#u38 {
  position:absolute;
  left:881px;
  top:28px;
  width:25px;
  height:25px;
}
#u39 {
  position:absolute;
  left:2px;
  top:4px;
  width:21px;
  visibility:hidden;
  word-wrap:break-word;
}
#u40_img {
  position:absolute;
  left:0px;
  top:0px;
  width:25px;
  height:25px;
}
#u40 {
  position:absolute;
  left:848px;
  top:28px;
  width:25px;
  height:25px;
}
#u41 {
  position:absolute;
  left:2px;
  top:4px;
  width:21px;
  visibility:hidden;
  word-wrap:break-word;
}
#u42 {
  position:absolute;
  left:407px;
  top:59px;
  width:536px;
  height:571px;
}
#u42_input {
  position:absolute;
  left:0px;
  top:0px;
  width:536px;
  height:571px;
}
