body {
  margin:0px;
  background-image:none;
  position:relative;
  left:-0px;
  width:529px;
  margin-left:auto;
  margin-right:auto;
  text-align:left;
}
#base {
  position:absolute;
  z-index:0;
}
#u7641_div {
  position:absolute;
  left:0px;
  top:0px;
  width:529px;
  height:49px;
  background:inherit;
  background-color:rgba(215, 215, 215, 0.8);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:16px;
}
#u7641 {
  position:absolute;
  left:0px;
  top:0px;
  width:529px;
  height:49px;
  font-size:16px;
}
#u7642 {
  position:absolute;
  left:2px;
  top:15px;
  width:525px;
  word-wrap:break-word;
}
#u7643_img {
  position:absolute;
  left:0px;
  top:0px;
  width:32px;
  height:32px;
}
#u7643 {
  position:absolute;
  left:8px;
  top:7px;
  width:32px;
  height:32px;
}
#u7644 {
  position:absolute;
  left:2px;
  top:8px;
  width:28px;
  visibility:hidden;
  word-wrap:break-word;
}
#u7645_div {
  position:absolute;
  left:0px;
  top:0px;
  width:75px;
  height:30px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  border:none;
  border-radius:5px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u7645 {
  position:absolute;
  left:446px;
  top:8px;
  width:75px;
  height:30px;
}
#u7646 {
  position:absolute;
  left:2px;
  top:7px;
  width:71px;
  word-wrap:break-word;
}
#u7645_ann {
  position:absolute;
  left:514px;
  top:4px;
  width:1px;
  height:1px;
}
#u7647_div {
  position:absolute;
  left:0px;
  top:0px;
  width:496px;
  height:112px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u7647 {
  position:absolute;
  left:25px;
  top:60px;
  width:496px;
  height:112px;
}
#u7648 {
  position:absolute;
  left:0px;
  top:0px;
  width:496px;
  word-wrap:break-word;
}
#u7649 {
  position:absolute;
  left:25px;
  top:180px;
  width:177px;
  height:16px;
  font-family:'Arial Negreta', 'Arial Normal', 'Arial';
  font-weight:700;
  font-style:normal;
  color:#000000;
}
#u7650 {
  position:absolute;
  left:16px;
  top:0px;
  width:159px;
  word-wrap:break-word;
}
#u7649_input {
  position:absolute;
  left:-3px;
  top:-2px;
}
#u7649_ann {
  position:absolute;
  left:195px;
  top:176px;
  width:1px;
  height:1px;
}
.u7652 {
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
.u7653_img {
  position:absolute;
  left:0px;
  top:0px;
  width:490px;
  height:72px;
}
.u7653 {
  position:absolute;
  left:0px;
  top:0px;
  width:489px;
  height:71px;
}
.u7654 {
  position:absolute;
  left:2px;
  top:28px;
  width:485px;
  visibility:hidden;
  word-wrap:break-word;
}
.u7655_div {
  position:absolute;
  left:0px;
  top:0px;
  width:85px;
  height:16px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
.u7655 {
  position:absolute;
  left:9px;
  top:9px;
  width:85px;
  height:16px;
}
.u7656 {
  position:absolute;
  left:0px;
  top:0px;
  width:85px;
  white-space:nowrap;
}
.u7657_div {
  position:absolute;
  left:0px;
  top:0px;
  width:101px;
  height:16px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:13px;
  color:#999999;
}
.u7657 {
  position:absolute;
  left:9px;
  top:44px;
  width:101px;
  height:16px;
  font-size:13px;
  color:#999999;
}
.u7658 {
  position:absolute;
  left:0px;
  top:0px;
  width:101px;
  white-space:nowrap;
}
.u7659_img {
  position:absolute;
  left:0px;
  top:0px;
  width:20px;
  height:20px;
}
.u7659 {
  position:absolute;
  left:134px;
  top:42px;
  width:20px;
  height:20px;
}
.u7660 {
  position:absolute;
  left:2px;
  top:2px;
  width:16px;
  visibility:hidden;
  word-wrap:break-word;
}
.u7659_ann {
  position:absolute;
  left:147px;
  top:38px;
  width:1px;
  height:1px;
}
.u7661_div {
  position:absolute;
  left:0px;
  top:0px;
  width:29px;
  height:16px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
.u7661 {
  position:absolute;
  left:165px;
  top:43px;
  width:29px;
  height:16px;
}
.u7662 {
  position:absolute;
  left:0px;
  top:0px;
  width:29px;
  white-space:nowrap;
}
.u7661_ann {
  position:absolute;
  left:187px;
  top:39px;
  width:1px;
  height:1px;
}
.u7663_div {
  position:absolute;
  left:0px;
  top:0px;
  width:83px;
  height:24px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
.u7663 {
  position:absolute;
  left:392px;
  top:38px;
  width:83px;
  height:24px;
}
.u7664 {
  position:absolute;
  left:0px;
  top:0px;
  width:83px;
  white-space:nowrap;
}
.u7665_div {
  position:absolute;
  left:0px;
  top:0px;
  width:60px;
  height:23px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(25, 158, 216, 1);
  border-radius:5px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  color:#199ED8;
  text-align:center;
}
.u7665 {
  position:absolute;
  left:414px;
  top:7px;
  width:60px;
  height:23px;
  color:#199ED8;
  text-align:center;
}
.u7666 {
  position:absolute;
  left:0px;
  top:4px;
  width:60px;
  word-wrap:break-word;
}
.u7665_ann {
  position:absolute;
  left:467px;
  top:3px;
  width:1px;
  height:1px;
}
#u7651-1 {
  position:absolute;
  left:0px;
  top:0px;
  width:489px;
  height:71px;
}
#u7651-2 {
  position:absolute;
  left:0px;
  top:71px;
  width:489px;
  height:71px;
}
#u7651-3 {
  position:absolute;
  left:0px;
  top:142px;
  width:489px;
  height:71px;
}
#u7651 {
  position:absolute;
  left:20px;
  top:270px;
  width:489px;
  height:213px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
}
#u7667_img {
  position:absolute;
  left:0px;
  top:0px;
  width:100px;
  height:30px;
}
#u7667 {
  position:absolute;
  left:409px;
  top:523px;
  width:100px;
  height:30px;
  font-family:'微软雅黑';
  font-weight:400;
  font-style:normal;
  font-size:14px;
  color:#FFFFFF;
}
#u7667_img.mouseOver {
}
#u7667.mouseOver {
}
#u7668 {
  position:absolute;
  left:2px;
  top:5px;
  width:96px;
  word-wrap:break-word;
}
#u7667_ann {
  position:absolute;
  left:502px;
  top:519px;
  width:1px;
  height:1px;
}
#u7669 {
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u7670_div {
  position:absolute;
  left:0px;
  top:0px;
  width:484px;
  height:38px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(204, 204, 204, 1);
  border-radius:2px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u7670 {
  position:absolute;
  left:22px;
  top:217px;
  width:484px;
  height:38px;
}
#u7671 {
  position:absolute;
  left:2px;
  top:11px;
  width:480px;
  visibility:hidden;
  word-wrap:break-word;
}
#u7672 {
  position:absolute;
  left:52px;
  top:224px;
  width:445px;
  height:25px;
}
#u7672_input {
  position:absolute;
  left:0px;
  top:0px;
  width:445px;
  height:25px;
  font-family:'微软雅黑';
  font-weight:400;
  font-style:normal;
  font-size:14px;
  text-decoration:none;
  color:#000000;
  text-align:left;
  border-color:transparent;
  outline-style:none;
}
#u7673_img {
  position:absolute;
  left:0px;
  top:0px;
  width:20px;
  height:20px;
}
#u7673 {
  position:absolute;
  left:28px;
  top:227px;
  width:20px;
  height:20px;
}
#u7674 {
  position:absolute;
  left:2px;
  top:2px;
  width:16px;
  visibility:hidden;
  word-wrap:break-word;
}
