body {
  margin:0px;
  background-image:none;
  position:relative;
  left:-12px;
  width:403px;
  margin-left:auto;
  margin-right:auto;
  text-align:left;
}
#base {
  position:absolute;
  z-index:0;
}
#u984_div {
  position:absolute;
  left:0px;
  top:0px;
  width:403px;
  height:356px;
  background:inherit;
  background-color:rgba(204, 204, 204, 0.498039215686275);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(204, 204, 204, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u984 {
  position:absolute;
  left:12px;
  top:14px;
  width:403px;
  height:356px;
}
#u985 {
  position:absolute;
  left:2px;
  top:170px;
  width:399px;
  visibility:hidden;
  word-wrap:break-word;
}
#u986_div {
  position:absolute;
  left:0px;
  top:0px;
  width:402px;
  height:40px;
  background:inherit;
  background-color:rgba(204, 204, 204, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u986 {
  position:absolute;
  left:13px;
  top:15px;
  width:402px;
  height:40px;
}
#u987 {
  position:absolute;
  left:2px;
  top:12px;
  width:398px;
  word-wrap:break-word;
}
#u988_img {
  position:absolute;
  left:0px;
  top:0px;
  width:25px;
  height:25px;
}
#u988 {
  position:absolute;
  left:387px;
  top:23px;
  width:25px;
  height:25px;
}
#u989 {
  position:absolute;
  left:2px;
  top:4px;
  width:21px;
  visibility:hidden;
  word-wrap:break-word;
}
#u988_ann {
  position:absolute;
  left:405px;
  top:19px;
  width:1px;
  height:1px;
}
.u991_div {
  position:absolute;
  left:0px;
  top:0px;
  width:399px;
  height:95px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(204, 204, 204, 1);
  border-radius:0px;
  -moz-box-shadow:2px 2px 5px rgba(0, 0, 0, 0.349019607843137);
  -webkit-box-shadow:2px 2px 5px rgba(0, 0, 0, 0.349019607843137);
  box-shadow:2px 2px 5px rgba(0, 0, 0, 0.349019607843137);
}
.u991 {
  position:absolute;
  left:0px;
  top:0px;
  width:399px;
  height:95px;
}
.u992 {
  position:absolute;
  left:2px;
  top:40px;
  width:395px;
  visibility:hidden;
  word-wrap:break-word;
}
.u993_div {
  position:absolute;
  left:0px;
  top:0px;
  width:49px;
  height:19px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:16px;
}
.u993 {
  position:absolute;
  left:21px;
  top:10px;
  width:49px;
  height:19px;
  font-size:16px;
}
.u994 {
  position:absolute;
  left:0px;
  top:0px;
  width:49px;
  white-space:nowrap;
}
.u993_ann {
  position:absolute;
  left:63px;
  top:6px;
  width:1px;
  height:1px;
}
.u995_div {
  position:absolute;
  left:0px;
  top:0px;
  width:99px;
  height:15px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:12px;
  color:#999999;
}
.u995 {
  position:absolute;
  left:286px;
  top:14px;
  width:99px;
  height:15px;
  font-size:12px;
  color:#999999;
}
.u996 {
  position:absolute;
  left:0px;
  top:0px;
  width:99px;
  white-space:nowrap;
}
.u995_ann {
  position:absolute;
  left:378px;
  top:10px;
  width:1px;
  height:1px;
}
.u997_div {
  position:absolute;
  left:0px;
  top:0px;
  width:155px;
  height:16px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
.u997 {
  position:absolute;
  left:21px;
  top:40px;
  width:155px;
  height:16px;
}
.u998 {
  position:absolute;
  left:0px;
  top:0px;
  width:155px;
  white-space:nowrap;
}
.u999_div {
  position:absolute;
  left:0px;
  top:0px;
  width:193px;
  height:16px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:12px;
  color:#999999;
}
.u999 {
  position:absolute;
  left:21px;
  top:67px;
  width:193px;
  height:16px;
  font-size:12px;
  color:#999999;
}
.u1000 {
  position:absolute;
  left:0px;
  top:0px;
  width:193px;
  white-space:nowrap;
}
#u990-1 {
  position:absolute;
  left:0px;
  top:0px;
  width:399px;
  height:95px;
}
#u990-2 {
  position:absolute;
  left:0px;
  top:105px;
  width:399px;
  height:95px;
}
#u990-3 {
  position:absolute;
  left:0px;
  top:210px;
  width:399px;
  height:95px;
}
#u990 {
  position:absolute;
  left:13px;
  top:57px;
  width:399px;
  height:305px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
}
