body {
  margin:0px;
  background-image:none;
  position:relative;
  left:-12px;
  width:548px;
  margin-left:auto;
  margin-right:auto;
  text-align:left;
}
#base {
  position:absolute;
  z-index:0;
}
#u6651_div {
  position:absolute;
  left:0px;
  top:0px;
  width:548px;
  height:492px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(204, 204, 204, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u6651 {
  position:absolute;
  left:12px;
  top:54px;
  width:548px;
  height:492px;
}
#u6652 {
  position:absolute;
  left:2px;
  top:238px;
  width:544px;
  visibility:hidden;
  word-wrap:break-word;
}
#u6653_div {
  position:absolute;
  left:0px;
  top:0px;
  width:548px;
  height:40px;
  background:inherit;
  background-color:rgba(204, 204, 204, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u6653 {
  position:absolute;
  left:12px;
  top:14px;
  width:548px;
  height:40px;
}
#u6654 {
  position:absolute;
  left:2px;
  top:12px;
  width:544px;
  word-wrap:break-word;
}
#u6655_img {
  position:absolute;
  left:0px;
  top:0px;
  width:25px;
  height:25px;
}
#u6655 {
  position:absolute;
  left:526px;
  top:22px;
  width:25px;
  height:25px;
}
#u6656 {
  position:absolute;
  left:2px;
  top:4px;
  width:21px;
  visibility:hidden;
  word-wrap:break-word;
}
#u6655_ann {
  position:absolute;
  left:544px;
  top:18px;
  width:1px;
  height:1px;
}
.u6658_img {
  position:absolute;
  left:0px;
  top:0px;
  width:80px;
  height:80px;
}
.u6658 {
  position:absolute;
  left:0px;
  top:0px;
  width:80px;
  height:80px;
}
.u6659 {
  position:absolute;
  left:2px;
  top:32px;
  width:76px;
  visibility:hidden;
  word-wrap:break-word;
}
.u6660_div {
  position:absolute;
  left:0px;
  top:0px;
  width:29px;
  height:16px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
.u6660 {
  position:absolute;
  left:90px;
  top:7px;
  width:29px;
  height:16px;
}
.u6661 {
  position:absolute;
  left:0px;
  top:0px;
  width:29px;
  white-space:nowrap;
}
.u6662_div {
  position:absolute;
  left:0px;
  top:0px;
  width:393px;
  height:32px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
.u6662 {
  position:absolute;
  left:90px;
  top:35px;
  width:393px;
  height:32px;
}
.u6663 {
  position:absolute;
  left:0px;
  top:0px;
  width:393px;
  white-space:nowrap;
}
#u6657-1 {
  position:absolute;
  left:0px;
  top:0px;
  width:483px;
  height:80px;
}
#u6657-2 {
  position:absolute;
  left:0px;
  top:100px;
  width:483px;
  height:80px;
}
#u6657-3 {
  position:absolute;
  left:0px;
  top:200px;
  width:483px;
  height:80px;
}
#u6657-4 {
  position:absolute;
  left:0px;
  top:300px;
  width:483px;
  height:80px;
}
#u6657 {
  position:absolute;
  left:45px;
  top:114px;
  width:483px;
  height:380px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
}
#u6664_div {
  position:absolute;
  left:0px;
  top:0px;
  width:85px;
  height:16px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Arial Negreta', 'Arial Normal', 'Arial';
  font-weight:700;
  font-style:normal;
}
#u6664 {
  position:absolute;
  left:45px;
  top:78px;
  width:85px;
  height:16px;
  font-family:'Arial Negreta', 'Arial Normal', 'Arial';
  font-weight:700;
  font-style:normal;
}
#u6665 {
  position:absolute;
  left:0px;
  top:0px;
  width:85px;
  white-space:nowrap;
}
