body {
  margin:0px;
  background-image:none;
  position:relative;
  left:-7px;
  width:352px;
  margin-left:auto;
  margin-right:auto;
  text-align:left;
}
#base {
  position:absolute;
  z-index:0;
}
#u2154_div {
  position:absolute;
  left:0px;
  top:0px;
  width:352px;
  height:233px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(201, 201, 201, 1);
  border-radius:2px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u2154 {
  position:absolute;
  left:7px;
  top:6px;
  width:352px;
  height:233px;
}
#u2155 {
  position:absolute;
  left:2px;
  top:108px;
  width:348px;
  visibility:hidden;
  word-wrap:break-word;
}
#u2156_div {
  position:absolute;
  left:0px;
  top:0px;
  width:352px;
  height:44px;
  background:inherit;
  background-color:rgba(248, 248, 248, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(226, 226, 226, 1);
  border-radius:2px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u2156 {
  position:absolute;
  left:7px;
  top:6px;
  width:352px;
  height:44px;
}
#u2157 {
  position:absolute;
  left:2px;
  top:14px;
  width:348px;
  visibility:hidden;
  word-wrap:break-word;
}
#u2158_div {
  position:absolute;
  left:0px;
  top:0px;
  width:65px;
  height:30px;
  background:inherit;
  background-color:rgba(241, 241, 241, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(222, 222, 222, 1);
  border-radius:2px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'微软雅黑';
  font-weight:400;
  font-style:normal;
  font-size:14px;
}
#u2158 {
  position:absolute;
  left:286px;
  top:200px;
  width:65px;
  height:30px;
  font-family:'微软雅黑';
  font-weight:400;
  font-style:normal;
  font-size:14px;
}
#u2159 {
  position:absolute;
  left:2px;
  top:5px;
  width:61px;
  word-wrap:break-word;
}
#u2160_div {
  position:absolute;
  left:0px;
  top:0px;
  width:57px;
  height:20px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'微软雅黑';
  font-weight:400;
  font-style:normal;
}
#u2160 {
  position:absolute;
  left:25px;
  top:20px;
  width:57px;
  height:20px;
  font-family:'微软雅黑';
  font-weight:400;
  font-style:normal;
}
#u2161 {
  position:absolute;
  left:0px;
  top:0px;
  width:57px;
  white-space:nowrap;
}
#u2162_div {
  position:absolute;
  left:0px;
  top:0px;
  width:22px;
  height:37px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'微软雅黑';
  font-weight:400;
  font-style:normal;
  font-size:28px;
}
#u2162 {
  position:absolute;
  left:329px;
  top:10px;
  width:22px;
  height:37px;
  font-family:'微软雅黑';
  font-weight:400;
  font-style:normal;
  font-size:28px;
}
#u2162_div.mouseOver {
  position:absolute;
  left:0px;
  top:0px;
  width:22px;
  height:37px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'微软雅黑';
  font-weight:400;
  font-style:normal;
  font-size:28px;
}
#u2162.mouseOver {
}
#u2163 {
  position:absolute;
  left:0px;
  top:0px;
  width:22px;
  white-space:nowrap;
}
#u2164_div {
  position:absolute;
  left:0px;
  top:0px;
  width:65px;
  height:30px;
  background:inherit;
  background-color:rgba(46, 141, 237, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(46, 141, 237, 1);
  border-radius:2px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'微软雅黑';
  font-weight:400;
  font-style:normal;
  font-size:14px;
  color:#FFFFFF;
}
#u2164 {
  position:absolute;
  left:211px;
  top:200px;
  width:65px;
  height:30px;
  font-family:'微软雅黑';
  font-weight:400;
  font-style:normal;
  font-size:14px;
  color:#FFFFFF;
}
#u2165 {
  position:absolute;
  left:2px;
  top:5px;
  width:61px;
  word-wrap:break-word;
}
#u2166 {
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u2167_div {
  position:absolute;
  left:0px;
  top:0px;
  width:319px;
  height:75px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(222, 222, 222, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u2167 {
  position:absolute;
  left:25px;
  top:115px;
  width:319px;
  height:75px;
}
#u2168 {
  position:absolute;
  left:2px;
  top:30px;
  width:315px;
  visibility:hidden;
  word-wrap:break-word;
}
#u2169 {
  position:absolute;
  left:30px;
  top:117px;
  width:304px;
  height:67px;
}
#u2169_input {
  position:absolute;
  left:0px;
  top:0px;
  width:304px;
  height:67px;
  font-family:'微软雅黑';
  font-weight:400;
  font-style:normal;
  font-size:14px;
  text-decoration:none;
  color:#000000;
  text-align:left;
  border-color:transparent;
  outline-style:none;
}
#u2170 {
  position:absolute;
  left:25px;
  top:74px;
  width:49px;
  height:16px;
}
#u2171 {
  position:absolute;
  left:16px;
  top:0px;
  width:31px;
  word-wrap:break-word;
}
#u2170_input {
  position:absolute;
  left:-3px;
  top:-2px;
}
#u2172 {
  position:absolute;
  left:100px;
  top:74px;
  width:49px;
  height:16px;
}
#u2173 {
  position:absolute;
  left:16px;
  top:0px;
  width:31px;
  word-wrap:break-word;
}
#u2172_input {
  position:absolute;
  left:-3px;
  top:-2px;
}
#u2174 {
  position:absolute;
  left:176px;
  top:74px;
  width:49px;
  height:16px;
}
#u2175 {
  position:absolute;
  left:16px;
  top:0px;
  width:31px;
  word-wrap:break-word;
}
#u2174_input {
  position:absolute;
  left:-3px;
  top:-2px;
}
#u2176 {
  position:absolute;
  left:251px;
  top:74px;
  width:49px;
  height:16px;
}
#u2177 {
  position:absolute;
  left:16px;
  top:0px;
  width:31px;
  word-wrap:break-word;
}
#u2176_input {
  position:absolute;
  left:-3px;
  top:-2px;
}
