body {
  margin:0px;
  background-image:none;
  position:relative;
  left:-12px;
  width:548px;
  margin-left:auto;
  margin-right:auto;
  text-align:left;
}
#base {
  position:absolute;
  z-index:0;
}
#u10810_div {
  position:absolute;
  left:0px;
  top:0px;
  width:548px;
  height:482px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(204, 204, 204, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u10810 {
  position:absolute;
  left:12px;
  top:54px;
  width:548px;
  height:482px;
}
#u10811 {
  position:absolute;
  left:2px;
  top:233px;
  width:544px;
  visibility:hidden;
  word-wrap:break-word;
}
#u10812_div {
  position:absolute;
  left:0px;
  top:0px;
  width:548px;
  height:40px;
  background:inherit;
  background-color:rgba(204, 204, 204, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u10812 {
  position:absolute;
  left:12px;
  top:14px;
  width:548px;
  height:40px;
}
#u10813 {
  position:absolute;
  left:2px;
  top:12px;
  width:544px;
  word-wrap:break-word;
}
#u10814_img {
  position:absolute;
  left:0px;
  top:0px;
  width:25px;
  height:25px;
}
#u10814 {
  position:absolute;
  left:526px;
  top:22px;
  width:25px;
  height:25px;
}
#u10815 {
  position:absolute;
  left:2px;
  top:4px;
  width:21px;
  visibility:hidden;
  word-wrap:break-word;
}
#u10814_ann {
  position:absolute;
  left:544px;
  top:18px;
  width:1px;
  height:1px;
}
#u10816_div {
  position:absolute;
  left:0px;
  top:0px;
  width:57px;
  height:16px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u10816 {
  position:absolute;
  left:41px;
  top:70px;
  width:57px;
  height:16px;
}
#u10817 {
  position:absolute;
  left:0px;
  top:0px;
  width:57px;
  white-space:nowrap;
}
.u10819_img {
  position:absolute;
  left:0px;
  top:0px;
  width:80px;
  height:80px;
}
.u10819 {
  position:absolute;
  left:0px;
  top:0px;
  width:80px;
  height:80px;
}
.u10820 {
  position:absolute;
  left:2px;
  top:32px;
  width:76px;
  visibility:hidden;
  word-wrap:break-word;
}
.u10821_div {
  position:absolute;
  left:0px;
  top:0px;
  width:29px;
  height:16px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
.u10821 {
  position:absolute;
  left:26px;
  top:88px;
  width:29px;
  height:16px;
}
.u10822 {
  position:absolute;
  left:0px;
  top:0px;
  width:29px;
  white-space:nowrap;
}
#u10818-1 {
  position:absolute;
  left:0px;
  top:0px;
  width:80px;
  height:104px;
}
#u10818-2 {
  position:absolute;
  left:100px;
  top:0px;
  width:80px;
  height:104px;
}
#u10818-3 {
  position:absolute;
  left:200px;
  top:0px;
  width:80px;
  height:104px;
}
#u10818-4 {
  position:absolute;
  left:300px;
  top:0px;
  width:80px;
  height:104px;
}
#u10818-5 {
  position:absolute;
  left:400px;
  top:0px;
  width:80px;
  height:104px;
}
#u10818-6 {
  position:absolute;
  left:0px;
  top:124px;
  width:80px;
  height:104px;
}
#u10818-7 {
  position:absolute;
  left:100px;
  top:124px;
  width:80px;
  height:104px;
}
#u10818-8 {
  position:absolute;
  left:200px;
  top:124px;
  width:80px;
  height:104px;
}
#u10818-9 {
  position:absolute;
  left:300px;
  top:124px;
  width:80px;
  height:104px;
}
#u10818 {
  position:absolute;
  left:41px;
  top:105px;
  width:480px;
  height:228px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
}
#u10823_div {
  position:absolute;
  left:0px;
  top:0px;
  width:45px;
  height:16px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u10823 {
  position:absolute;
  left:475px;
  top:70px;
  width:45px;
  height:16px;
}
#u10824 {
  position:absolute;
  left:0px;
  top:0px;
  width:45px;
  white-space:nowrap;
}
#u10825_div {
  position:absolute;
  left:0px;
  top:0px;
  width:57px;
  height:16px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u10825 {
  position:absolute;
  left:40px;
  top:380px;
  width:57px;
  height:16px;
}
#u10826 {
  position:absolute;
  left:0px;
  top:0px;
  width:57px;
  white-space:nowrap;
}
.u10828_img {
  position:absolute;
  left:0px;
  top:0px;
  width:80px;
  height:80px;
}
.u10828 {
  position:absolute;
  left:0px;
  top:0px;
  width:80px;
  height:80px;
}
.u10829 {
  position:absolute;
  left:2px;
  top:32px;
  width:76px;
  visibility:hidden;
  word-wrap:break-word;
}
.u10830_div {
  position:absolute;
  left:0px;
  top:0px;
  width:29px;
  height:16px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
.u10830 {
  position:absolute;
  left:26px;
  top:88px;
  width:29px;
  height:16px;
}
.u10831 {
  position:absolute;
  left:0px;
  top:0px;
  width:29px;
  white-space:nowrap;
}
#u10827-1 {
  position:absolute;
  left:0px;
  top:0px;
  width:80px;
  height:104px;
}
#u10827-2 {
  position:absolute;
  left:100px;
  top:0px;
  width:80px;
  height:104px;
}
#u10827-3 {
  position:absolute;
  left:200px;
  top:0px;
  width:80px;
  height:104px;
}
#u10827-4 {
  position:absolute;
  left:300px;
  top:0px;
  width:80px;
  height:104px;
}
#u10827-5 {
  position:absolute;
  left:400px;
  top:0px;
  width:80px;
  height:104px;
}
#u10827 {
  position:absolute;
  left:40px;
  top:415px;
  width:480px;
  height:104px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
}
#u10832_div {
  position:absolute;
  left:0px;
  top:0px;
  width:45px;
  height:16px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u10832 {
  position:absolute;
  left:474px;
  top:380px;
  width:45px;
  height:16px;
}
#u10833 {
  position:absolute;
  left:0px;
  top:0px;
  width:45px;
  white-space:nowrap;
}
#u10834_div {
  position:absolute;
  left:0px;
  top:0px;
  width:548px;
  height:14px;
  background:inherit;
  background-color:rgba(215, 215, 215, 0.407843137254902);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u10834 {
  position:absolute;
  left:12px;
  top:350px;
  width:548px;
  height:14px;
}
#u10835 {
  position:absolute;
  left:2px;
  top:-1px;
  width:544px;
  visibility:hidden;
  word-wrap:break-word;
}
