body {
  margin:0px;
  background-image:none;
  position:relative;
  left:-0px;
  width:525px;
  margin-left:auto;
  margin-right:auto;
  text-align:left;
}
#base {
  position:absolute;
  z-index:0;
}
.u5777 {
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
.u5778_div {
  position:absolute;
  left:0px;
  top:0px;
  width:160px;
  height:160px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(204, 204, 204, 1);
  border-radius:5px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
.u5778 {
  position:absolute;
  left:10px;
  top:10px;
  width:160px;
  height:160px;
}
.u5778_div.selected {
  position:absolute;
  left:0px;
  top:0px;
  width:160px;
  height:160px;
  background:inherit;
  background-color:rgba(0, 255, 255, 0.156862745098039);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(204, 204, 204, 1);
  border-radius:5px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
.u5778.selected {
}
.u5779 {
  position:absolute;
  left:2px;
  top:72px;
  width:156px;
  visibility:hidden;
  word-wrap:break-word;
}
.u5780_img {
  position:absolute;
  left:0px;
  top:0px;
  width:60px;
  height:60px;
}
.u5780 {
  position:absolute;
  left:54px;
  top:47px;
  width:60px;
  height:60px;
}
.u5781 {
  position:absolute;
  left:2px;
  top:22px;
  width:56px;
  visibility:hidden;
  word-wrap:break-word;
}
.u5782_div {
  position:absolute;
  left:0px;
  top:0px;
  width:57px;
  height:16px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
.u5782 {
  position:absolute;
  left:55px;
  top:128px;
  width:57px;
  height:16px;
}
.u5783 {
  position:absolute;
  left:0px;
  top:0px;
  width:57px;
  white-space:nowrap;
}
#u5776-1 {
  position:absolute;
  left:0px;
  top:0px;
  width:170px;
  height:170px;
}
#u5776-2 {
  position:absolute;
  left:170px;
  top:0px;
  width:170px;
  height:170px;
}
#u5776-3 {
  position:absolute;
  left:340px;
  top:0px;
  width:170px;
  height:170px;
}
#u5776 {
  position:absolute;
  left:0px;
  top:41px;
  width:510px;
  height:170px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
}
#u5784_img {
  position:absolute;
  left:-1px;
  top:-1px;
  width:88px;
  height:43px;
}
#u5784 {
  position:absolute;
  left:102px;
  top:1px;
  width:85px;
  height:40px;
  font-family:'微软雅黑';
  font-weight:400;
  font-style:normal;
  font-size:14px;
}
#u5784_img.selected {
}
#u5784.selected {
}
#u5785 {
  position:absolute;
  left:2px;
  top:10px;
  width:81px;
  word-wrap:break-word;
}
#u5784_ann {
  position:absolute;
  left:180px;
  top:-3px;
  width:1px;
  height:1px;
}
#u5786_img {
  position:absolute;
  left:-1px;
  top:-1px;
  width:88px;
  height:43px;
}
#u5786 {
  position:absolute;
  left:17px;
  top:1px;
  width:85px;
  height:40px;
  font-family:'微软雅黑';
  font-weight:400;
  font-style:normal;
  font-size:14px;
}
#u5786_img.selected {
}
#u5786.selected {
}
#u5787 {
  position:absolute;
  left:2px;
  top:10px;
  width:81px;
  word-wrap:break-word;
}
#u5786_ann {
  position:absolute;
  left:95px;
  top:-3px;
  width:1px;
  height:1px;
}
#u5788_img {
  position:absolute;
  left:0px;
  top:0px;
  width:524px;
  height:2px;
}
#u5788 {
  position:absolute;
  left:2px;
  top:40px;
  width:523px;
  height:1px;
}
#u5789 {
  position:absolute;
  left:2px;
  top:-8px;
  width:519px;
  visibility:hidden;
  word-wrap:break-word;
}
