body {
  margin:0px;
  background-image:none;
  position:relative;
  left:-0px;
  width:525px;
  margin-left:auto;
  margin-right:auto;
  text-align:left;
}
#base {
  position:absolute;
  z-index:0;
}
.u1456 {
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
.u1457_div {
  position:absolute;
  left:0px;
  top:0px;
  width:160px;
  height:160px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(204, 204, 204, 1);
  border-radius:5px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
.u1457 {
  position:absolute;
  left:10px;
  top:10px;
  width:160px;
  height:160px;
}
.u1457_div.selected {
  position:absolute;
  left:0px;
  top:0px;
  width:160px;
  height:160px;
  background:inherit;
  background-color:rgba(0, 255, 255, 0.156862745098039);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(204, 204, 204, 1);
  border-radius:5px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
.u1457.selected {
}
.u1458 {
  position:absolute;
  left:2px;
  top:72px;
  width:156px;
  visibility:hidden;
  word-wrap:break-word;
}
.u1459_img {
  position:absolute;
  left:0px;
  top:0px;
  width:60px;
  height:60px;
}
.u1459 {
  position:absolute;
  left:54px;
  top:47px;
  width:60px;
  height:60px;
}
.u1460 {
  position:absolute;
  left:2px;
  top:22px;
  width:56px;
  visibility:hidden;
  word-wrap:break-word;
}
.u1461_div {
  position:absolute;
  left:0px;
  top:0px;
  width:57px;
  height:16px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
.u1461 {
  position:absolute;
  left:55px;
  top:128px;
  width:57px;
  height:16px;
}
.u1462 {
  position:absolute;
  left:0px;
  top:0px;
  width:57px;
  white-space:nowrap;
}
#u1455-1 {
  position:absolute;
  left:0px;
  top:0px;
  width:170px;
  height:170px;
}
#u1455-2 {
  position:absolute;
  left:170px;
  top:0px;
  width:170px;
  height:170px;
}
#u1455-3 {
  position:absolute;
  left:340px;
  top:0px;
  width:170px;
  height:170px;
}
#u1455 {
  position:absolute;
  left:0px;
  top:41px;
  width:510px;
  height:170px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
}
#u1463_img {
  position:absolute;
  left:-1px;
  top:-1px;
  width:88px;
  height:43px;
}
#u1463 {
  position:absolute;
  left:102px;
  top:1px;
  width:85px;
  height:40px;
  font-family:'微软雅黑';
  font-weight:400;
  font-style:normal;
  font-size:14px;
}
#u1463_img.selected {
}
#u1463.selected {
}
#u1464 {
  position:absolute;
  left:2px;
  top:10px;
  width:81px;
  word-wrap:break-word;
}
#u1463_ann {
  position:absolute;
  left:180px;
  top:-3px;
  width:1px;
  height:1px;
}
#u1465_img {
  position:absolute;
  left:-1px;
  top:-1px;
  width:88px;
  height:43px;
}
#u1465 {
  position:absolute;
  left:17px;
  top:1px;
  width:85px;
  height:40px;
  font-family:'微软雅黑';
  font-weight:400;
  font-style:normal;
  font-size:14px;
}
#u1465_img.selected {
}
#u1465.selected {
}
#u1466 {
  position:absolute;
  left:2px;
  top:10px;
  width:81px;
  word-wrap:break-word;
}
#u1465_ann {
  position:absolute;
  left:95px;
  top:-3px;
  width:1px;
  height:1px;
}
#u1467_img {
  position:absolute;
  left:0px;
  top:0px;
  width:524px;
  height:2px;
}
#u1467 {
  position:absolute;
  left:2px;
  top:40px;
  width:523px;
  height:1px;
}
#u1468 {
  position:absolute;
  left:2px;
  top:-8px;
  width:519px;
  visibility:hidden;
  word-wrap:break-word;
}
