body {
  margin:0px;
  background-image:none;
  position:relative;
  left:-0px;
  width:530px;
  margin-left:auto;
  margin-right:auto;
  text-align:left;
}
#base {
  position:absolute;
  z-index:0;
}
#u9127_div {
  position:absolute;
  left:0px;
  top:0px;
  width:530px;
  height:49px;
  background:inherit;
  background-color:rgba(215, 215, 215, 0.8);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:16px;
}
#u9127 {
  position:absolute;
  left:0px;
  top:0px;
  width:530px;
  height:49px;
  font-size:16px;
}
#u9128 {
  position:absolute;
  left:2px;
  top:15px;
  width:526px;
  word-wrap:break-word;
}
#u9129_img {
  position:absolute;
  left:0px;
  top:0px;
  width:32px;
  height:32px;
}
#u9129 {
  position:absolute;
  left:8px;
  top:7px;
  width:32px;
  height:32px;
}
#u9130 {
  position:absolute;
  left:2px;
  top:8px;
  width:28px;
  visibility:hidden;
  word-wrap:break-word;
}
#u9131_div {
  position:absolute;
  left:0px;
  top:0px;
  width:73px;
  height:22px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Arial Negreta', 'Arial Normal', 'Arial';
  font-weight:700;
  font-style:normal;
}
#u9131 {
  position:absolute;
  left:214px;
  top:63px;
  width:73px;
  height:22px;
  font-family:'Arial Negreta', 'Arial Normal', 'Arial';
  font-weight:700;
  font-style:normal;
}
#u9132 {
  position:absolute;
  left:0px;
  top:0px;
  width:73px;
  white-space:nowrap;
}
#u9133_img {
  position:absolute;
  left:0px;
  top:0px;
  width:81px;
  height:81px;
}
#u9133 {
  position:absolute;
  left:41px;
  top:302px;
  width:80px;
  height:80px;
}
#u9134 {
  position:absolute;
  left:2px;
  top:32px;
  width:76px;
  word-wrap:break-word;
}
#u9135_img {
  position:absolute;
  left:0px;
  top:0px;
  width:81px;
  height:81px;
}
#u9135 {
  position:absolute;
  left:131px;
  top:302px;
  width:80px;
  height:80px;
}
#u9136 {
  position:absolute;
  left:2px;
  top:32px;
  width:76px;
  word-wrap:break-word;
}
#u9137_img {
  position:absolute;
  left:0px;
  top:0px;
  width:81px;
  height:81px;
}
#u9137 {
  position:absolute;
  left:221px;
  top:302px;
  width:80px;
  height:80px;
}
#u9138 {
  position:absolute;
  left:2px;
  top:32px;
  width:76px;
  word-wrap:break-word;
}
#u9139_img {
  position:absolute;
  left:0px;
  top:0px;
  width:81px;
  height:81px;
}
#u9139 {
  position:absolute;
  left:311px;
  top:302px;
  width:80px;
  height:80px;
}
#u9140 {
  position:absolute;
  left:2px;
  top:32px;
  width:76px;
  word-wrap:break-word;
}
#u9141_div {
  position:absolute;
  left:0px;
  top:0px;
  width:99px;
  height:16px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u9141 {
  position:absolute;
  left:41px;
  top:110px;
  width:99px;
  height:16px;
}
#u9142 {
  position:absolute;
  left:0px;
  top:0px;
  width:99px;
  white-space:nowrap;
}
#u9141_ann {
  position:absolute;
  left:133px;
  top:106px;
  width:1px;
  height:1px;
}
#u9143_div {
  position:absolute;
  left:0px;
  top:0px;
  width:65px;
  height:16px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u9143 {
  position:absolute;
  left:292px;
  top:110px;
  width:65px;
  height:16px;
}
#u9144 {
  position:absolute;
  left:0px;
  top:0px;
  width:65px;
  white-space:nowrap;
}
#u9145_div {
  position:absolute;
  left:0px;
  top:0px;
  width:213px;
  height:16px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u9145 {
  position:absolute;
  left:41px;
  top:143px;
  width:213px;
  height:16px;
}
#u9146 {
  position:absolute;
  left:0px;
  top:0px;
  width:213px;
  white-space:nowrap;
}
#u9147_div {
  position:absolute;
  left:0px;
  top:0px;
  width:213px;
  height:16px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u9147 {
  position:absolute;
  left:292px;
  top:143px;
  width:213px;
  height:16px;
}
#u9148 {
  position:absolute;
  left:0px;
  top:0px;
  width:213px;
  white-space:nowrap;
}
#u9149_div {
  position:absolute;
  left:0px;
  top:0px;
  width:123px;
  height:16px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u9149 {
  position:absolute;
  left:41px;
  top:172px;
  width:123px;
  height:16px;
}
#u9150 {
  position:absolute;
  left:0px;
  top:0px;
  width:123px;
  white-space:nowrap;
}
#u9151_div {
  position:absolute;
  left:0px;
  top:0px;
  width:187px;
  height:16px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u9151 {
  position:absolute;
  left:291px;
  top:172px;
  width:187px;
  height:16px;
}
#u9152 {
  position:absolute;
  left:0px;
  top:0px;
  width:187px;
  white-space:nowrap;
}
#u9153_div {
  position:absolute;
  left:0px;
  top:0px;
  width:139px;
  height:16px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u9153 {
  position:absolute;
  left:41px;
  top:206px;
  width:139px;
  height:16px;
}
#u9154 {
  position:absolute;
  left:0px;
  top:0px;
  width:139px;
  white-space:nowrap;
}
#u9153_ann {
  position:absolute;
  left:173px;
  top:202px;
  width:1px;
  height:1px;
}
#u9155_div {
  position:absolute;
  left:0px;
  top:0px;
  width:449px;
  height:48px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u9155 {
  position:absolute;
  left:41px;
  top:232px;
  width:449px;
  height:48px;
}
#u9156 {
  position:absolute;
  left:0px;
  top:0px;
  width:449px;
  word-wrap:break-word;
}
#u9157_div {
  position:absolute;
  left:0px;
  top:0px;
  width:71px;
  height:16px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  color:#1D9ED7;
}
#u9157 {
  position:absolute;
  left:41px;
  top:402px;
  width:71px;
  height:16px;
  color:#1D9ED7;
}
#u9158 {
  position:absolute;
  left:0px;
  top:0px;
  width:71px;
  white-space:nowrap;
}
#u9157_ann {
  position:absolute;
  left:105px;
  top:398px;
  width:1px;
  height:1px;
}
#u9159_div {
  position:absolute;
  left:0px;
  top:0px;
  width:71px;
  height:16px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  color:#1D9ED7;
}
#u9159 {
  position:absolute;
  left:41px;
  top:435px;
  width:71px;
  height:16px;
  color:#1D9ED7;
}
#u9160 {
  position:absolute;
  left:0px;
  top:0px;
  width:71px;
  white-space:nowrap;
}
#u9159_ann {
  position:absolute;
  left:105px;
  top:431px;
  width:1px;
  height:1px;
}
#u9161_img {
  position:absolute;
  left:0px;
  top:0px;
  width:100px;
  height:30px;
}
#u9161 {
  position:absolute;
  left:390px;
  top:531px;
  width:100px;
  height:30px;
  font-family:'微软雅黑';
  font-weight:400;
  font-style:normal;
  font-size:14px;
  color:#FFFFFF;
}
#u9161_img.mouseOver {
}
#u9161.mouseOver {
}
#u9162 {
  position:absolute;
  left:2px;
  top:5px;
  width:96px;
  word-wrap:break-word;
}
#u9163_div {
  position:absolute;
  left:0px;
  top:0px;
  width:100px;
  height:30px;
  background:inherit;
  background-color:rgba(255, 0, 0, 0.788235294117647);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(255, 0, 0, 1);
  border-radius:2px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'微软雅黑';
  font-weight:400;
  font-style:normal;
  font-size:14px;
  color:#FFFFFF;
}
#u9163 {
  position:absolute;
  left:280px;
  top:531px;
  width:100px;
  height:30px;
  font-family:'微软雅黑';
  font-weight:400;
  font-style:normal;
  font-size:14px;
  color:#FFFFFF;
}
#u9164 {
  position:absolute;
  left:2px;
  top:5px;
  width:96px;
  word-wrap:break-word;
}
