body {
  margin:0px;
  background-image:none;
  position:relative;
  left:-0px;
  width:531px;
  margin-left:auto;
  margin-right:auto;
  text-align:left;
}
#base {
  position:absolute;
  z-index:0;
}
#u720_div {
  position:absolute;
  left:0px;
  top:0px;
  width:529px;
  height:49px;
  background:inherit;
  background-color:rgba(215, 215, 215, 0.8);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:16px;
}
#u720 {
  position:absolute;
  left:0px;
  top:0px;
  width:529px;
  height:49px;
  font-size:16px;
}
#u721 {
  position:absolute;
  left:2px;
  top:15px;
  width:525px;
  word-wrap:break-word;
}
#u722_img {
  position:absolute;
  left:0px;
  top:0px;
  width:32px;
  height:32px;
}
#u722 {
  position:absolute;
  left:8px;
  top:7px;
  width:32px;
  height:32px;
}
#u723 {
  position:absolute;
  left:2px;
  top:8px;
  width:28px;
  visibility:hidden;
  word-wrap:break-word;
}
.u725 {
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
.u726_div {
  position:absolute;
  left:0px;
  top:0px;
  width:531px;
  height:62px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(204, 204, 204, 1);
  border-left:0px;
  border-top:0px;
  border-right:0px;
  border-radius:0px;
  border-top-left-radius:0px;
  border-top-right-radius:0px;
  border-bottom-right-radius:0px;
  border-bottom-left-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
.u726 {
  position:absolute;
  left:0px;
  top:0px;
  width:531px;
  height:62px;
}
.u727 {
  position:absolute;
  left:2px;
  top:23px;
  width:527px;
  visibility:hidden;
  word-wrap:break-word;
}
.u728_div {
  position:absolute;
  left:0px;
  top:0px;
  width:57px;
  height:16px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
.u728 {
  position:absolute;
  left:12px;
  top:10px;
  width:57px;
  height:16px;
}
.u729 {
  position:absolute;
  left:0px;
  top:0px;
  width:57px;
  white-space:nowrap;
}
.u730_div {
  position:absolute;
  left:0px;
  top:0px;
  width:95px;
  height:16px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:13px;
  color:#999999;
}
.u730 {
  position:absolute;
  left:12px;
  top:36px;
  width:95px;
  height:16px;
  font-size:13px;
  color:#999999;
}
.u731 {
  position:absolute;
  left:0px;
  top:0px;
  width:95px;
  white-space:nowrap;
}
.u732_div {
  position:absolute;
  left:0px;
  top:0px;
  width:17px;
  height:17px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Arial Negreta', 'Arial Normal', 'Arial';
  font-weight:700;
  font-style:normal;
  font-size:15px;
}
.u732 {
  position:absolute;
  left:470px;
  top:10px;
  width:17px;
  height:17px;
  font-family:'Arial Negreta', 'Arial Normal', 'Arial';
  font-weight:700;
  font-style:normal;
  font-size:15px;
}
.u733 {
  position:absolute;
  left:0px;
  top:0px;
  width:17px;
  white-space:nowrap;
}
.u734_div {
  position:absolute;
  left:0px;
  top:0px;
  width:54px;
  height:16px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
.u734 {
  position:absolute;
  left:450px;
  top:36px;
  width:54px;
  height:16px;
}
.u735 {
  position:absolute;
  left:0px;
  top:0px;
  width:54px;
  white-space:nowrap;
}
#u724-1 {
  position:absolute;
  left:0px;
  top:0px;
  width:531px;
  height:62px;
}
#u724-2 {
  position:absolute;
  left:0px;
  top:62px;
  width:531px;
  height:62px;
}
#u724-3 {
  position:absolute;
  left:0px;
  top:124px;
  width:531px;
  height:62px;
}
#u724-4 {
  position:absolute;
  left:0px;
  top:186px;
  width:531px;
  height:62px;
}
#u724-5 {
  position:absolute;
  left:0px;
  top:248px;
  width:531px;
  height:62px;
}
#u724 {
  position:absolute;
  left:0px;
  top:49px;
  width:531px;
  height:310px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
}
