body {
  margin:0px;
  background-image:none;
  position:relative;
  left:-0px;
  width:530px;
  margin-left:auto;
  margin-right:auto;
  text-align:left;
}
#base {
  position:absolute;
  z-index:0;
}
#u5813_div {
  position:absolute;
  left:0px;
  top:0px;
  width:529px;
  height:49px;
  background:inherit;
  background-color:rgba(215, 215, 215, 0.8);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:16px;
}
#u5813 {
  position:absolute;
  left:0px;
  top:0px;
  width:529px;
  height:49px;
  font-size:16px;
}
#u5814 {
  position:absolute;
  left:2px;
  top:15px;
  width:525px;
  word-wrap:break-word;
}
#u5815 {
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u5816_img {
  position:absolute;
  left:0px;
  top:0px;
  width:32px;
  height:32px;
}
#u5816 {
  position:absolute;
  left:8px;
  top:7px;
  width:32px;
  height:32px;
}
#u5817 {
  position:absolute;
  left:2px;
  top:8px;
  width:28px;
  visibility:hidden;
  word-wrap:break-word;
}
.u5819_div {
  position:absolute;
  left:0px;
  top:0px;
  width:530px;
  height:64px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(204, 204, 204, 1);
  border-left:0px;
  border-top:0px;
  border-right:0px;
  border-radius:0px;
  border-top-left-radius:0px;
  border-top-right-radius:0px;
  border-bottom-right-radius:0px;
  border-bottom-left-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
.u5819 {
  position:absolute;
  left:0px;
  top:0px;
  width:530px;
  height:64px;
}
.u5820 {
  position:absolute;
  left:2px;
  top:24px;
  width:526px;
  visibility:hidden;
  word-wrap:break-word;
}
.u5821_img {
  position:absolute;
  left:0px;
  top:0px;
  width:50px;
  height:50px;
}
.u5821 {
  position:absolute;
  left:9px;
  top:7px;
  width:50px;
  height:50px;
}
.u5822 {
  position:absolute;
  left:2px;
  top:17px;
  width:46px;
  visibility:hidden;
  word-wrap:break-word;
}
.u5823_div {
  position:absolute;
  left:0px;
  top:0px;
  width:99px;
  height:16px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
.u5823 {
  position:absolute;
  left:69px;
  top:13px;
  width:99px;
  height:16px;
}
.u5824 {
  position:absolute;
  left:0px;
  top:0px;
  width:99px;
  white-space:nowrap;
}
.u5823_ann {
  position:absolute;
  left:161px;
  top:9px;
  width:1px;
  height:1px;
}
.u5825_div {
  position:absolute;
  left:0px;
  top:0px;
  width:59px;
  height:15px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:12px;
}
.u5825 {
  position:absolute;
  left:69px;
  top:39px;
  width:59px;
  height:15px;
  font-size:12px;
}
.u5826 {
  position:absolute;
  left:0px;
  top:0px;
  width:59px;
  white-space:nowrap;
}
.u5825_ann {
  position:absolute;
  left:121px;
  top:35px;
  width:1px;
  height:1px;
}
.u5827_img {
  position:absolute;
  left:0px;
  top:0px;
  width:15px;
  height:15px;
}
.u5827 {
  position:absolute;
  left:505px;
  top:14px;
  width:15px;
  height:15px;
}
.u5828 {
  position:absolute;
  left:2px;
  top:0px;
  width:11px;
  visibility:hidden;
  word-wrap:break-word;
}
.u5827_ann {
  position:absolute;
  left:513px;
  top:10px;
  width:1px;
  height:1px;
}
#u5818-1 {
  position:absolute;
  left:0px;
  top:0px;
  width:530px;
  height:64px;
}
#u5818-2 {
  position:absolute;
  left:0px;
  top:64px;
  width:530px;
  height:64px;
}
#u5818-3 {
  position:absolute;
  left:0px;
  top:128px;
  width:530px;
  height:64px;
}
#u5818-4 {
  position:absolute;
  left:0px;
  top:192px;
  width:530px;
  height:64px;
}
#u5818-5 {
  position:absolute;
  left:0px;
  top:256px;
  width:530px;
  height:64px;
}
#u5818-6 {
  position:absolute;
  left:0px;
  top:320px;
  width:530px;
  height:64px;
}
#u5818 {
  position:absolute;
  left:0px;
  top:49px;
  width:530px;
  height:384px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
}
#u5818_ann {
  position:absolute;
  left:523px;
  top:45px;
  width:1px;
  height:1px;
}
#u5829_img {
  position:absolute;
  left:0px;
  top:0px;
  width:30px;
  height:30px;
}
#u5829 {
  position:absolute;
  left:486px;
  top:9px;
  width:30px;
  height:30px;
}
#u5830 {
  position:absolute;
  left:2px;
  top:7px;
  width:26px;
  visibility:hidden;
  word-wrap:break-word;
}
#u5829_ann {
  position:absolute;
  left:509px;
  top:5px;
  width:1px;
  height:1px;
}
#u5831 {
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u5832_div {
  position:absolute;
  left:0px;
  top:0px;
  width:387px;
  height:38px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(29, 158, 215, 1);
  border-radius:2px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u5832 {
  position:absolute;
  left:92px;
  top:6px;
  width:387px;
  height:38px;
}
#u5833 {
  position:absolute;
  left:2px;
  top:11px;
  width:383px;
  visibility:hidden;
  word-wrap:break-word;
}
#u5834 {
  position:absolute;
  left:98px;
  top:13px;
  width:374px;
  height:25px;
}
#u5834_input {
  position:absolute;
  left:0px;
  top:0px;
  width:374px;
  height:25px;
  font-family:'微软雅黑';
  font-weight:400;
  font-style:normal;
  font-size:14px;
  text-decoration:none;
  color:#000000;
  text-align:left;
  border-color:transparent;
  outline-style:none;
}
