body {
  margin:0px;
  background-image:none;
  position:relative;
  left:-0px;
  width:529px;
  margin-left:auto;
  margin-right:auto;
  text-align:left;
}
#base {
  position:absolute;
  z-index:0;
}
.u4231 {
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
.u4232_div {
  position:absolute;
  left:0px;
  top:0px;
  width:497px;
  height:88px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(204, 204, 204, 1);
  border-left:0px;
  border-top:0px;
  border-right:0px;
  border-radius:5px;
  border-top-left-radius:0px;
  border-top-right-radius:0px;
  border-bottom-right-radius:0px;
  border-bottom-left-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
.u4232 {
  position:absolute;
  left:0px;
  top:0px;
  width:497px;
  height:88px;
}
.u4233 {
  position:absolute;
  left:2px;
  top:36px;
  width:493px;
  visibility:hidden;
  word-wrap:break-word;
}
.u4234_img {
  position:absolute;
  left:0px;
  top:0px;
  width:68px;
  height:64px;
}
.u4234 {
  position:absolute;
  left:10px;
  top:5px;
  width:68px;
  height:64px;
}
.u4235 {
  position:absolute;
  left:2px;
  top:24px;
  width:64px;
  visibility:hidden;
  word-wrap:break-word;
}
.u4236_div {
  position:absolute;
  left:0px;
  top:0px;
  width:65px;
  height:19px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-left:0px;
  border-top:0px;
  border-right:0px;
  border-radius:0px;
  border-top-left-radius:0px;
  border-top-right-radius:0px;
  border-bottom-right-radius:0px;
  border-bottom-left-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:16px;
}
.u4236 {
  position:absolute;
  left:88px;
  top:13px;
  width:65px;
  height:19px;
  font-size:16px;
}
.u4237 {
  position:absolute;
  left:0px;
  top:0px;
  width:65px;
  white-space:nowrap;
}
.u4238_div {
  position:absolute;
  left:0px;
  top:0px;
  width:44px;
  height:15px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-left:0px;
  border-top:0px;
  border-right:0px;
  border-radius:0px;
  border-top-left-radius:0px;
  border-top-right-radius:0px;
  border-bottom-right-radius:0px;
  border-bottom-left-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:12px;
  color:#999999;
}
.u4238 {
  position:absolute;
  left:88px;
  top:52px;
  width:44px;
  height:15px;
  font-size:12px;
  color:#999999;
}
.u4239 {
  position:absolute;
  left:0px;
  top:0px;
  width:44px;
  white-space:nowrap;
}
.u4240_div {
  position:absolute;
  left:0px;
  top:0px;
  width:153px;
  height:15px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:12px;
  color:#999999;
}
.u4240 {
  position:absolute;
  left:331px;
  top:52px;
  width:153px;
  height:15px;
  font-size:12px;
  color:#999999;
}
.u4241 {
  position:absolute;
  left:0px;
  top:0px;
  width:153px;
  white-space:nowrap;
}
#u4230-1 {
  position:absolute;
  left:0px;
  top:0px;
  width:497px;
  height:88px;
}
#u4230-2 {
  position:absolute;
  left:0px;
  top:88px;
  width:497px;
  height:88px;
}
#u4230-3 {
  position:absolute;
  left:0px;
  top:176px;
  width:497px;
  height:88px;
}
#u4230-4 {
  position:absolute;
  left:0px;
  top:264px;
  width:497px;
  height:88px;
}
#u4230-5 {
  position:absolute;
  left:0px;
  top:352px;
  width:497px;
  height:88px;
}
#u4230 {
  position:absolute;
  left:15px;
  top:106px;
  width:497px;
  height:440px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
}
#u4242 {
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u4243_div {
  position:absolute;
  left:0px;
  top:0px;
  width:509px;
  height:36px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(204, 204, 204, 1);
  border-radius:5px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u4243 {
  position:absolute;
  left:11px;
  top:59px;
  width:509px;
  height:36px;
}
#u4244 {
  position:absolute;
  left:2px;
  top:10px;
  width:505px;
  visibility:hidden;
  word-wrap:break-word;
}
#u4245 {
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u4246 {
  position:absolute;
  left:38px;
  top:64px;
  width:470px;
  height:25px;
}
#u4246_input {
  position:absolute;
  left:0px;
  top:0px;
  width:470px;
  height:25px;
  font-family:'微软雅黑';
  font-weight:400;
  font-style:normal;
  font-size:14px;
  text-decoration:none;
  color:#000000;
  text-align:left;
  border-color:transparent;
  outline-style:none;
}
#u4247_img {
  position:absolute;
  left:0px;
  top:0px;
  width:18px;
  height:20px;
}
#u4247 {
  position:absolute;
  left:20px;
  top:68px;
  width:18px;
  height:20px;
}
#u4248 {
  position:absolute;
  left:2px;
  top:2px;
  width:14px;
  visibility:hidden;
  word-wrap:break-word;
}
#u4249_div {
  position:absolute;
  left:0px;
  top:0px;
  width:529px;
  height:49px;
  background:inherit;
  background-color:rgba(215, 215, 215, 0.8);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:16px;
}
#u4249 {
  position:absolute;
  left:0px;
  top:0px;
  width:529px;
  height:49px;
  font-size:16px;
}
#u4250 {
  position:absolute;
  left:2px;
  top:15px;
  width:525px;
  word-wrap:break-word;
}
#u4251_img {
  position:absolute;
  left:0px;
  top:0px;
  width:32px;
  height:32px;
}
#u4251 {
  position:absolute;
  left:8px;
  top:7px;
  width:32px;
  height:32px;
}
#u4252 {
  position:absolute;
  left:2px;
  top:8px;
  width:28px;
  visibility:hidden;
  word-wrap:break-word;
}
#u4253_div {
  position:absolute;
  left:0px;
  top:0px;
  width:29px;
  height:16px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u4253 {
  position:absolute;
  left:478px;
  top:17px;
  width:29px;
  height:16px;
}
#u4254 {
  position:absolute;
  left:0px;
  top:0px;
  width:29px;
  white-space:nowrap;
}
#u4253_ann {
  position:absolute;
  left:500px;
  top:13px;
  width:1px;
  height:1px;
}
