body {
  margin:0px;
  background-image:none;
  position:relative;
  left:-0px;
  width:529px;
  margin-left:auto;
  margin-right:auto;
  text-align:left;
}
#base {
  position:absolute;
  z-index:0;
}
.u5412 {
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
.u5413_div {
  position:absolute;
  left:0px;
  top:0px;
  width:497px;
  height:88px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(204, 204, 204, 1);
  border-left:0px;
  border-top:0px;
  border-right:0px;
  border-radius:5px;
  border-top-left-radius:0px;
  border-top-right-radius:0px;
  border-bottom-right-radius:0px;
  border-bottom-left-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
.u5413 {
  position:absolute;
  left:0px;
  top:0px;
  width:497px;
  height:88px;
}
.u5414 {
  position:absolute;
  left:2px;
  top:36px;
  width:493px;
  visibility:hidden;
  word-wrap:break-word;
}
.u5415_img {
  position:absolute;
  left:0px;
  top:0px;
  width:68px;
  height:64px;
}
.u5415 {
  position:absolute;
  left:10px;
  top:5px;
  width:68px;
  height:64px;
}
.u5416 {
  position:absolute;
  left:2px;
  top:24px;
  width:64px;
  visibility:hidden;
  word-wrap:break-word;
}
.u5417_div {
  position:absolute;
  left:0px;
  top:0px;
  width:65px;
  height:19px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-left:0px;
  border-top:0px;
  border-right:0px;
  border-radius:0px;
  border-top-left-radius:0px;
  border-top-right-radius:0px;
  border-bottom-right-radius:0px;
  border-bottom-left-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:16px;
}
.u5417 {
  position:absolute;
  left:88px;
  top:13px;
  width:65px;
  height:19px;
  font-size:16px;
}
.u5418 {
  position:absolute;
  left:0px;
  top:0px;
  width:65px;
  white-space:nowrap;
}
.u5419_div {
  position:absolute;
  left:0px;
  top:0px;
  width:44px;
  height:15px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-left:0px;
  border-top:0px;
  border-right:0px;
  border-radius:0px;
  border-top-left-radius:0px;
  border-top-right-radius:0px;
  border-bottom-right-radius:0px;
  border-bottom-left-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:12px;
  color:#999999;
}
.u5419 {
  position:absolute;
  left:88px;
  top:52px;
  width:44px;
  height:15px;
  font-size:12px;
  color:#999999;
}
.u5420 {
  position:absolute;
  left:0px;
  top:0px;
  width:44px;
  white-space:nowrap;
}
.u5421_div {
  position:absolute;
  left:0px;
  top:0px;
  width:153px;
  height:15px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:12px;
  color:#999999;
}
.u5421 {
  position:absolute;
  left:331px;
  top:52px;
  width:153px;
  height:15px;
  font-size:12px;
  color:#999999;
}
.u5422 {
  position:absolute;
  left:0px;
  top:0px;
  width:153px;
  white-space:nowrap;
}
#u5411-1 {
  position:absolute;
  left:0px;
  top:0px;
  width:497px;
  height:88px;
}
#u5411-2 {
  position:absolute;
  left:0px;
  top:88px;
  width:497px;
  height:88px;
}
#u5411-3 {
  position:absolute;
  left:0px;
  top:176px;
  width:497px;
  height:88px;
}
#u5411-4 {
  position:absolute;
  left:0px;
  top:264px;
  width:497px;
  height:88px;
}
#u5411-5 {
  position:absolute;
  left:0px;
  top:352px;
  width:497px;
  height:88px;
}
#u5411 {
  position:absolute;
  left:15px;
  top:106px;
  width:497px;
  height:440px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
}
#u5423 {
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u5424_div {
  position:absolute;
  left:0px;
  top:0px;
  width:509px;
  height:36px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(204, 204, 204, 1);
  border-radius:5px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u5424 {
  position:absolute;
  left:11px;
  top:59px;
  width:509px;
  height:36px;
}
#u5425 {
  position:absolute;
  left:2px;
  top:10px;
  width:505px;
  visibility:hidden;
  word-wrap:break-word;
}
#u5426 {
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u5427 {
  position:absolute;
  left:38px;
  top:64px;
  width:470px;
  height:25px;
}
#u5427_input {
  position:absolute;
  left:0px;
  top:0px;
  width:470px;
  height:25px;
  font-family:'微软雅黑';
  font-weight:400;
  font-style:normal;
  font-size:14px;
  text-decoration:none;
  color:#000000;
  text-align:left;
  border-color:transparent;
  outline-style:none;
}
#u5428_img {
  position:absolute;
  left:0px;
  top:0px;
  width:18px;
  height:20px;
}
#u5428 {
  position:absolute;
  left:20px;
  top:68px;
  width:18px;
  height:20px;
}
#u5429 {
  position:absolute;
  left:2px;
  top:2px;
  width:14px;
  visibility:hidden;
  word-wrap:break-word;
}
#u5430_div {
  position:absolute;
  left:0px;
  top:0px;
  width:529px;
  height:49px;
  background:inherit;
  background-color:rgba(215, 215, 215, 0.8);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:16px;
}
#u5430 {
  position:absolute;
  left:0px;
  top:0px;
  width:529px;
  height:49px;
  font-size:16px;
}
#u5431 {
  position:absolute;
  left:2px;
  top:15px;
  width:525px;
  word-wrap:break-word;
}
#u5432_img {
  position:absolute;
  left:0px;
  top:0px;
  width:32px;
  height:32px;
}
#u5432 {
  position:absolute;
  left:8px;
  top:7px;
  width:32px;
  height:32px;
}
#u5433 {
  position:absolute;
  left:2px;
  top:8px;
  width:28px;
  visibility:hidden;
  word-wrap:break-word;
}
#u5434_div {
  position:absolute;
  left:0px;
  top:0px;
  width:29px;
  height:16px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u5434 {
  position:absolute;
  left:478px;
  top:17px;
  width:29px;
  height:16px;
}
#u5435 {
  position:absolute;
  left:0px;
  top:0px;
  width:29px;
  white-space:nowrap;
}
#u5434_ann {
  position:absolute;
  left:500px;
  top:13px;
  width:1px;
  height:1px;
}
