body {
  margin:0px;
  background-image:none;
  position:relative;
  left:-12px;
  width:666px;
  margin-left:auto;
  margin-right:auto;
  text-align:left;
}
#base {
  position:absolute;
  z-index:0;
}
#u7942_div {
  position:absolute;
  left:0px;
  top:0px;
  width:666px;
  height:625px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0.498039215686275);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(204, 204, 204, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u7942 {
  position:absolute;
  left:12px;
  top:14px;
  width:666px;
  height:625px;
}
#u7943 {
  position:absolute;
  left:2px;
  top:304px;
  width:662px;
  visibility:hidden;
  word-wrap:break-word;
}
#u7944_div {
  position:absolute;
  left:0px;
  top:0px;
  width:665px;
  height:40px;
  background:inherit;
  background-color:rgba(204, 204, 204, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:12px;
}
#u7944 {
  position:absolute;
  left:13px;
  top:15px;
  width:665px;
  height:40px;
  font-size:12px;
}
#u7945 {
  position:absolute;
  left:2px;
  top:12px;
  width:661px;
  word-wrap:break-word;
}
#u7946_img {
  position:absolute;
  left:0px;
  top:0px;
  width:25px;
  height:25px;
}
#u7946 {
  position:absolute;
  left:643px;
  top:23px;
  width:25px;
  height:25px;
}
#u7947 {
  position:absolute;
  left:2px;
  top:4px;
  width:21px;
  visibility:hidden;
  word-wrap:break-word;
}
#u7946_ann {
  position:absolute;
  left:661px;
  top:19px;
  width:1px;
  height:1px;
}
#u7948 {
  position:absolute;
  left:347px;
  top:105px;
  width:321px;
  height:519px;
  overflow:hidden;
}
#u7948_state0 {
  position:absolute;
  left:0px;
  top:0px;
  width:321px;
  height:519px;
  -ms-overflow-x:hidden;
  overflow-x:hidden;
  -ms-overflow-y:hidden;
  overflow-y:hidden;
  background-image:none;
}
#u7948_state0_content {
  position:absolute;
  left:0px;
  top:0px;
  width:1px;
  height:1px;
}
.u7950 {
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
.u7951_div {
  position:absolute;
  left:0px;
  top:0px;
  width:314px;
  height:122px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(204, 204, 204, 1);
  border-radius:0px;
  -moz-box-shadow:2px 2px 5px rgba(0, 0, 0, 0.349019607843137);
  -webkit-box-shadow:2px 2px 5px rgba(0, 0, 0, 0.349019607843137);
  box-shadow:2px 2px 5px rgba(0, 0, 0, 0.349019607843137);
}
.u7951 {
  position:absolute;
  left:0px;
  top:0px;
  width:314px;
  height:122px;
}
.u7952 {
  position:absolute;
  left:2px;
  top:53px;
  width:310px;
  visibility:hidden;
  word-wrap:break-word;
}
.u7953_div {
  position:absolute;
  left:0px;
  top:0px;
  width:115px;
  height:16px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
.u7953 {
  position:absolute;
  left:39px;
  top:6px;
  width:115px;
  height:16px;
}
.u7954 {
  position:absolute;
  left:0px;
  top:0px;
  width:115px;
  white-space:nowrap;
}
.u7953_ann {
  position:absolute;
  left:147px;
  top:2px;
  width:1px;
  height:1px;
}
.u7955_div {
  position:absolute;
  left:0px;
  top:0px;
  width:109px;
  height:15px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:12px;
  color:#666666;
}
.u7955 {
  position:absolute;
  left:36px;
  top:40px;
  width:109px;
  height:15px;
  font-size:12px;
  color:#666666;
}
.u7956 {
  position:absolute;
  left:0px;
  top:0px;
  width:109px;
  white-space:nowrap;
}
.u7957_div {
  position:absolute;
  left:0px;
  top:0px;
  width:205px;
  height:16px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:12px;
  color:#666666;
}
.u7957 {
  position:absolute;
  left:36px;
  top:63px;
  width:205px;
  height:16px;
  font-size:12px;
  color:#666666;
}
.u7958 {
  position:absolute;
  left:0px;
  top:0px;
  width:205px;
  white-space:nowrap;
}
.u7957_ann {
  position:absolute;
  left:234px;
  top:59px;
  width:1px;
  height:1px;
}
.u7959_img {
  position:absolute;
  left:0px;
  top:0px;
  width:315px;
  height:2px;
}
.u7959 {
  position:absolute;
  left:0px;
  top:29px;
  width:314px;
  height:1px;
}
.u7960 {
  position:absolute;
  left:2px;
  top:-8px;
  width:310px;
  visibility:hidden;
  word-wrap:break-word;
}
.u7961_img {
  position:absolute;
  left:0px;
  top:0px;
  width:16px;
  height:16px;
}
.u7961 {
  position:absolute;
  left:283px;
  top:8px;
  width:16px;
  height:16px;
}
.u7962 {
  position:absolute;
  left:2px;
  top:0px;
  width:12px;
  visibility:hidden;
  word-wrap:break-word;
}
.u7963_img {
  position:absolute;
  left:0px;
  top:0px;
  width:20px;
  height:20px;
}
.u7963 {
  position:absolute;
  left:9px;
  top:6px;
  width:20px;
  height:20px;
}
.u7964 {
  position:absolute;
  left:2px;
  top:2px;
  width:16px;
  visibility:hidden;
  word-wrap:break-word;
}
.u7965_div {
  position:absolute;
  left:0px;
  top:0px;
  width:10px;
  height:10px;
  background:inherit;
  background-color:rgba(0, 204, 102, 1);
  border:none;
  border-radius:8px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
.u7965 {
  position:absolute;
  left:13px;
  top:41px;
  width:10px;
  height:10px;
}
.u7966 {
  position:absolute;
  left:2px;
  top:-3px;
  width:6px;
  visibility:hidden;
  word-wrap:break-word;
}
.u7967_div {
  position:absolute;
  left:0px;
  top:0px;
  width:10px;
  height:10px;
  background:inherit;
  background-color:rgba(255, 153, 102, 1);
  border:none;
  border-radius:8px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
.u7967 {
  position:absolute;
  left:13px;
  top:66px;
  width:10px;
  height:10px;
}
.u7968 {
  position:absolute;
  left:2px;
  top:-3px;
  width:6px;
  visibility:hidden;
  word-wrap:break-word;
}
.u7969_div {
  position:absolute;
  left:0px;
  top:0px;
  width:33px;
  height:16px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:13px;
}
.u7969 {
  position:absolute;
  left:264px;
  top:40px;
  width:33px;
  height:16px;
  font-size:13px;
}
.u7970 {
  position:absolute;
  left:0px;
  top:0px;
  width:33px;
  white-space:nowrap;
}
.u7971_div {
  position:absolute;
  left:0px;
  top:0px;
  width:33px;
  height:16px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:13px;
}
.u7971 {
  position:absolute;
  left:264px;
  top:60px;
  width:33px;
  height:16px;
  font-size:13px;
}
.u7972 {
  position:absolute;
  left:0px;
  top:0px;
  width:33px;
  white-space:nowrap;
}
.u7973_div {
  position:absolute;
  left:0px;
  top:0px;
  width:78px;
  height:15px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:12px;
}
.u7973 {
  position:absolute;
  left:13px;
  top:93px;
  width:78px;
  height:15px;
  font-size:12px;
}
.u7974 {
  position:absolute;
  left:0px;
  top:0px;
  width:78px;
  white-space:nowrap;
}
.u7973_ann {
  position:absolute;
  left:84px;
  top:89px;
  width:1px;
  height:1px;
}
.u7975_div {
  position:absolute;
  left:0px;
  top:0px;
  width:101px;
  height:15px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:12px;
}
.u7975 {
  position:absolute;
  left:197px;
  top:93px;
  width:101px;
  height:15px;
  font-size:12px;
}
.u7976 {
  position:absolute;
  left:0px;
  top:0px;
  width:101px;
  white-space:nowrap;
}
.u7975_ann {
  position:absolute;
  left:291px;
  top:89px;
  width:1px;
  height:1px;
}
#u7949-1 {
  position:absolute;
  left:0px;
  top:0px;
  width:314px;
  height:122px;
}
#u7949-2 {
  position:absolute;
  left:0px;
  top:132px;
  width:314px;
  height:122px;
}
#u7949-3 {
  position:absolute;
  left:0px;
  top:264px;
  width:314px;
  height:122px;
}
#u7949-4 {
  position:absolute;
  left:0px;
  top:396px;
  width:314px;
  height:122px;
}
#u7949 {
  position:absolute;
  left:0px;
  top:0px;
  width:314px;
  height:518px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
}
#u7948_state1 {
  position:absolute;
  left:0px;
  top:0px;
  width:321px;
  height:519px;
  visibility:hidden;
  -ms-overflow-x:hidden;
  overflow-x:hidden;
  -ms-overflow-y:hidden;
  overflow-y:hidden;
  background-image:none;
}
#u7948_state1_content {
  position:absolute;
  left:0px;
  top:0px;
  width:1px;
  height:1px;
}
#u7977_img {
  position:absolute;
  left:0px;
  top:0px;
  width:318px;
  height:436px;
}
#u7977 {
  position:absolute;
  left:0px;
  top:0px;
  width:318px;
  height:436px;
}
#u7978 {
  position:absolute;
  left:2px;
  top:210px;
  width:314px;
  visibility:hidden;
  word-wrap:break-word;
}
#u7979 {
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u7980_div {
  position:absolute;
  left:0px;
  top:0px;
  width:30px;
  height:30px;
  background:inherit;
  background-color:rgba(102, 102, 102, 0.498039215686275);
  border:none;
  border-radius:15px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u7980 {
  position:absolute;
  left:9px;
  top:9px;
  width:30px;
  height:30px;
}
#u7981 {
  position:absolute;
  left:2px;
  top:7px;
  width:26px;
  visibility:hidden;
  word-wrap:break-word;
}
#u7982_img {
  position:absolute;
  left:0px;
  top:0px;
  width:20px;
  height:20px;
}
#u7982 {
  position:absolute;
  left:14px;
  top:14px;
  width:20px;
  height:20px;
}
#u7983 {
  position:absolute;
  left:2px;
  top:2px;
  width:16px;
  visibility:hidden;
  word-wrap:break-word;
}
#u7984_div {
  position:absolute;
  left:0px;
  top:0px;
  width:109px;
  height:15px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:12px;
  color:#666666;
}
#u7984 {
  position:absolute;
  left:32px;
  top:450px;
  width:109px;
  height:15px;
  font-size:12px;
  color:#666666;
}
#u7985 {
  position:absolute;
  left:0px;
  top:0px;
  width:109px;
  white-space:nowrap;
}
#u7986_div {
  position:absolute;
  left:0px;
  top:0px;
  width:205px;
  height:16px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:12px;
  color:#666666;
}
#u7986 {
  position:absolute;
  left:32px;
  top:490px;
  width:205px;
  height:16px;
  font-size:12px;
  color:#666666;
}
#u7987 {
  position:absolute;
  left:0px;
  top:0px;
  width:205px;
  white-space:nowrap;
}
#u7986_ann {
  position:absolute;
  left:230px;
  top:486px;
  width:1px;
  height:1px;
}
#u7988_div {
  position:absolute;
  left:0px;
  top:0px;
  width:10px;
  height:10px;
  background:inherit;
  background-color:rgba(0, 204, 102, 1);
  border:none;
  border-radius:8px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u7988 {
  position:absolute;
  left:9px;
  top:451px;
  width:10px;
  height:10px;
}
#u7989 {
  position:absolute;
  left:2px;
  top:-3px;
  width:6px;
  visibility:hidden;
  word-wrap:break-word;
}
#u7990_div {
  position:absolute;
  left:0px;
  top:0px;
  width:10px;
  height:10px;
  background:inherit;
  background-color:rgba(255, 153, 102, 1);
  border:none;
  border-radius:8px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u7990 {
  position:absolute;
  left:9px;
  top:493px;
  width:10px;
  height:10px;
}
#u7991 {
  position:absolute;
  left:2px;
  top:-3px;
  width:6px;
  visibility:hidden;
  word-wrap:break-word;
}
#u7992_div {
  position:absolute;
  left:0px;
  top:0px;
  width:320px;
  height:5px;
  background:inherit;
  background-color:rgba(215, 215, 215, 0.827450980392157);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u7992 {
  position:absolute;
  left:0px;
  top:475px;
  width:320px;
  height:5px;
}
#u7993 {
  position:absolute;
  left:2px;
  top:-6px;
  width:316px;
  visibility:hidden;
  word-wrap:break-word;
}
#u7994_div {
  position:absolute;
  left:0px;
  top:0px;
  width:75px;
  height:71px;
  background:inherit;
  background-color:rgba(102, 102, 102, 0.498039215686275);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  color:#FFFFFF;
}
#u7994 {
  position:absolute;
  left:46px;
  top:365px;
  width:75px;
  height:71px;
  color:#FFFFFF;
}
#u7995 {
  position:absolute;
  left:2px;
  top:20px;
  width:71px;
  word-wrap:break-word;
}
#u7996_div {
  position:absolute;
  left:0px;
  top:0px;
  width:75px;
  height:71px;
  background:inherit;
  background-color:rgba(102, 102, 102, 0.498039215686275);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  color:#FFFFFF;
}
#u7996 {
  position:absolute;
  left:123px;
  top:365px;
  width:75px;
  height:71px;
  color:#FFFFFF;
}
#u7997 {
  position:absolute;
  left:2px;
  top:20px;
  width:71px;
  word-wrap:break-word;
}
#u7998_div {
  position:absolute;
  left:0px;
  top:0px;
  width:75px;
  height:71px;
  background:inherit;
  background-color:rgba(102, 102, 102, 0.498039215686275);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  color:#FFFFFF;
}
#u7998 {
  position:absolute;
  left:200px;
  top:365px;
  width:75px;
  height:71px;
  color:#FFFFFF;
}
#u7999 {
  position:absolute;
  left:2px;
  top:20px;
  width:71px;
  word-wrap:break-word;
}
#u8000_img {
  position:absolute;
  left:-1px;
  top:-1px;
  width:88px;
  height:43px;
}
#u8000 {
  position:absolute;
  left:128px;
  top:55px;
  width:85px;
  height:40px;
  font-family:'微软雅黑';
  font-weight:400;
  font-style:normal;
  font-size:14px;
}
#u8000_img.selected {
}
#u8000.selected {
}
#u8001 {
  position:absolute;
  left:2px;
  top:10px;
  width:81px;
  word-wrap:break-word;
}
#u8002_img {
  position:absolute;
  left:-1px;
  top:-1px;
  width:88px;
  height:43px;
}
#u8002 {
  position:absolute;
  left:43px;
  top:55px;
  width:85px;
  height:40px;
  font-family:'微软雅黑';
  font-weight:400;
  font-style:normal;
  font-size:14px;
}
#u8002_img.selected {
}
#u8002.selected {
}
#u8003 {
  position:absolute;
  left:2px;
  top:10px;
  width:81px;
  word-wrap:break-word;
}
#u8004_img {
  position:absolute;
  left:-1px;
  top:-1px;
  width:88px;
  height:43px;
}
#u8004 {
  position:absolute;
  left:213px;
  top:55px;
  width:85px;
  height:40px;
  font-family:'微软雅黑';
  font-weight:400;
  font-style:normal;
  font-size:14px;
}
#u8004_img.selected {
}
#u8004.selected {
}
#u8005 {
  position:absolute;
  left:2px;
  top:10px;
  width:81px;
  word-wrap:break-word;
}
#u8006_img {
  position:absolute;
  left:0px;
  top:0px;
  width:20px;
  height:20px;
}
#u8006 {
  position:absolute;
  left:53px;
  top:66px;
  width:20px;
  height:20px;
}
#u8007 {
  position:absolute;
  left:2px;
  top:2px;
  width:16px;
  visibility:hidden;
  word-wrap:break-word;
}
#u8008_img {
  position:absolute;
  left:0px;
  top:0px;
  width:20px;
  height:20px;
}
#u8008 {
  position:absolute;
  left:138px;
  top:65px;
  width:20px;
  height:20px;
}
#u8009 {
  position:absolute;
  left:2px;
  top:2px;
  width:16px;
  visibility:hidden;
  word-wrap:break-word;
}
#u8010_img {
  position:absolute;
  left:0px;
  top:0px;
  width:20px;
  height:20px;
}
#u8010 {
  position:absolute;
  left:223px;
  top:65px;
  width:20px;
  height:20px;
}
#u8011 {
  position:absolute;
  left:2px;
  top:2px;
  width:16px;
  visibility:hidden;
  word-wrap:break-word;
}
#u8012_img {
  position:absolute;
  left:0px;
  top:0px;
  width:2px;
  height:579px;
}
#u8012 {
  position:absolute;
  left:330px;
  top:55px;
  width:1px;
  height:578px;
}
#u8013 {
  position:absolute;
  left:2px;
  top:281px;
  width:1px;
  visibility:hidden;
  word-wrap:break-word;
}
#u8014 {
  position:absolute;
  left:28px;
  top:105px;
  width:295px;
  height:519px;
  overflow:hidden;
}
#u8014_state0 {
  position:absolute;
  left:0px;
  top:0px;
  width:295px;
  height:519px;
  overflow:auto;
  -webkit-overflow-scrolling:touch;
  -ms-overflow-x:hidden;
  overflow-x:hidden;
  background-image:none;
}
#u8014_state0_content {
  position:absolute;
  left:0px;
  top:0px;
  width:1px;
  height:1px;
}
#u8015_img {
  position:absolute;
  left:0px;
  top:0px;
  width:290px;
  height:516px;
}
#u8015 {
  position:absolute;
  left:0px;
  top:0px;
  width:290px;
  height:516px;
}
#u8016 {
  position:absolute;
  left:2px;
  top:250px;
  width:286px;
  visibility:hidden;
  word-wrap:break-word;
}
#u8014_state1 {
  position:absolute;
  left:0px;
  top:0px;
  width:295px;
  height:519px;
  visibility:hidden;
  overflow:auto;
  -webkit-overflow-scrolling:touch;
  -ms-overflow-x:hidden;
  overflow-x:hidden;
  background-image:none;
}
#u8014_state1_content {
  position:absolute;
  left:0px;
  top:0px;
  width:1px;
  height:1px;
}
#u8017_div {
  position:absolute;
  left:0px;
  top:0px;
  width:57px;
  height:16px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  color:#199ED8;
}
#u8017 {
  position:absolute;
  left:15px;
  top:19px;
  width:57px;
  height:16px;
  color:#199ED8;
}
#u8018 {
  position:absolute;
  left:0px;
  top:0px;
  width:57px;
  white-space:nowrap;
}
#u8019 {
  position:absolute;
  left:15px;
  top:45px;
  width:275px;
  height:125px;
}
#u8020_img {
  position:absolute;
  left:0px;
  top:0px;
  width:90px;
  height:30px;
}
#u8020 {
  position:absolute;
  left:0px;
  top:0px;
  width:90px;
  height:30px;
  text-align:left;
}
#u8021 {
  position:absolute;
  left:2px;
  top:7px;
  width:86px;
  word-wrap:break-word;
}
#u8022_img {
  position:absolute;
  left:0px;
  top:0px;
  width:90px;
  height:30px;
}
#u8022 {
  position:absolute;
  left:90px;
  top:0px;
  width:90px;
  height:30px;
}
#u8023 {
  position:absolute;
  left:2px;
  top:7px;
  width:86px;
  word-wrap:break-word;
}
#u8024_img {
  position:absolute;
  left:0px;
  top:0px;
  width:90px;
  height:30px;
}
#u8024 {
  position:absolute;
  left:180px;
  top:0px;
  width:90px;
  height:30px;
}
#u8025 {
  position:absolute;
  left:2px;
  top:7px;
  width:86px;
  word-wrap:break-word;
}
#u8026_img {
  position:absolute;
  left:0px;
  top:0px;
  width:90px;
  height:30px;
}
#u8026 {
  position:absolute;
  left:0px;
  top:30px;
  width:90px;
  height:30px;
  text-align:left;
}
#u8027 {
  position:absolute;
  left:2px;
  top:7px;
  width:86px;
  word-wrap:break-word;
}
#u8028_img {
  position:absolute;
  left:0px;
  top:0px;
  width:90px;
  height:30px;
}
#u8028 {
  position:absolute;
  left:90px;
  top:30px;
  width:90px;
  height:30px;
}
#u8029 {
  position:absolute;
  left:2px;
  top:7px;
  width:86px;
  word-wrap:break-word;
}
#u8030_img {
  position:absolute;
  left:0px;
  top:0px;
  width:90px;
  height:30px;
}
#u8030 {
  position:absolute;
  left:180px;
  top:30px;
  width:90px;
  height:30px;
}
#u8031 {
  position:absolute;
  left:2px;
  top:7px;
  width:86px;
  word-wrap:break-word;
}
#u8032_img {
  position:absolute;
  left:0px;
  top:0px;
  width:90px;
  height:30px;
}
#u8032 {
  position:absolute;
  left:0px;
  top:60px;
  width:90px;
  height:30px;
  text-align:left;
}
#u8033 {
  position:absolute;
  left:2px;
  top:7px;
  width:86px;
  word-wrap:break-word;
}
#u8034_img {
  position:absolute;
  left:0px;
  top:0px;
  width:90px;
  height:30px;
}
#u8034 {
  position:absolute;
  left:90px;
  top:60px;
  width:90px;
  height:30px;
}
#u8035 {
  position:absolute;
  left:2px;
  top:7px;
  width:86px;
  word-wrap:break-word;
}
#u8036_img {
  position:absolute;
  left:0px;
  top:0px;
  width:90px;
  height:30px;
}
#u8036 {
  position:absolute;
  left:180px;
  top:60px;
  width:90px;
  height:30px;
}
#u8037 {
  position:absolute;
  left:2px;
  top:7px;
  width:86px;
  word-wrap:break-word;
}
#u8038_img {
  position:absolute;
  left:0px;
  top:0px;
  width:90px;
  height:30px;
}
#u8038 {
  position:absolute;
  left:0px;
  top:90px;
  width:90px;
  height:30px;
  text-align:left;
}
#u8039 {
  position:absolute;
  left:2px;
  top:7px;
  width:86px;
  word-wrap:break-word;
}
#u8040_img {
  position:absolute;
  left:0px;
  top:0px;
  width:90px;
  height:30px;
}
#u8040 {
  position:absolute;
  left:90px;
  top:90px;
  width:90px;
  height:30px;
}
#u8041 {
  position:absolute;
  left:2px;
  top:7px;
  width:86px;
  word-wrap:break-word;
}
#u8042_img {
  position:absolute;
  left:0px;
  top:0px;
  width:90px;
  height:30px;
}
#u8042 {
  position:absolute;
  left:180px;
  top:90px;
  width:90px;
  height:30px;
}
#u8043 {
  position:absolute;
  left:2px;
  top:7px;
  width:86px;
  word-wrap:break-word;
}
#u8044_div {
  position:absolute;
  left:0px;
  top:0px;
  width:43px;
  height:16px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  color:#199ED8;
}
#u8044 {
  position:absolute;
  left:225px;
  top:173px;
  width:43px;
  height:16px;
  color:#199ED8;
}
#u8045 {
  position:absolute;
  left:0px;
  top:0px;
  width:43px;
  white-space:nowrap;
}
#u8044_ann {
  position:absolute;
  left:261px;
  top:169px;
  width:1px;
  height:1px;
}
#u8046_img {
  position:absolute;
  left:0px;
  top:0px;
  width:286px;
  height:2px;
}
#u8046 {
  position:absolute;
  left:0px;
  top:205px;
  width:285px;
  height:1px;
}
#u8047 {
  position:absolute;
  left:2px;
  top:-8px;
  width:281px;
  visibility:hidden;
  word-wrap:break-word;
}
#u8048_div {
  position:absolute;
  left:0px;
  top:0px;
  width:115px;
  height:16px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  color:#199ED8;
}
#u8048 {
  position:absolute;
  left:15px;
  top:221px;
  width:115px;
  height:16px;
  color:#199ED8;
}
#u8049 {
  position:absolute;
  left:0px;
  top:0px;
  width:115px;
  white-space:nowrap;
}
#u8050 {
  position:absolute;
  left:15px;
  top:254px;
  width:261px;
  height:95px;
}
#u8051_img {
  position:absolute;
  left:0px;
  top:0px;
  width:170px;
  height:30px;
}
#u8051 {
  position:absolute;
  left:0px;
  top:0px;
  width:170px;
  height:30px;
  text-align:left;
}
#u8052 {
  position:absolute;
  left:2px;
  top:7px;
  width:166px;
  word-wrap:break-word;
}
#u8053_img {
  position:absolute;
  left:0px;
  top:0px;
  width:86px;
  height:30px;
}
#u8053 {
  position:absolute;
  left:170px;
  top:0px;
  width:86px;
  height:30px;
}
#u8054 {
  position:absolute;
  left:2px;
  top:7px;
  width:82px;
  word-wrap:break-word;
}
#u8055_img {
  position:absolute;
  left:0px;
  top:0px;
  width:170px;
  height:30px;
}
#u8055 {
  position:absolute;
  left:0px;
  top:30px;
  width:170px;
  height:30px;
  text-align:left;
}
#u8056 {
  position:absolute;
  left:2px;
  top:7px;
  width:166px;
  word-wrap:break-word;
}
#u8057_img {
  position:absolute;
  left:0px;
  top:0px;
  width:86px;
  height:30px;
}
#u8057 {
  position:absolute;
  left:170px;
  top:30px;
  width:86px;
  height:30px;
}
#u8058 {
  position:absolute;
  left:2px;
  top:7px;
  width:82px;
  word-wrap:break-word;
}
#u8059_img {
  position:absolute;
  left:0px;
  top:0px;
  width:170px;
  height:30px;
}
#u8059 {
  position:absolute;
  left:0px;
  top:60px;
  width:170px;
  height:30px;
  text-align:left;
}
#u8060 {
  position:absolute;
  left:2px;
  top:7px;
  width:166px;
  word-wrap:break-word;
}
#u8061_img {
  position:absolute;
  left:0px;
  top:0px;
  width:86px;
  height:30px;
}
#u8061 {
  position:absolute;
  left:170px;
  top:60px;
  width:86px;
  height:30px;
}
#u8062 {
  position:absolute;
  left:2px;
  top:7px;
  width:82px;
  word-wrap:break-word;
}
#u8063_div {
  position:absolute;
  left:0px;
  top:0px;
  width:43px;
  height:16px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  color:#199ED8;
}
#u8063 {
  position:absolute;
  left:223px;
  top:353px;
  width:43px;
  height:16px;
  color:#199ED8;
}
#u8064 {
  position:absolute;
  left:0px;
  top:0px;
  width:43px;
  white-space:nowrap;
}
#u8063_ann {
  position:absolute;
  left:259px;
  top:349px;
  width:1px;
  height:1px;
}
#u8065_img {
  position:absolute;
  left:0px;
  top:0px;
  width:286px;
  height:2px;
}
#u8065 {
  position:absolute;
  left:0px;
  top:383px;
  width:285px;
  height:1px;
}
#u8066 {
  position:absolute;
  left:2px;
  top:-8px;
  width:281px;
  visibility:hidden;
  word-wrap:break-word;
}
#u8067_div {
  position:absolute;
  left:0px;
  top:0px;
  width:29px;
  height:16px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  color:#199ED8;
}
#u8067 {
  position:absolute;
  left:15px;
  top:399px;
  width:29px;
  height:16px;
  color:#199ED8;
}
#u8068 {
  position:absolute;
  left:0px;
  top:0px;
  width:29px;
  white-space:nowrap;
}
#u8069 {
  position:absolute;
  left:15px;
  top:432px;
  width:261px;
  height:95px;
}
#u8070_img {
  position:absolute;
  left:0px;
  top:0px;
  width:170px;
  height:30px;
}
#u8070 {
  position:absolute;
  left:0px;
  top:0px;
  width:170px;
  height:30px;
  text-align:left;
}
#u8071 {
  position:absolute;
  left:2px;
  top:7px;
  width:166px;
  word-wrap:break-word;
}
#u8072_img {
  position:absolute;
  left:0px;
  top:0px;
  width:86px;
  height:30px;
}
#u8072 {
  position:absolute;
  left:170px;
  top:0px;
  width:86px;
  height:30px;
}
#u8073 {
  position:absolute;
  left:2px;
  top:7px;
  width:82px;
  word-wrap:break-word;
}
#u8074_img {
  position:absolute;
  left:0px;
  top:0px;
  width:170px;
  height:30px;
}
#u8074 {
  position:absolute;
  left:0px;
  top:30px;
  width:170px;
  height:30px;
  text-align:left;
}
#u8075 {
  position:absolute;
  left:2px;
  top:7px;
  width:166px;
  word-wrap:break-word;
}
#u8076_img {
  position:absolute;
  left:0px;
  top:0px;
  width:86px;
  height:30px;
}
#u8076 {
  position:absolute;
  left:170px;
  top:30px;
  width:86px;
  height:30px;
}
#u8077 {
  position:absolute;
  left:2px;
  top:7px;
  width:82px;
  word-wrap:break-word;
}
#u8078_img {
  position:absolute;
  left:0px;
  top:0px;
  width:170px;
  height:30px;
}
#u8078 {
  position:absolute;
  left:0px;
  top:60px;
  width:170px;
  height:30px;
  text-align:left;
}
#u8079 {
  position:absolute;
  left:2px;
  top:7px;
  width:166px;
  word-wrap:break-word;
}
#u8080_img {
  position:absolute;
  left:0px;
  top:0px;
  width:86px;
  height:30px;
}
#u8080 {
  position:absolute;
  left:170px;
  top:60px;
  width:86px;
  height:30px;
}
#u8081 {
  position:absolute;
  left:2px;
  top:7px;
  width:82px;
  word-wrap:break-word;
}
#u8082_div {
  position:absolute;
  left:0px;
  top:0px;
  width:43px;
  height:16px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  color:#199ED8;
}
#u8082 {
  position:absolute;
  left:225px;
  top:532px;
  width:43px;
  height:16px;
  color:#199ED8;
}
#u8083 {
  position:absolute;
  left:0px;
  top:0px;
  width:43px;
  white-space:nowrap;
}
#u8084_img {
  position:absolute;
  left:0px;
  top:0px;
  width:20px;
  height:20px;
}
#u8084 {
  position:absolute;
  left:241px;
  top:17px;
  width:20px;
  height:20px;
}
#u8085 {
  position:absolute;
  left:2px;
  top:2px;
  width:16px;
  visibility:hidden;
  word-wrap:break-word;
}
#u8084_ann {
  position:absolute;
  left:254px;
  top:13px;
  width:1px;
  height:1px;
}
#u8014_state2 {
  position:absolute;
  left:0px;
  top:0px;
  width:295px;
  height:519px;
  visibility:hidden;
  overflow:auto;
  -webkit-overflow-scrolling:touch;
  -ms-overflow-x:hidden;
  overflow-x:hidden;
  background-image:none;
}
#u8014_state2_content {
  position:absolute;
  left:0px;
  top:0px;
  width:1px;
  height:1px;
}
#u8086_div {
  position:absolute;
  left:0px;
  top:0px;
  width:43px;
  height:16px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u8086 {
  position:absolute;
  left:15px;
  top:14px;
  width:43px;
  height:16px;
}
#u8087 {
  position:absolute;
  left:0px;
  top:0px;
  width:43px;
  white-space:nowrap;
}
#u8088_img {
  position:absolute;
  left:0px;
  top:0px;
  width:292px;
  height:2px;
}
#u8088 {
  position:absolute;
  left:0px;
  top:46px;
  width:291px;
  height:1px;
}
#u8089 {
  position:absolute;
  left:2px;
  top:-8px;
  width:287px;
  visibility:hidden;
  word-wrap:break-word;
}
#u8090_div {
  position:absolute;
  left:0px;
  top:0px;
  width:15px;
  height:16px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u8090 {
  position:absolute;
  left:186px;
  top:16px;
  width:15px;
  height:16px;
}
#u8090_div.selected {
  position:absolute;
  left:0px;
  top:0px;
  width:15px;
  height:16px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u8090.selected {
}
#u8091 {
  position:absolute;
  left:0px;
  top:0px;
  width:15px;
  white-space:nowrap;
}
#u8092_div {
  position:absolute;
  left:0px;
  top:0px;
  width:15px;
  height:16px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u8092 {
  position:absolute;
  left:222px;
  top:16px;
  width:15px;
  height:16px;
}
#u8092_div.selected {
  position:absolute;
  left:0px;
  top:0px;
  width:15px;
  height:16px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u8092.selected {
}
#u8093 {
  position:absolute;
  left:0px;
  top:0px;
  width:15px;
  white-space:nowrap;
}
#u8094_div {
  position:absolute;
  left:0px;
  top:0px;
  width:15px;
  height:16px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u8094 {
  position:absolute;
  left:258px;
  top:16px;
  width:15px;
  height:16px;
}
#u8094_div.selected {
  position:absolute;
  left:0px;
  top:0px;
  width:15px;
  height:16px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u8094.selected {
}
#u8095 {
  position:absolute;
  left:0px;
  top:0px;
  width:15px;
  white-space:nowrap;
}
#u8096 {
  position:absolute;
  left:1px;
  top:57px;
  width:291px;
  height:460px;
  overflow:hidden;
}
#u8096_state0 {
  position:absolute;
  left:0px;
  top:0px;
  width:291px;
  height:460px;
  -ms-overflow-x:hidden;
  overflow-x:hidden;
  -ms-overflow-y:hidden;
  overflow-y:hidden;
  background-image:none;
}
#u8096_state0_content {
  position:absolute;
  left:0px;
  top:0px;
  width:1px;
  height:1px;
}
#u8097_img {
  position:absolute;
  left:0px;
  top:0px;
  width:291px;
  height:312px;
}
#u8097 {
  position:absolute;
  left:0px;
  top:0px;
  width:291px;
  height:312px;
}
#u8098 {
  position:absolute;
  left:2px;
  top:148px;
  width:287px;
  visibility:hidden;
  word-wrap:break-word;
}
#u8096_state1 {
  position:absolute;
  left:0px;
  top:0px;
  width:291px;
  height:460px;
  visibility:hidden;
  -ms-overflow-x:hidden;
  overflow-x:hidden;
  -ms-overflow-y:hidden;
  overflow-y:hidden;
  background-image:none;
}
#u8096_state1_content {
  position:absolute;
  left:0px;
  top:0px;
  width:1px;
  height:1px;
}
#u8099_img {
  position:absolute;
  left:0px;
  top:0px;
  width:290px;
  height:339px;
}
#u8099 {
  position:absolute;
  left:-1px;
  top:0px;
  width:290px;
  height:339px;
}
#u8100 {
  position:absolute;
  left:2px;
  top:162px;
  width:286px;
  visibility:hidden;
  word-wrap:break-word;
}
#u8096_state2 {
  position:absolute;
  left:0px;
  top:0px;
  width:291px;
  height:460px;
  visibility:hidden;
  -ms-overflow-x:hidden;
  overflow-x:hidden;
  -ms-overflow-y:hidden;
  overflow-y:hidden;
  background-image:none;
}
#u8096_state2_content {
  position:absolute;
  left:0px;
  top:0px;
  width:1px;
  height:1px;
}
#u8101_img {
  position:absolute;
  left:0px;
  top:0px;
  width:291px;
  height:191px;
}
#u8101 {
  position:absolute;
  left:0px;
  top:0px;
  width:291px;
  height:191px;
}
#u8102 {
  position:absolute;
  left:2px;
  top:88px;
  width:287px;
  visibility:hidden;
  word-wrap:break-word;
}
#u8103_div {
  position:absolute;
  left:0px;
  top:0px;
  width:57px;
  height:16px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u8103 {
  position:absolute;
  left:488px;
  top:67px;
  width:57px;
  height:16px;
}
#u8104 {
  position:absolute;
  left:0px;
  top:0px;
  width:57px;
  white-space:nowrap;
}
#u8103_ann {
  position:absolute;
  left:538px;
  top:63px;
  width:1px;
  height:1px;
}
