body {
  margin:0px;
  background-image:none;
  position:relative;
  left:-12px;
  width:677px;
  margin-left:auto;
  margin-right:auto;
  text-align:left;
}
#base {
  position:absolute;
  z-index:0;
}
#u5641_div {
  position:absolute;
  left:0px;
  top:0px;
  width:677px;
  height:494px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(204, 204, 204, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u5641 {
  position:absolute;
  left:12px;
  top:54px;
  width:677px;
  height:494px;
}
#u5642 {
  position:absolute;
  left:2px;
  top:239px;
  width:673px;
  visibility:hidden;
  word-wrap:break-word;
}
#u5643_img {
  position:absolute;
  left:0px;
  top:0px;
  width:70px;
  height:70px;
}
#u5643 {
  position:absolute;
  left:81px;
  top:404px;
  width:70px;
  height:70px;
}
#u5644 {
  position:absolute;
  left:2px;
  top:27px;
  width:66px;
  visibility:hidden;
  word-wrap:break-word;
}
#u5643_ann {
  position:absolute;
  left:144px;
  top:400px;
  width:1px;
  height:1px;
}
#u5645_img {
  position:absolute;
  left:0px;
  top:0px;
  width:94px;
  height:31px;
}
#u5645 {
  position:absolute;
  left:573px;
  top:499px;
  width:94px;
  height:31px;
  font-family:'微软雅黑';
  font-weight:400;
  font-style:normal;
  font-size:14px;
  color:#FFFFFF;
}
#u5645_img.mouseOver {
}
#u5645.mouseOver {
}
#u5646 {
  position:absolute;
  left:2px;
  top:6px;
  width:90px;
  word-wrap:break-word;
}
#u5645_ann {
  position:absolute;
  left:660px;
  top:495px;
  width:1px;
  height:1px;
}
.u5648_img {
  position:absolute;
  left:0px;
  top:0px;
  width:80px;
  height:80px;
}
.u5648 {
  position:absolute;
  left:0px;
  top:0px;
  width:80px;
  height:80px;
}
.u5649 {
  position:absolute;
  left:2px;
  top:32px;
  width:76px;
  visibility:hidden;
  word-wrap:break-word;
}
.u5650_img {
  position:absolute;
  left:0px;
  top:0px;
  width:70px;
  height:70px;
}
.u5650 {
  position:absolute;
  left:5px;
  top:5px;
  width:70px;
  height:70px;
}
.u5651 {
  position:absolute;
  left:2px;
  top:27px;
  width:66px;
  visibility:hidden;
  word-wrap:break-word;
}
.u5652 {
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
.u5653_div {
  position:absolute;
  left:0px;
  top:0px;
  width:70px;
  height:22px;
  background:inherit;
  background-color:rgba(51, 51, 51, 0.427450980392157);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
.u5653 {
  position:absolute;
  left:5px;
  top:53px;
  width:70px;
  height:22px;
}
.u5654 {
  position:absolute;
  left:2px;
  top:3px;
  width:66px;
  visibility:hidden;
  word-wrap:break-word;
}
.u5655_img {
  position:absolute;
  left:0px;
  top:0px;
  width:20px;
  height:20px;
}
.u5655 {
  position:absolute;
  left:51px;
  top:54px;
  width:20px;
  height:20px;
}
.u5656 {
  position:absolute;
  left:2px;
  top:2px;
  width:16px;
  visibility:hidden;
  word-wrap:break-word;
}
#u5647-1 {
  position:absolute;
  left:0px;
  top:0px;
  width:80px;
  height:80px;
}
#u5647-2 {
  position:absolute;
  left:80px;
  top:0px;
  width:80px;
  height:80px;
}
#u5647-3 {
  position:absolute;
  left:160px;
  top:0px;
  width:80px;
  height:80px;
}
#u5647-4 {
  position:absolute;
  left:240px;
  top:0px;
  width:80px;
  height:80px;
}
#u5647-5 {
  position:absolute;
  left:320px;
  top:0px;
  width:80px;
  height:80px;
}
#u5647-6 {
  position:absolute;
  left:400px;
  top:0px;
  width:80px;
  height:80px;
}
#u5647 {
  position:absolute;
  left:162px;
  top:398px;
  width:480px;
  height:80px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
}
#u5657_div {
  position:absolute;
  left:0px;
  top:0px;
  width:676px;
  height:40px;
  background:inherit;
  background-color:rgba(204, 204, 204, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u5657 {
  position:absolute;
  left:12px;
  top:14px;
  width:676px;
  height:40px;
}
#u5658 {
  position:absolute;
  left:2px;
  top:12px;
  width:672px;
  word-wrap:break-word;
}
#u5659_img {
  position:absolute;
  left:0px;
  top:0px;
  width:25px;
  height:25px;
}
#u5659 {
  position:absolute;
  left:661px;
  top:16px;
  width:25px;
  height:25px;
}
#u5660 {
  position:absolute;
  left:2px;
  top:4px;
  width:21px;
  visibility:hidden;
  word-wrap:break-word;
}
#u5659_ann {
  position:absolute;
  left:679px;
  top:12px;
  width:1px;
  height:1px;
}
#u5661 {
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u5662 {
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u5663_div {
  position:absolute;
  left:0px;
  top:0px;
  width:586px;
  height:193px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(204, 204, 204, 1);
  border-radius:2px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u5663 {
  position:absolute;
  left:81px;
  top:130px;
  width:586px;
  height:193px;
}
#u5664 {
  position:absolute;
  left:2px;
  top:88px;
  width:582px;
  visibility:hidden;
  word-wrap:break-word;
}
#u5665 {
  position:absolute;
  left:89px;
  top:137px;
  width:571px;
  height:179px;
}
#u5665_input {
  position:absolute;
  left:0px;
  top:0px;
  width:571px;
  height:179px;
  font-family:'Arial Normal', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:13px;
  text-decoration:none;
  color:#000000;
  text-align:left;
  border-color:transparent;
  outline-style:none;
}
#u5665_ann {
  position:absolute;
  left:653px;
  top:133px;
  width:1px;
  height:1px;
}
#u5666_div {
  position:absolute;
  left:0px;
  top:0px;
  width:43px;
  height:16px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u5666 {
  position:absolute;
  left:29px;
  top:130px;
  width:43px;
  height:16px;
}
#u5667 {
  position:absolute;
  left:0px;
  top:0px;
  width:43px;
  white-space:nowrap;
}
#u5668 {
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u5669 {
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u5670_div {
  position:absolute;
  left:0px;
  top:0px;
  width:468px;
  height:33px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(204, 204, 204, 1);
  border-radius:2px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u5670 {
  position:absolute;
  left:81px;
  top:80px;
  width:468px;
  height:33px;
}
#u5671 {
  position:absolute;
  left:2px;
  top:8px;
  width:464px;
  visibility:hidden;
  word-wrap:break-word;
}
#u5672 {
  position:absolute;
  left:95px;
  top:84px;
  width:448px;
  height:25px;
}
#u5672_input {
  position:absolute;
  left:0px;
  top:0px;
  width:448px;
  height:25px;
  font-family:'Arial Normal', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:13px;
  text-decoration:none;
  color:#000000;
  text-align:left;
  border-color:transparent;
  outline-style:none;
}
#u5672_ann {
  position:absolute;
  left:536px;
  top:80px;
  width:1px;
  height:1px;
}
#u5673_div {
  position:absolute;
  left:0px;
  top:0px;
  width:43px;
  height:16px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u5673 {
  position:absolute;
  left:30px;
  top:86px;
  width:43px;
  height:16px;
}
#u5674 {
  position:absolute;
  left:0px;
  top:0px;
  width:43px;
  white-space:nowrap;
}
#u5675 {
  position:absolute;
  left:580px;
  top:89px;
  width:80px;
  height:16px;
}
#u5676 {
  position:absolute;
  left:2px;
  top:0px;
  width:62px;
  word-wrap:break-word;
}
#u5675_input {
  position:absolute;
  left:63px;
  top:-2px;
}
#u5677_div {
  position:absolute;
  left:0px;
  top:0px;
  width:43px;
  height:16px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u5677 {
  position:absolute;
  left:29px;
  top:429px;
  width:43px;
  height:16px;
}
#u5678 {
  position:absolute;
  left:0px;
  top:0px;
  width:43px;
  white-space:nowrap;
}
#u5679_div {
  position:absolute;
  left:0px;
  top:0px;
  width:43px;
  height:16px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u5679 {
  position:absolute;
  left:29px;
  top:352px;
  width:43px;
  height:16px;
}
#u5680 {
  position:absolute;
  left:0px;
  top:0px;
  width:43px;
  white-space:nowrap;
}
#u5681_div {
  position:absolute;
  left:0px;
  top:0px;
  width:118px;
  height:33px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(204, 204, 204, 1);
  border-radius:2px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u5681 {
  position:absolute;
  left:82px;
  top:344px;
  width:118px;
  height:33px;
}
#u5682 {
  position:absolute;
  left:2px;
  top:8px;
  width:114px;
  word-wrap:break-word;
}
#u5681_ann {
  position:absolute;
  left:193px;
  top:340px;
  width:1px;
  height:1px;
}
#u5683_div {
  position:absolute;
  left:0px;
  top:0px;
  width:167px;
  height:16px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u5683 {
  position:absolute;
  left:222px;
  top:353px;
  width:167px;
  height:16px;
}
#u5684 {
  position:absolute;
  left:0px;
  top:0px;
  width:167px;
  word-wrap:break-word;
}
