body {
  margin:0px;
  background-image:none;
  position:relative;
  left:-0px;
  width:518px;
  margin-left:auto;
  margin-right:auto;
  text-align:left;
}
#base {
  position:absolute;
  z-index:0;
}
#u2663_div {
  position:absolute;
  left:0px;
  top:0px;
  width:518px;
  height:37px;
  background:inherit;
  background-color:rgba(204, 204, 204, 0.498039215686275);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(204, 204, 204, 1);
  border-left:0px;
  border-top:0px;
  border-right:0px;
  border-radius:0px;
  border-top-left-radius:0px;
  border-top-right-radius:0px;
  border-bottom-right-radius:0px;
  border-bottom-left-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:15px;
  text-align:left;
}
#u2663 {
  position:absolute;
  left:0px;
  top:154px;
  width:518px;
  height:37px;
  font-size:15px;
  text-align:left;
}
#u2664 {
  position:absolute;
  left:2px;
  top:10px;
  width:514px;
  word-wrap:break-word;
}
.u2666 {
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
.u2667_div {
  position:absolute;
  left:0px;
  top:0px;
  width:518px;
  height:102px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(204, 204, 204, 1);
  border-left:0px;
  border-top:0px;
  border-right:0px;
  border-radius:0px;
  border-top-left-radius:0px;
  border-top-right-radius:0px;
  border-bottom-right-radius:0px;
  border-bottom-left-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
.u2667 {
  position:absolute;
  left:0px;
  top:0px;
  width:518px;
  height:102px;
}
.u2668 {
  position:absolute;
  left:2px;
  top:43px;
  width:514px;
  visibility:hidden;
  word-wrap:break-word;
}
.u2669_img {
  position:absolute;
  left:0px;
  top:0px;
  width:30px;
  height:30px;
}
.u2669 {
  position:absolute;
  left:22px;
  top:15px;
  width:30px;
  height:30px;
}
.u2670 {
  position:absolute;
  left:2px;
  top:7px;
  width:26px;
  visibility:hidden;
  word-wrap:break-word;
}
.u2669_ann {
  position:absolute;
  left:45px;
  top:11px;
  width:1px;
  height:1px;
}
.u2671_div {
  position:absolute;
  left:0px;
  top:0px;
  width:280px;
  height:26px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:14px;
}
.u2671 {
  position:absolute;
  left:62px;
  top:17px;
  width:280px;
  height:26px;
  font-size:14px;
}
.u2672 {
  position:absolute;
  left:0px;
  top:5px;
  width:280px;
  word-wrap:break-word;
}
.u2673_div {
  position:absolute;
  left:0px;
  top:0px;
  width:101px;
  height:24px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:12px;
}
.u2673 {
  position:absolute;
  left:128px;
  top:43px;
  width:101px;
  height:24px;
  font-size:12px;
}
.u2674 {
  position:absolute;
  left:0px;
  top:4px;
  width:101px;
  word-wrap:break-word;
}
.u2673_ann {
  position:absolute;
  left:222px;
  top:39px;
  width:1px;
  height:1px;
}
.u2675_div {
  position:absolute;
  left:0px;
  top:0px;
  width:37px;
  height:15px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:12px;
  color:#999999;
  text-align:right;
}
.u2675 {
  position:absolute;
  left:457px;
  top:20px;
  width:37px;
  height:15px;
  font-size:12px;
  color:#999999;
  text-align:right;
}
.u2676 {
  position:absolute;
  left:0px;
  top:0px;
  width:37px;
  white-space:nowrap;
}
.u2675_ann {
  position:absolute;
  left:487px;
  top:16px;
  width:1px;
  height:1px;
}
.u2677_div {
  position:absolute;
  left:0px;
  top:0px;
  width:101px;
  height:24px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
.u2677 {
  position:absolute;
  left:128px;
  top:72px;
  width:101px;
  height:24px;
}
.u2678 {
  position:absolute;
  left:0px;
  top:0px;
  width:101px;
  word-wrap:break-word;
}
.u2679_div {
  position:absolute;
  left:0px;
  top:0px;
  width:66px;
  height:16px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:13px;
}
.u2679 {
  position:absolute;
  left:62px;
  top:46px;
  width:66px;
  height:16px;
  font-size:13px;
}
.u2680 {
  position:absolute;
  left:0px;
  top:0px;
  width:66px;
  white-space:nowrap;
}
.u2681_div {
  position:absolute;
  left:0px;
  top:0px;
  width:66px;
  height:16px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:13px;
}
.u2681 {
  position:absolute;
  left:62px;
  top:73px;
  width:66px;
  height:16px;
  font-size:13px;
}
.u2682 {
  position:absolute;
  left:0px;
  top:0px;
  width:66px;
  white-space:nowrap;
}
#u2665-1 {
  position:absolute;
  left:0px;
  top:0px;
  width:518px;
  height:102px;
}
#u2665-2 {
  position:absolute;
  left:0px;
  top:102px;
  width:518px;
  height:102px;
}
#u2665 {
  position:absolute;
  left:0px;
  top:191px;
  width:518px;
  height:204px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
}
#u2665_ann {
  position:absolute;
  left:511px;
  top:187px;
  width:1px;
  height:1px;
}
.u2684 {
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
.u2685_div {
  position:absolute;
  left:0px;
  top:0px;
  width:120px;
  height:120px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(204, 204, 204, 1);
  border-radius:5px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
.u2685 {
  position:absolute;
  left:0px;
  top:0px;
  width:120px;
  height:120px;
}
.u2685_div.selected {
  position:absolute;
  left:0px;
  top:0px;
  width:120px;
  height:120px;
  background:inherit;
  background-color:rgba(0, 255, 255, 0.156862745098039);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(204, 204, 204, 1);
  border-radius:5px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
.u2685.selected {
}
.u2686 {
  position:absolute;
  left:2px;
  top:52px;
  width:116px;
  visibility:hidden;
  word-wrap:break-word;
}
.u2687_img {
  position:absolute;
  left:0px;
  top:0px;
  width:50px;
  height:50px;
}
.u2687 {
  position:absolute;
  left:35px;
  top:17px;
  width:50px;
  height:50px;
}
.u2688 {
  position:absolute;
  left:2px;
  top:17px;
  width:46px;
  visibility:hidden;
  word-wrap:break-word;
}
.u2689_div {
  position:absolute;
  left:0px;
  top:0px;
  width:80px;
  height:16px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  text-align:center;
}
.u2689 {
  position:absolute;
  left:20px;
  top:83px;
  width:80px;
  height:16px;
  text-align:center;
}
.u2690 {
  position:absolute;
  left:0px;
  top:0px;
  width:80px;
  word-wrap:break-word;
}
#u2683-1 {
  position:absolute;
  left:0px;
  top:0px;
  width:120px;
  height:120px;
}
#u2683-2 {
  position:absolute;
  left:130px;
  top:0px;
  width:120px;
  height:120px;
}
#u2683-3 {
  position:absolute;
  left:260px;
  top:0px;
  width:120px;
  height:120px;
}
#u2683-4 {
  position:absolute;
  left:390px;
  top:0px;
  width:120px;
  height:120px;
}
#u2683 {
  position:absolute;
  left:8px;
  top:11px;
  width:510px;
  height:120px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
}
#u2683_ann {
  position:absolute;
  left:511px;
  top:7px;
  width:1px;
  height:1px;
}
#u2691_div {
  position:absolute;
  left:0px;
  top:0px;
  width:520px;
  height:37px;
  background:inherit;
  background-color:rgba(204, 204, 204, 0.498039215686275);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(204, 204, 204, 1);
  border-left:0px;
  border-top:0px;
  border-right:0px;
  border-radius:0px;
  border-top-left-radius:0px;
  border-top-right-radius:0px;
  border-bottom-right-radius:0px;
  border-bottom-left-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:15px;
  text-align:left;
}
#u2691 {
  position:absolute;
  left:-2px;
  top:395px;
  width:520px;
  height:37px;
  font-size:15px;
  text-align:left;
}
#u2692 {
  position:absolute;
  left:2px;
  top:10px;
  width:516px;
  word-wrap:break-word;
}
.u2694 {
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
.u2695_div {
  position:absolute;
  left:0px;
  top:0px;
  width:520px;
  height:78px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(204, 204, 204, 1);
  border-left:0px;
  border-top:0px;
  border-right:0px;
  border-radius:0px;
  border-top-left-radius:0px;
  border-top-right-radius:0px;
  border-bottom-right-radius:0px;
  border-bottom-left-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
.u2695 {
  position:absolute;
  left:0px;
  top:0px;
  width:520px;
  height:78px;
}
.u2696 {
  position:absolute;
  left:2px;
  top:31px;
  width:516px;
  visibility:hidden;
  word-wrap:break-word;
}
.u2697_img {
  position:absolute;
  left:0px;
  top:0px;
  width:50px;
  height:50px;
}
.u2697 {
  position:absolute;
  left:21px;
  top:14px;
  width:50px;
  height:50px;
}
.u2698 {
  position:absolute;
  left:2px;
  top:17px;
  width:46px;
  visibility:hidden;
  word-wrap:break-word;
}
.u2699_div {
  position:absolute;
  left:0px;
  top:0px;
  width:201px;
  height:16px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
.u2699 {
  position:absolute;
  left:81px;
  top:15px;
  width:201px;
  height:16px;
}
.u2700 {
  position:absolute;
  left:0px;
  top:0px;
  width:201px;
  white-space:nowrap;
}
.u2699_ann {
  position:absolute;
  left:275px;
  top:11px;
  width:1px;
  height:1px;
}
.u2701_div {
  position:absolute;
  left:0px;
  top:0px;
  width:287px;
  height:16px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:13px;
  color:#999999;
}
.u2701 {
  position:absolute;
  left:81px;
  top:44px;
  width:287px;
  height:16px;
  font-size:13px;
  color:#999999;
}
.u2702 {
  position:absolute;
  left:0px;
  top:0px;
  width:287px;
  white-space:nowrap;
}
.u2701_ann {
  position:absolute;
  left:361px;
  top:40px;
  width:1px;
  height:1px;
}
.u2703_div {
  position:absolute;
  left:0px;
  top:0px;
  width:43px;
  height:16px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  color:#666666;
}
.u2703 {
  position:absolute;
  left:453px;
  top:12px;
  width:43px;
  height:16px;
  color:#666666;
}
.u2704 {
  position:absolute;
  left:0px;
  top:0px;
  width:43px;
  white-space:nowrap;
}
.u2703_ann {
  position:absolute;
  left:489px;
  top:8px;
  width:1px;
  height:1px;
}
#u2693-1 {
  position:absolute;
  left:0px;
  top:0px;
  width:520px;
  height:78px;
}
#u2693-2 {
  position:absolute;
  left:0px;
  top:78px;
  width:520px;
  height:78px;
}
#u2693 {
  position:absolute;
  left:0px;
  top:432px;
  width:520px;
  height:156px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
}
#u2693_ann {
  position:absolute;
  left:513px;
  top:428px;
  width:1px;
  height:1px;
}
