body {
  margin:0px;
  background-image:none;
  position:relative;
  left:-0px;
  width:518px;
  margin-left:auto;
  margin-right:auto;
  text-align:left;
}
#base {
  position:absolute;
  z-index:0;
}
#u8139_div {
  position:absolute;
  left:0px;
  top:0px;
  width:518px;
  height:37px;
  background:inherit;
  background-color:rgba(204, 204, 204, 0.498039215686275);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(204, 204, 204, 1);
  border-left:0px;
  border-top:0px;
  border-right:0px;
  border-radius:0px;
  border-top-left-radius:0px;
  border-top-right-radius:0px;
  border-bottom-right-radius:0px;
  border-bottom-left-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:15px;
  text-align:left;
}
#u8139 {
  position:absolute;
  left:0px;
  top:154px;
  width:518px;
  height:37px;
  font-size:15px;
  text-align:left;
}
#u8140 {
  position:absolute;
  left:2px;
  top:10px;
  width:514px;
  word-wrap:break-word;
}
.u8142 {
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
.u8143_div {
  position:absolute;
  left:0px;
  top:0px;
  width:518px;
  height:102px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(204, 204, 204, 1);
  border-left:0px;
  border-top:0px;
  border-right:0px;
  border-radius:0px;
  border-top-left-radius:0px;
  border-top-right-radius:0px;
  border-bottom-right-radius:0px;
  border-bottom-left-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
.u8143 {
  position:absolute;
  left:0px;
  top:0px;
  width:518px;
  height:102px;
}
.u8144 {
  position:absolute;
  left:2px;
  top:43px;
  width:514px;
  visibility:hidden;
  word-wrap:break-word;
}
.u8145_img {
  position:absolute;
  left:0px;
  top:0px;
  width:30px;
  height:30px;
}
.u8145 {
  position:absolute;
  left:22px;
  top:15px;
  width:30px;
  height:30px;
}
.u8146 {
  position:absolute;
  left:2px;
  top:7px;
  width:26px;
  visibility:hidden;
  word-wrap:break-word;
}
.u8145_ann {
  position:absolute;
  left:45px;
  top:11px;
  width:1px;
  height:1px;
}
.u8147_div {
  position:absolute;
  left:0px;
  top:0px;
  width:280px;
  height:26px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:14px;
}
.u8147 {
  position:absolute;
  left:62px;
  top:17px;
  width:280px;
  height:26px;
  font-size:14px;
}
.u8148 {
  position:absolute;
  left:0px;
  top:5px;
  width:280px;
  word-wrap:break-word;
}
.u8149_div {
  position:absolute;
  left:0px;
  top:0px;
  width:101px;
  height:24px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:12px;
}
.u8149 {
  position:absolute;
  left:128px;
  top:43px;
  width:101px;
  height:24px;
  font-size:12px;
}
.u8150 {
  position:absolute;
  left:0px;
  top:4px;
  width:101px;
  word-wrap:break-word;
}
.u8149_ann {
  position:absolute;
  left:222px;
  top:39px;
  width:1px;
  height:1px;
}
.u8151_div {
  position:absolute;
  left:0px;
  top:0px;
  width:37px;
  height:15px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:12px;
  color:#999999;
  text-align:right;
}
.u8151 {
  position:absolute;
  left:457px;
  top:20px;
  width:37px;
  height:15px;
  font-size:12px;
  color:#999999;
  text-align:right;
}
.u8152 {
  position:absolute;
  left:0px;
  top:0px;
  width:37px;
  white-space:nowrap;
}
.u8151_ann {
  position:absolute;
  left:487px;
  top:16px;
  width:1px;
  height:1px;
}
.u8153_div {
  position:absolute;
  left:0px;
  top:0px;
  width:101px;
  height:24px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
.u8153 {
  position:absolute;
  left:128px;
  top:72px;
  width:101px;
  height:24px;
}
.u8154 {
  position:absolute;
  left:0px;
  top:0px;
  width:101px;
  word-wrap:break-word;
}
.u8155_div {
  position:absolute;
  left:0px;
  top:0px;
  width:66px;
  height:16px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:13px;
}
.u8155 {
  position:absolute;
  left:62px;
  top:46px;
  width:66px;
  height:16px;
  font-size:13px;
}
.u8156 {
  position:absolute;
  left:0px;
  top:0px;
  width:66px;
  white-space:nowrap;
}
.u8157_div {
  position:absolute;
  left:0px;
  top:0px;
  width:66px;
  height:16px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:13px;
}
.u8157 {
  position:absolute;
  left:62px;
  top:73px;
  width:66px;
  height:16px;
  font-size:13px;
}
.u8158 {
  position:absolute;
  left:0px;
  top:0px;
  width:66px;
  white-space:nowrap;
}
#u8141-1 {
  position:absolute;
  left:0px;
  top:0px;
  width:518px;
  height:102px;
}
#u8141-2 {
  position:absolute;
  left:0px;
  top:102px;
  width:518px;
  height:102px;
}
#u8141 {
  position:absolute;
  left:0px;
  top:191px;
  width:518px;
  height:204px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
}
#u8141_ann {
  position:absolute;
  left:511px;
  top:187px;
  width:1px;
  height:1px;
}
.u8160 {
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
.u8161_div {
  position:absolute;
  left:0px;
  top:0px;
  width:120px;
  height:120px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(204, 204, 204, 1);
  border-radius:5px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
.u8161 {
  position:absolute;
  left:0px;
  top:0px;
  width:120px;
  height:120px;
}
.u8161_div.selected {
  position:absolute;
  left:0px;
  top:0px;
  width:120px;
  height:120px;
  background:inherit;
  background-color:rgba(0, 255, 255, 0.156862745098039);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(204, 204, 204, 1);
  border-radius:5px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
.u8161.selected {
}
.u8162 {
  position:absolute;
  left:2px;
  top:52px;
  width:116px;
  visibility:hidden;
  word-wrap:break-word;
}
.u8163_img {
  position:absolute;
  left:0px;
  top:0px;
  width:50px;
  height:50px;
}
.u8163 {
  position:absolute;
  left:35px;
  top:17px;
  width:50px;
  height:50px;
}
.u8164 {
  position:absolute;
  left:2px;
  top:17px;
  width:46px;
  visibility:hidden;
  word-wrap:break-word;
}
.u8165_div {
  position:absolute;
  left:0px;
  top:0px;
  width:80px;
  height:16px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  text-align:center;
}
.u8165 {
  position:absolute;
  left:20px;
  top:83px;
  width:80px;
  height:16px;
  text-align:center;
}
.u8166 {
  position:absolute;
  left:0px;
  top:0px;
  width:80px;
  word-wrap:break-word;
}
#u8159-1 {
  position:absolute;
  left:0px;
  top:0px;
  width:120px;
  height:120px;
}
#u8159-2 {
  position:absolute;
  left:130px;
  top:0px;
  width:120px;
  height:120px;
}
#u8159-3 {
  position:absolute;
  left:260px;
  top:0px;
  width:120px;
  height:120px;
}
#u8159-4 {
  position:absolute;
  left:390px;
  top:0px;
  width:120px;
  height:120px;
}
#u8159 {
  position:absolute;
  left:8px;
  top:11px;
  width:510px;
  height:120px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
}
#u8159_ann {
  position:absolute;
  left:511px;
  top:7px;
  width:1px;
  height:1px;
}
#u8167_div {
  position:absolute;
  left:0px;
  top:0px;
  width:520px;
  height:37px;
  background:inherit;
  background-color:rgba(204, 204, 204, 0.498039215686275);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(204, 204, 204, 1);
  border-left:0px;
  border-top:0px;
  border-right:0px;
  border-radius:0px;
  border-top-left-radius:0px;
  border-top-right-radius:0px;
  border-bottom-right-radius:0px;
  border-bottom-left-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:15px;
  text-align:left;
}
#u8167 {
  position:absolute;
  left:-2px;
  top:395px;
  width:520px;
  height:37px;
  font-size:15px;
  text-align:left;
}
#u8168 {
  position:absolute;
  left:2px;
  top:10px;
  width:516px;
  word-wrap:break-word;
}
.u8170 {
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
.u8171_div {
  position:absolute;
  left:0px;
  top:0px;
  width:520px;
  height:78px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(204, 204, 204, 1);
  border-left:0px;
  border-top:0px;
  border-right:0px;
  border-radius:0px;
  border-top-left-radius:0px;
  border-top-right-radius:0px;
  border-bottom-right-radius:0px;
  border-bottom-left-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
.u8171 {
  position:absolute;
  left:0px;
  top:0px;
  width:520px;
  height:78px;
}
.u8172 {
  position:absolute;
  left:2px;
  top:31px;
  width:516px;
  visibility:hidden;
  word-wrap:break-word;
}
.u8173_img {
  position:absolute;
  left:0px;
  top:0px;
  width:50px;
  height:50px;
}
.u8173 {
  position:absolute;
  left:21px;
  top:14px;
  width:50px;
  height:50px;
}
.u8174 {
  position:absolute;
  left:2px;
  top:17px;
  width:46px;
  visibility:hidden;
  word-wrap:break-word;
}
.u8175_div {
  position:absolute;
  left:0px;
  top:0px;
  width:201px;
  height:16px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
.u8175 {
  position:absolute;
  left:81px;
  top:15px;
  width:201px;
  height:16px;
}
.u8176 {
  position:absolute;
  left:0px;
  top:0px;
  width:201px;
  white-space:nowrap;
}
.u8175_ann {
  position:absolute;
  left:275px;
  top:11px;
  width:1px;
  height:1px;
}
.u8177_div {
  position:absolute;
  left:0px;
  top:0px;
  width:287px;
  height:16px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:13px;
  color:#999999;
}
.u8177 {
  position:absolute;
  left:81px;
  top:44px;
  width:287px;
  height:16px;
  font-size:13px;
  color:#999999;
}
.u8178 {
  position:absolute;
  left:0px;
  top:0px;
  width:287px;
  white-space:nowrap;
}
.u8177_ann {
  position:absolute;
  left:361px;
  top:40px;
  width:1px;
  height:1px;
}
.u8179_div {
  position:absolute;
  left:0px;
  top:0px;
  width:43px;
  height:16px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  color:#666666;
}
.u8179 {
  position:absolute;
  left:453px;
  top:12px;
  width:43px;
  height:16px;
  color:#666666;
}
.u8180 {
  position:absolute;
  left:0px;
  top:0px;
  width:43px;
  white-space:nowrap;
}
.u8179_ann {
  position:absolute;
  left:489px;
  top:8px;
  width:1px;
  height:1px;
}
#u8169-1 {
  position:absolute;
  left:0px;
  top:0px;
  width:520px;
  height:78px;
}
#u8169-2 {
  position:absolute;
  left:0px;
  top:78px;
  width:520px;
  height:78px;
}
#u8169 {
  position:absolute;
  left:0px;
  top:432px;
  width:520px;
  height:156px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
}
#u8169_ann {
  position:absolute;
  left:513px;
  top:428px;
  width:1px;
  height:1px;
}
